template(name='comments')
    .ui.grey.header
        i.chat.icon
        |comments
    if currentUser
        .ui.fluid.icon.input
            i.plus.icon
            input.add_comment(model='text' placeholder='add...')
    .ui.comments
        each doc_comments
            .comment
                .content
                    .header #{body}
                    .meta #{when}
                    .actions
                        +voting
                        +remove_button


template(name='goto_model')
    if is_admin
        a.ui.circular.icon.basic.button.goto_model(href="/m/#{slug}" title="goto #{slug}")
            //- i.external.icon
            +ismall name='external-link'

template(name='events_column')
    .ui.accordion
        h4.active.title
            // +i name='edit-property' classes='ui inline image'
            i.rss.icon
            | log
            i.dropdown.icon
        .active.content
            .ui.feed
                each log_events
                    .event
                        .label
                            img.ui.image(src="{{c.url object.image width=400 height=400 gravity='face' crop='fill'}}")
                        .content
                            .summary
                                |#{body}
                                .date
                                    |#{when}
                                if is_dev
                                    +remove_button




template(name='follow')
    .ui.segment
        .ui.header
            i.user.plus.icon
            |follow
        +user_list_toggle key='follower_ids' icon='rss' add_label='Follow' remove_label='Unfollow' color='blue'


template(name='toggle_edit')
    .ui.button.toggle_edit
        i.pencil.icon

template(name='user_list_info')
    a.ui.button.item(href="/user/#{user._id}/view")
        img.ui.avatar.image(src=user.profile.profilePic title=name)
        |#{user.profile.name}
        +user_status user


template(name='view_full_button')
    a.ui.button.ui.icon.button(href="/view/#{_id}" class=classes data-tooltip='View Full')
        i.double.icon
        |view

template(name='user_status')
    if online 
        // .ui.label(class='{{labelClass}}') 
        .ui.empty.green.circular.label(title='Online')
        // img.ui.avatar.image(src="https://img.icons8.com/connection-user_status-on/color/48" title='Online' width="48" height="48")
        // |Online
    else if idle
        .ui.empty.yellow.circular.label(title='Idle')
        // .ui.label(class='{{labelClass}}') Idle
        // else 
        //     |Offline

template(name='user_card')
    with user
        .ui.grid
            .four.wide.column
                if image_id
                    img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
            .twelve.wide.column
                .header #{first_name} #{last_name} 
                .meta @#{username}
                +user_email
                //- +emails_edit    
        //- +user_status user


template(name='user_email')
    .ui.small.header #{email_address}
    
    if email_verified
        .ui.green.label 
            i.checkmark.icon
            |verified
    else
        .ui.orange.label 
            i.ban.icon
            |unverified
        

template(name='big_user_card')
    with user
        //- .ui.card
        .ui.card
            .image
                img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
            a.content(href="/user/#{username}")
                .header #{first_name} #{last_name} 
                .meta @#{username}
                //- +array_view key='tags' label='Tags' direct=true
            if is_admin
                .content
                    +text_view key='address' label='address' direct=true
                    +number_view key='building_number' label='building #' direct=true
                    +number_view key='unit_number' label='apartment #' direct=true
                    +text_view key='building_code' label='building code' direct=true
                    //- +array_view key='tags' label='Tags'
                    if user_is_resident
                        div membership start 
                            strong #{start_date}
                        div expiration 
                            strong #{lease_expiration}
                    if is_staff
                        +checkin_button
                    +email_validation_check
                    +lease_expiration_check
                    +rules_and_regs_check
                        
                    //- +i name='swimming-pool' classes='ui avatar image'
                    //- +i name='weightlift' classes='ui avatar image'
                    //- +i name='jacuzzi' classes='ui avatar image'
                    //- +i name='shower' classes='ui avatar image'
                    //- +i name='racquetball' classes='ui avatar image'
                    //- +i name='water-steam' classes='ui avatar image'


                


template(name='user_info')
    a.ui.small.circular.basic.compact.button(href="/user/#{user.username}/")
        if user.image_id
            img.ui.avatar.image(src="{{c.url user.image_id width=100 height=100 gravity='face' crop='fill'}}")
        |#{user.first_name} #{user.last_name}
        |@#{user.username}
        +user_status user

template(name='username_info')
    a.ui.small.circular.basic.compact.button(href="/user/#{user.username}/")
        if user.image_id
            img.ui.avatar.image(src="{{c.url user.image_id width=100 height=100}}")
        |#{user.first_name} #{user.last_name}
        |@#{user.username}
        +user_status user


template(name='role_editor')
    each roles
        .ui.button #{this}

template(name='author_info')
    with author
        a.ui.circular.compact.basic.button(href="/user/#{username}")
            if image_id
                img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
             by #{first_name} #{last_name}

template(name='creation_info')
    .ui.small.grey.inline.header #{when}


template(name='user_list_toggle')
    if currentUser
        .ui.circular.icon.button.toggle(class=user_list_toggle_class title=label)
            i.icon(class=icon)
            //- |#{label}
        each list_users
            +user_info


template(name='voting')
    if points
        strong #{points}
    .ui.circular.basic.icon.button.upvote(class=upvote_class title='upvote')
        i.thumbs.up.large.icon
    //- each upvoter_ids
    //-     +user_info
    .ui.circular.basic.icon.button.downvote(title='downvote' class=downvote_class)
        i.thumbs.down.large.icon
    //- each downvoter_ids
    //-     +user_info



template(name='view_button')
    a.ui.icon.circular.large.basic.button.view(title='view' href="/m/#{model}/#{_id}/view")
        //- i.right.chevron.large.icon
        +ismall name='chevron right'


template(name='remove_button')
    a.ui.circular.basic.icon.button.remove(title='delete')
        i.remove.red.icon
        //- |Delete

template(name='add_button')
    a.ui.large.basic.circular.button.add(title="Add #{model}")
        i.plus.icon
        |#{model}



//- template(name='edit_button')
//-     a.ui.button.icon.edit(title='Edit' href="/m/#{model}/#{_id}/edit")
//-         i.blue.pencil.icon
//-         |Edit


template(name='save_button')
    a.ui.button.large.icon.save(title='Save' href="/m/#{model}/#{_id}/view")
        i.checkmark.green.icon
        |save

template(name='toggle_button')
    .ui.icon.toggle.button(title=label)
        i.icon(class=icon)
    each selected
        |#{username}


template(name='view_user_button')
    .view_user.view(title="view #{username}")
        i.play.icon
        |view

template(name='add_model_button')
    .ui.icon.button.add(title="add #{model}")
        i.plus.icon
        |#{model}






            
template(name='email_validation_check')
    if email_verified
        .ui.large.circular.green.basic.label
            i.checkmark.icon
            |email validated
    else
        .ui.basic.yellow.circular.large.button.send_verification
            i.ban.icon
            |email unvalidated
        .ui.basic.circular.label
            |#{times} times sent
        
        
template(name='lease_expiration_check')
    if lease_expiring
        .ui.large.circular.yellow.label
            i.clock.icon
            |lease expiring 
        
        
template(name='rules_and_regs_check')
    unless rules_signed
        .ui.basic.large.circular.red.button.sign_rules
            i.signature.icon
            |rules and regs not signed 
    else
        a.ui.basic.circular.green.button(href="/m/rules_regs_signing/#{rules_signed._id}")
            i.signature.icon
            |rules and regs signed 
        
        
template(name='guest_waiver_check')
    unless waiver_signed
        .ui.basic.large.circular.red.button
            i.signature.icon
            |guest waiver not signed 
        
        
        
        
