template(name='building_edit')
    with building
        .ui.container
            .ui.header Edit Building
            .ui.form
                +text_edit key='building_code' label='Building Code'
                +text_edit key='slug' label='Slug'
                .field
                    label Building Numbers
                    .ui.divided.list
                        each building_numbers
                            .item
                                | #{this}
                                i.remove_number.red.link.remove.icon
                    .ui.action.input
                        input#new_building_number(type='number' min='0')
                        #add_building_number.ui.button Add Building Number
                +array_edit key='tags'  
                .field
                    label Building Street: #{building_street}
                    // input#building_street(type='text' value=building_street)
                    select#select_building_street
                        option Change Street
                        option(value='Shadow Creek Dr') Shadow Creek Dr
                        option(value='Sundown Ln') Sundown Ln
                        option(value='Springdale Ln') Springdale Ln
                a.ui.green.big.button(href="/building/#{_id}/view") Save Building
                #delete_building.ui.red.icon.button
                    i.trash.icon            
            
template(name='buildings')
    .ui.container
        h1.ui.center.aligned.header Buildings
            i#add_building.green.plus.link.icon 
        +cloud filter='building'
        table.ui.striped.sortable.table
            thead
                tr
                    th Code
                    th Numbers
                    th Street
                    th Actions
            tbody
                each buildings
                    tr
                        td #{building_code}
                        td 
                            each building_numbers
                                .ui.basic.large.label #{this}
                        td.single.line #{building_street}
                        td.single.line 
                            a.ui.large.icon.button(href="/building/#{_id}/edit")
                                i.pencil.icon
                            a.ui.large.icon.button(href="/building/#{_id}/view")
                                i.right.chevron.icon

            
            
template(name='building_view')
    with current_doc
        .ui.padded.stackable.grid
            .row
                .four.wide.column
                    a.ui.button(href='/buildings')
                        i.left.arrow.icon
                        |Buildings
                .eight.wide.column
                    h1.ui.center.aligned.header Building #{building_code} Page
                .four.wide.column
            .row
                .ten.wide.column
                    .ui.dividing.header Notices
                    .ui.dividing.header Posts
                    .ui.dividing.header Maintenance Requests
                    .ui.dividing.header Residents
                .six.wide.column
                    .ui.form
                        +text_view key='building_code' label='Code'
                        +array_view key='building_numbers' label='Numbers'
                        +text_view key='building_street' label='Street'
                    .ui.dividing.header
                        i.configure.icon
                        |Admin
                    a.ui.button(href="/building/#{_id}/edit") Edit Building
                    
