template(name='dashboard')
    .ui.container
        +cloud filter='model'
        .ui.hidden.divider
        .ui.four.cards
            each models
                +model_card
            //- +healthclub_card
        
        
template(name='model_card')
    a.ui.card(href="/m/#{slug}")
        .content
            .ui.header
                i.icon(class=icon)
                | #{title}
            .content

        
                
                
template(name='healthclub_card')
    .ui.card
        .content
            a.header(href='/checkin') 
                i.clinic.medical.icon
                |Health Club
            
            //- .ui.button Check In
            .ui.small.header #{checked_in_count} Current Members
            
            

template(name='home')
    .ui.centered.cards
        #add_model.ui.icon.button
            i.plus.icon
        each models
            a.ui.card(href="/s/#{slug}")
                .content
                    .ui.header
                        i.icon(class=icon)
                        |#{title}
