template(name='dashboard')
    .ui.stackable.padded.grid
        //- .row
        //-     .four.wide.column
        //-         .ui.header 
        //-             i.dashboard.icon
        //-             |dashboard
        .row
            .four.wide.column
                +todays_schedule
            .four.wide.column
                +top_buying_user
            .four.wide.column
                +top_selling_products
            .four.wide.column
                +todays_earnings
            .four.wide.column
                +product_stats


template(name='product_stats')
    .ui.header 
        i.line.chart.icon
        |stats
    .ui.small.header #{currentUser.current_product_count} products
    .ui.small.header #{currentUser.reservation_count} reservations
        
template(name='top_buying_user')
    .ui.header 
        i.user.icon
        |top buying user
    each top_buying_users
        .ui.small.header
            img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='crop'}}")        
            | #{username}
        
template(name='top_selling_products')
    .ui.header
        i.star.icon
        | top selling products
    each top_products
        .ui.small.header
            img.ui.avatar.image(src="{{c.url image width=100 height=100 gravity='face' crop='crop'}}")        
            | #{title}
        
template(name='todays_earnings')
    .ui.header 
        i.money.icon
        |todays earnings
    .ui.statistic
        .value $24
        .label earned
    .ui.button.recalculate_todays_earnings recalculate
    each todays_reservations
        .ui.header #{date} #{notes}
        a(href="/shop/#{product_id}/view") product view


template(name='todays_schedule')
    .ui.header
        i.calendar.icon
        |schedule for today hi
    each today_events
        .ui.header hi #{title} #{long_timestamp} #{_author_username}
