template(name='front')
    .ui.padded.grid
        .row
            .sixteen.wide.column
                .ui.large.center.aligned.header 
                    +i name='apartment'
                    |Gold Run Community
        .row
            .eight.wide.column
                .ui.smoothed.segment
                    .ui.header 
                        +i name='treadmill'
                        |Health Club
                    .ui.small.header
                        i.ban.icon
                        |Upper Hot Tub out for forseeable future due to crack in frame.
                    .ui.small.header
                        i.green.checkmark.icon
                        |Lower Hot Tub Operational
                    .ui.small.grey.header
                        |Last recorded temp: 99.9
                    .ui.small.header
                        i.green.checkmark.icon
                        |Pool Operational
                    .ui.small.grey.header
                        |Last recorded temp: 80.3
            .eight.wide.column
                +model_scroller model='photo' header='Photos'
        .eight.wide.column
            +model_scroller model='marketplace' header='Marketplace'
        .eight.wide.column
            +model_scroller model='gr_post' header='Posts'


template(name='gr_post_doc_view')
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    each tags
        .ui.label #{this}



template(name='marketplace_doc_view')
    .ui.header hi
    +image_view key='picture' direct=true
    +html_view key='content' direct=true
    each tags
        .ui.label #{this}




template(name='photo_doc_view')
    img.ui.image(src="{{c.url image width=400 height=400 gravity='face' crop='fill'}}")
        
        
template(name='model_scroller')
    .ui.smoothed.segment
        .ui.inline.header #{header}
        .ui.circular.icon.basic.button.go_left
            i.left.chevron.icon
        .ui.circular.icon.basic.button.go_right
            i.right.chevron.icon
        with current_doc
            +Template.dynamic template=model_doc_template
                
    
