template(name='front')
    .ui.padded.stackable.grid
        //- .row
        //-     .sixteen.wide.column
        //-         .ui.large.center.aligned.header 
        //-             +i name='apartment'
        //-             |Gold Run Community
        .two.column.row
            .column
                +healthclub_status
                .ui.header groups
                .ui.header chat
                //- +model_scroller model='event' header='Events' icon='calendar'
            .column
                .ui.header event calendar
                +cal
                //- +model_scroller model='photo' header='Photos' icon='image'
        .four.column.row    
            .column
                +model_scroller model='for_rent' header='For Rent' icon='business'
            .column
                +model_scroller model='marketplace' header='Marketplace' icon='shop'
            .column
                +model_scroller model='free' header='Free' icon='handshake'
            .column
                +model_scroller model='gr_post' header='Posts' icon='post'
        //- .three.column.row    
        //-     .column
        //-         +model_scroller model='group' header='Groups' icon='groups'
        //-     .column
        //-         +model_scroller model='company' header='Businesses' icon='business'
        //-     .column
        //-         +model_scroller model='free' header='Free' icon='handshake'
        //- .three.column.row    
        //-     .column
        //-         +model_scroller model='library' header='Library' icon='library'
        //-     .column
        //-         +model_scroller model='ad' header='Resident Ads' icon='presentation'
        //-     .column
        //-         +model_scroller model='for_rent' header='For Rent' icon='business'



template(name='gr_post_doc_view')
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true



template(name='company_doc_view')
    +image_view key='logo' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true


template(name='group_doc_view')
    +text_view key='title' direct=true
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    +array_view key='tags' direct=true


template(name='ad_doc_view')
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true


template(name='library_doc_view')
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true


template(name='for_rent_doc_view')
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true

template(name='free_doc_view')
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true


template(name='business_doc_view')
    +image_view key='image' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true



template(name='event_doc_view')
    +text_view key='title' direct=true
    +image_view key='image' direct=true
    +html_view key='description' direct=true
    //- +array_view key='tags' direct=true



template(name='marketplace_doc_view')
    +image_view key='picture' direct=true
    +html_view key='content' direct=true
    //- +array_view key='tags' direct=true



template(name='photo_doc_view')
    img.ui.image(src="{{c.url image width=400 height=400 gravity='face' crop='fill'}}")
        
        
template(name='model_scroller')
    .ui.smoothed.segment
        a.ui.inline.header.go_to_model(href="/m/#{model}")
            if icon 
                //- +i name=icon
                i.icon(class=icon)
            |#{header}
        //- if can_go_left            
        .ui.icon.button.go_left(class="{{#unless can_go_left}}disabled{{/unless}}")
            i.left.chevron.icon
        //- if can_go_right
        .ui.icon.button.go_right(class="{{#unless can_go_right}}disabled{{/unless}}")
            i.right.chevron.icon
        with current_doc
            +Template.dynamic template=model_doc_template
            //- if currentUser
            +view_button
                
    

template(name='healthclub_status')
    .ui.header
        |upper hot tub out of order
    div
    .ui.inline.header
        i.green.checkmark.icon
        |lower hot tub
    //- .ui.grey.inline.header
    //-     |100.5°
    div
    .ui.inline.header
        i.green.checkmark.icon
        |pool
    //- .ui.grey.inline.header
    //-     |80.3°
