template(name='grid')
    //- h1.ui.center.aligned.grey.header 
    //-     each currentUser.roles
    //-         strong #{this} &nbsp;
    //-     |portal
    .ui.left.icon.transparent.input
        i.search.icon
        input.model_filter(type='text' autofocus='autofocus')
    +cloud filter='model'
    .ui.stackable.four.column.padded.grid
        each role_models
            .column
                a.grid_seg(href="/m/#{slug}" tabindex="0")
                    .ui.segment.home_segment.set_model
                        .ui.header 
                            //- +i name=icon
                            i.icon(class=icon)
                            |#{title}
                        .ui.small.grey.header #{description}
                        //- span(title='views')
                        //-     |#{views}
                        //-     i.eye.icon
                        if is_dev
                            each view_roles
                                .ui.small.label #{this}
