template(name='grid')
    //- .ui.left.icon.input
    //-     input.model_filter(type='text' autofocus='autofocus')
    //-     if model_filter_value
    //-         i.remove.link.icon
    //-     else 
    //-         i.search.icon
    //- unless model_filter_value
    //-     +cloud filter='model'
    +revenue_calculator            
    .ui.stackable.three.column.padded.grid
        .row
            each role_models
                .column
                    +grid_role_model
        
template(name='grid_role_model')
    .ui.segment
        a.ui.inline.capitalize.header(href="/m/#{slug}" tabindex="0")
            +i name=icon classes='ui inline image'
            //- i.icon(class=icon)
            |#{model_doc_count}
            |#{title}
        //- i.grey.eye.icon
        //- i.grey.thumbs.up.icon
        //- i.grey.clock.icon
        //- div
        .ui.list
            each model_docs
                +model_list_item_view
        //- span(title='views')
        //-     |#{views}
        if is_dev
            span(title='views')
                i.eye.grey.icon
                |#{views}
            each view_roles
                .ui.small.basic.label(title='viewable by') #{this}


template(name='model_list_item_view')
    //- a.item(href="/m/#{model}/#{_id}/view") 
    .item.pointer.goto_doc
        if image
            img.ui.mini.inline.image(src="{{c.url image width=400 height=400 gravity='face' crop='fill'}}")
        if icon
            +ismall name=icon
        span #{title} #{name}
            .ui.basic.label $#{hourly_dollars}/hr
        //- span.lowercase #{title} #{name}
        div



template(name='revenue_calculator')
    .ui.fluid.accordion
        .active.title
            .ui.header 
                +i name='calculator'
                |rental revenue calculator
                i.dropdown.icon
        .active.content
            with calculator_doc
                .ui.stackable.grid
                    .ten.wide.column
                        if is_admin
                            .ui.button.create_simluated_item 
                                i.plus.icon
                                |simulated item
                        .ui.three.stackable.cards
                            each items
                                +simulated_rental_item
                    .six.wide.column
                        .ui.inline.header 
                            +i name='money'
                            |revenue
                        i.circular.refresh.link.icon.recalc_revenue_stats
                        .ui.header 
                            | #{daily_rentals}
                            small reservations/day
                        .ui.header 
                            |#{total_weekly_rentals}
                            small total weekly rentals
                        .ui.header 
                            |$#{totaled_daily_revenue}
                            small average daily revenue 
                        .ui.header 
                            |$#{totaled_weekly_revenue}
                            small total weekly revenue 
                        .ui.header 
                            |$#{totaled_monthly_revenue}
                            small total monthly revenue 
                            
                        .ui.header 
                            +i name='time'
                            |time committed
                        .ui.header #{total_daily_minutes_committed}
                            small minutes/day
                        .ui.header
                            small avg
                            |#{average_hourly_wage}
                            small $/hr wage
                        .ui.header #{total_weekly_hours_committed}
                            small hrs/week
                        .ui.header 
                            +i name='friends'
                            |#{total_neighbor_interactions} neighbor interactions


template(name='simulated_rental_item')
    .ui.card
        .content
            //- .ui.inline.header item
            +small_boolean_edit key='owned' icon='money bill' title='you own the product and passively get 50% of the fee')
            +small_boolean_edit key='handled' icon='suitcase rolling' title='you facilitate the rental and get 45% of the fee')
            if handled
                +small_boolean_edit key='delivery' icon='luggage cart' title='assume 5min delivery/pickup for each reservation')
            .ui.form
                .eight.wide.field
                    label reservations/day
                    input.rental_amount(type='number' value="#{rental_amount}")
                .ui.right.labeled.fluid.input
                    input.average_hourly(type='number' value="#{average_hourly}")
                    .ui.basic.label $/hr
                .ui.labeled.fluid.input
                    input.daily_hours_rented(type='number' value="#{daily_hours_rented}")
                    .ui.basic.label hrs/day
            //- |$#{average_hourly}/hr 
            |* #{hourly_cut}% cut
            .ui.inline.header 
                |= $#{calculated_daily_revenue} 
                small /day
            .ui.header 
                small * 7 = 
                |$#{calculated_weekly_revenue} 
                small /week
            .ui.header #{minutes_committed}
                small minutes/day
        if is_admin
            +remove_button
    

template(name='small_boolean_edit')
    .ui.icon.button.toggle_boolean(title=title class=boolean_toggle_class)
        i.icon(class=icon)
