template(name='healthclub')
    unless dark_mode
        img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=500 crop='crop'}}")
    .ui.padded.stackable.grid.header-wrapper(class=invert_class)
        .sixteen.wide.column
            if dark_mode    
                //- h1.ui.center.aligned.header.bat_white.toggle_dark_mode
                h1.ui.center.aligned.header.bat_white
                    //- |abandon all hope ye who enter
                    |health club check in
            else    
                h1.ui.center.aligned.header
                    |health club check in
            //- if is_admin
            //-     .ui.left.icon.massive.fluid.input
            //-         input.barcode_entry(type='text' placeholder='barcode input...' autofocus)
            //-         i.qrcode.icon
            //- .ui.horizontal.divider or
            .ui.left.icon.massive.fluid.input
                input.username_search(type='text' placeholder='lookup resident...' autofocus)
                if is_query
                    i.remove.link.icon.clear_results
                else 
                    i.user.grey.icon
            .ui.center.aligned.basic.segment
                if checkedout_members.length
                    each checkedout_members
                        +checkin_button
                else
                    if checking_in
                        if is_query
                            .ui.center.aligned.header no members found
                            .ui.center.aligned.header please see staff to add
                            //- +add_resident
            unless is_query   
                .ui.padded.grid
                    .two.column.row
                        .column
                            +document_view key='health_club_notices'
                            +health_club_info
                        .column
                            unless dark_mode
                                +healthclub_status
                                .ui.header hours
                                .ui.big.list
                                    .item mon 7a-10p
                                    .item tues 7a-10p
                                    .item wed 7a-10p
                                    .item thur 7a-10p
                                    .item fri 7a-9p
                                    .item sat 8a-9p
                                    .item sun 8a-10p
                            if dark_mode
                                .ui.basic.segment
                                    .scanning
                                        video(autoplay="true" id="videoElement")
                                img.ui.rounded.image.invert(src="http://labs.serkan.io/images/body.gif")
                                img.ui.rounded.image.invert(src="https://media1.tenor.com/images/822b707dea3f13259a1dfd73ee92e6e3/tenor.gif?itemid=11511423")
                        
template(name='add_resident')
    .ui.stackable.padded.grid
        .centered.row
            .eight.wide.column
                h1.ui.center.aligned.grey.header
                    i.user.plus.icon
                    | resident
                .ui.big.form
                    .field
                        input#first_name(type='text' placeholder='First Name' autocomplete='off')
                    .field
                        input#last_name(type='text' placeholder='Last Name' autocomplete='off')
                    //- .field
                    //-     |Username
                    //-     input#username(type='text')
                if permission
                    .ui.fluid.green.big.button.create_and_checkin
                        |create resident
        
        
template(name='sign_waiver')
    with receipt_doc
        .ui.stackable.padded.grid
            .centered.row
                .twelve.wide.column.scrolling
                    .row
                        h1.ui.center.aligned.header
                            i.user.plus.icon
                            |sign waiver
                        with waiver_doc
                            |!{html}
                        +signature
                        .ui.fluid.green.button.sign_waiver
                            | sign waiver



template(name='checkin_button')
    unless healthclub_checkedin
        .ui.massive.basic.button.checkin
            //- i.sign.in.icon
            //- +i name='internal' classes='ui avatar image'
            //- |check in
            //- i.green.small.sign.in.icon
            h1 #{first_name} #{last_name}
    if healthclub_checkedin
        .ui.big.button.checkout
            i.sign.out.icon
            //- +i name='exit-sign' classes='ui avatar image'
            |check out
    //- +rules_sign
    //- +guest_sign
    //- .ui.accordion
    //-     .title
    //-         .ui.inline.small.header
    //-             |Events
    //-             i.dropdown.icon
    //-     .content
    //-         .ui.feed
    //-             each log_events
    //-                 .event
    //-                     .label
    //-                         img.ui.image(src="{{c.url object.image_id width=400 height=400 gravity='face' crop='fill'}}")
    //-                     .content
    //-                         .summary
    //-                             |#{body}
    //-                             .date
    //-                                 |#{when}
    //-                             if is_dev
    //-                                 +remove_button


template(name='health_club_info')
    .ui.stackable.grid.f5
        .two.column.inverted.row
            .column
                .ui.header wifi
                .ui.grey.header Gold Run Health Club / goldrun1
                .ui.header upstairs code
                .ui.grey.header 4589
                .ui.header colorado security services
                .ui.grey.header 303-443-3701
            .column
                .ui.header onsite manager
                .ui.big.list
                    .item Rick Hamp 
                    .item 303-545-1787
                    .item goldruncondos@gmail.com
                .ui.header after hours emergency
                .ui.grey.header 303-221-1117
                .ui.header boulder valley towing
                .ui.grey.header 303-444-4868


template(name='checkin_card')
    with user
        //- .ui.card
        //- .ui.grid
        //- .ui.grid.cloud.segment(class=checkin_card_class)
        .ui.grid.basic.segment
            .centered.row
                .column
                    if is_staff
                        img.ui.small.image(src="{{c.url user.image_id width=500 height=500 gravity='face' crop='fill'}}")
                    //- a.ui.header(href="/user/#{user.username}")
                    .ui.huge.header(href="/user/#{user.username}")
                         |#{user.first_name} #{user.last_name} 
                    //- .meta @#{user.username}
                    //- +array_view key='tags' label='Tags' direct=true
                    if is_admin
                        div #{user.address}
                        strong #{user.building_number}
                        strong ##{user.apt_number}
                        div membership start 
                        strong #{user.start_date}
                        div expiration 
                            strong #{user.lease_expiration}
                    //- with user
                    //-     div
                    //-     +email_validation_check
                    //-     div
                    //-     +resident_key_check
                    //-     div
                    //-     +lease_expiration_check
                    //-     div
                    //-     +rules_and_regs_check
                    //-     div
                    //-     +member_waiver_check
                    //-     div
                    //- .ui.hidden.divider
                    //- //- .ui.input
                    +multi_doc_input key='guests' ref_model='guest' title='lookup previous guest...' direct=true
                    //- //- .ui.hidden.divider
                    .ui.big.basic.button.add_guest
                        //- i.plus.icon
                        //- +ismall name='plus' classes='ui avatar image'
                        | register guest
                    div
                    with checking_in_doc
                        each checkin_guest_docs
                            .ui.big.basic.button.remove_guest 
                                i.remove.grey.icon
                                |#{first_name} #{last_name}
            .middle.aligned.row
                .two.wide.column
                    .ui.large.icon.basic.button.cancel_checkin
                        i.big.left.chevron.icon
                        //- +i name='undo'
                .twelve.wide.column
                    //- if red_flagged
                    //-     .ui.red.big.disabled.button
                    //-         |sign rules and regs to continue
                    //-         //- i.right.chevron.icon
                    //- else
                    .ui.big.inverted.green.fluid.button.complete_checkin
                        //- +i name='treadmill' classes='ui inline image'
                        .ui.inline.header 
                            |check in
                            i.right.chevron.icon
                        //- i.right.chevron.icon
                        //- .ui.basic.big.button.complete_checkin
                        //-     +i name='key' classes='ui inline image'
                        //-     .ui.inline.header court key check out
                        //-     //- i.right.chevron.icon
