template(name='goldrun')
    //- img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=500 crop='crop'}}")
    .ui.padded.stackable.grid
        .sixteen.wide.column
            //- h1.ui.center.aligned.header 
            //-     |Gold Run Health Club
            .ui.left.icon.huge.fluid.input
                input.username_search(type='text' placeholder='lookup resident name...')
                if is_query
                    i.remove.link.icon.clear_results
                else 
                    i.sign.in.green.icon
            .ui.stackable.padded.grid
                .row
                    .sixteen.wide.column
                        if checkedout_members.length
                            h2.ui.center.aligned.header 
                                |check in member
                            .ui.centered.cards
                                each checkedout_members
                                    .card
                                        //- .image
                                        //-     if image_id
                                        //-         img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                                        .content
                                            .header #{first_name} #{last_name}
                                            if is_dev
                                                .meta @#{username}
                                                a.ui.circular.basic.button(href="/user/#{username}/")
                                                    |view profile
                                                    +ismall name='chevron right'
                                            +checkin_button
                        else
                            if checking_in
                                if is_query
                                    .ui.cloud.center.aligned.segment
                                        .ui.center.aligned.header no members found
                                        .ui.center.aligned.header 
                                            |please show yellow card to staff and ask to add profile
                                    //- +add_resident
                if is_staff
                    .row
                        .sixteen.wide.column
                            h1.ui.center.aligned.header
                                i.shield.icon
                                |#{checkedin_members.count} checked in members
                            .ui.doubling.centered.cards
                                each checkedin_members
                                    +big_user_card username
                if is_frontdesk
                    .row
                        .sixteen.wide.column
                            h1.ui.center.aligned.header
                                |#{checkedin_members.count} checked in members
                    .centered.row
                        .ten.wide.column
                            each checkedin_members
                                .row
                                    //- img.ui.small.circular.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                                    .twelve.wide.column
                                        h1.ui.header #{first_name} #{last_name}
                                    .four.wide.column
                                        +checkin_button
                    //- .three.column.row
                    //-     .column
                    //-         .ui.header
                    //-             //- +i name='megaphone' classes='ui inline image'
                    //-             //- i.rss.icon
                    //-             |notices
                    //-         .content
                    //-             +document_view key='health_club_notices'            
                    //-         .ui.accordion
                    //-             h4.title
                    //-                 // +i name='edit-property' classes='ui inline image'
                    //-                     // .ui.inline.header 
                    //-                 i.rss.icon
                    //-                 | log
                    //-                 i.dropdown.icon
                    //-             .content.smallscroll
                    //-                 .ui.feed
                    //-                     each events
                    //-                         .event
                    //-                             .label
                    //-                                 img.ui.image(src="{{c.url object.image_id width=400 height=400 gravity='face' crop='fill'}}")
                    //-                             .content
                    //-                                 .summary
                    //-                                     |#{body}
                    //-                                     .date
                    //-                                         |#{when}
                    //-                                     //- if is_dev
                    //-                                     //-     +remove_button
                    //- 
                    //-     .column
                    //-             .ui.header
                    //-                 i.poll.icon
                    //-                 |Poll
                    //-             .content
                    //-     .column
                    //-         .ui.header
                    //-             +i name='front-desk' classes='ui inline image'
                    //-             | staff on duty
                    //-         with currentUser.username
                    //-             +big_user_card
                .centered.row
                    .ui.center.aligned.basic.segment
                        if is_staff
                            a.ui.big.circular.basic.button(href='/add_resident')
                                i.user.shield.icon
                                | add resident
                        a.ui.big.circular.basic.button(href='https://sites.google.com/goldrun.page/home/new-members?authuser=2' target='_window')
                            |rules and regulations
                        a.ui.big.circular.basic.button(href='https://sites.google.com/goldrun.page/home/guest-waiver?authuser=2' target='_window')
                            |guest waiver
            +document_view key='health_club_notices'
            +health_club_info
            //- .ui.check_out.modal
            //-     .header Checkout #{selected_person.username}?
            //-     .content
            //-         .ui.header #{selected_person.first_name} #{selected_person.last_name}
            //-         .ui.header #{selected_person.username}
            //-     .actions
            //-         .ui.large.ok.blue.button
            //-             |Check Out
            //-         .ui.large.cancel.button
            //-             |Cancel
            //- .ui.check_in.modal
            //-     .header Check In #{selected_person.username}?
            //-     .content
            //-         .ui.header #{selected_person.first_name} #{selected_person.last_name}
            //-         .ui.header #{selected_person.username}
            //-     .actions
            //-         .ui.large.ok.green.button
            //-             |Check In
            //-         .ui.large.cancel.button
            //-             |Cancel
                        
                        
template(name='add_resident')
    .ui.stackable.padded.grid
        .centered.row
            .eight.wide.column
                h1.ui.center.aligned.header
                    i.user.plus.icon
                    | resident
                .ui.big.form
                    .field
                        input#first_name(type='text' placeholder='first name')
                    .field
                        input#last_name(type='text' placeholder='last name')
                    //- .field
                    //-     |Username
                    //-     input#username(type='text')
                if permission
                    .ui.fluid.green.circular.button.create_and_checkin
                        |create and check in
        //- .row
        
        
template(name='sign_waiver')
    with receipt_doc
        .ui.stackable.padded.grid
            .centered.row
                .twelve.wide.column.scrolling
                    .row
                        h1.ui.center.aligned.header
                            i.user.plus.icon
                            |sign waiver
                        with waiver_doc
                            |!{html}
                        +signature
                        .ui.fluid.green.button.sign_waiver
                            | sign waiver



template(name='checkin_button')
    unless healthclub_checkedin
        .ui.large.circular.basic.button.checkin
            //- i.sign.in.icon
            +i name='internal' classes='ui avatar image'
            |check in
    if healthclub_checkedin
        .ui.fluid.circular.basic.button.checkout
            //- i.sign.out.icon
            +i name='exit-sign' classes='ui avatar image'
            |check out
    //- +rules_sign
    //- +guest_sign
    //- .ui.accordion
    //-     .title
    //-         .ui.inline.small.header
    //-             |Events
    //-             i.dropdown.icon
    //-     .content
    //-         .ui.feed
    //-             each log_events
    //-                 .event
    //-                     .label
    //-                         img.ui.image(src="{{c.url object.image_id width=400 height=400 gravity='face' crop='fill'}}")
    //-                     .content
    //-                         .summary
    //-                             |#{body}
    //-                             .date
    //-                                 |#{when}
    //-                             if is_dev
    //-                                 +remove_button


template(name='health_club_info')
    .ui.stackable.grid
        .three.column.inverted.row
            .column
                .ui.header Wifi
                .ui.small.grey.header Gold Run Health Club / goldrun1
                .ui.header Upstairs Code
                .ui.small.grey.header 4589
                .ui.header Colorado Security Services
                .ui.small.grey.header 303.443.3701
            .column
                .ui.header Onsite Manager
                .ui.large.list
                    .item Rick Hamp 
                    .item 303.545.1787
                    .item goldruncondos@gmail.com
                .ui.header After Hours Emergency
                .ui.small.grey.header 303.221.1117
                .ui.header Boulder Valley Towing
                .ui.small.grey.header 303.444.4868
            .column
                .ui.header Hours
                .ui.large.list
                    .item Mon 7a-10p
                    .item Tues 7a-10p
                    .item Wed 7a-10p
                    .item Thur 7a-10p
                    .item Fri 7a-9p
                    .item Sat 8a-9p
                    .item Sun 8a-10p


template(name='checkin_card')
    with user
        //- .ui.card
        .ui.grid.cloud.segment(class=checkin_card_class)
            .centered.row
                //- .eight.wide.column
                //-     img.ui.fluid.rounded.image(src="{{c.url user.image_id width=500 height=400 gravity='face' crop='fill'}}")
                .eight.wide.column
                    //- a.ui.header(href="/user/#{user.username}")
                    .ui.large.header(href="/user/#{user.username}")
                         |#{user.first_name} #{user.last_name} 
                    //- .meta @#{user.username}
                    //- +array_view key='tags' label='Tags' direct=true
                    if is_admin
                        div #{user.address}
                        strong #{user.building_number}
                        strong ##{user.apt_number}
                        div membership start 
                        strong #{user.start_date}
                        div expiration 
                            strong #{user.lease_expiration}
                    with user
                        +email_validation_check
                        div
                        +lease_expiration_check
                        +rules_and_regs_check
                    .ui.hidden.divider
                    +multi_user_edit key='guests' role_filter='guest' title='check in guest' direct=true
                    .ui.basic.circular.large.button.add_guest
                        +ismall name='plus' classes='ui avatar image'
                        |add guest
            .row
                .two.wide.column
                    .ui.fluid.red.big.button.icon.circular.cancel_checkin
                        i.ban.icon
                .fourteen.wide.column
                    if red_flagged
                        .ui.fluid.red.big.circular.disabled.button
                            |sign rules and regs to continue
                            //- i.right.chevron.icon
                    else
                        .ui.fluid.green.big.button.circular.complete_checkin
                            |complete check in
                            i.right.chevron.icon
            .ui.fullscreen.modal
                +guest_modal_content
                
template(name='guest_modal_content')
    .header
        .scrolling.content
            with new_guest_doc
                +text_edit key='first_name' title='first name' direct=true
                +text_edit key='last_name' title='last name' direct=true
                //- +text_edit key='emergency_contact_name'
                //- +text_edit key='emergency_contact_phone'
                +document_view key='guest_waiver'
                +signature_edit key='signature' direct=true
        .actions
            .ui.grid
                .two.wide.column
                    .ui.cancel.red.circular.button cancel
                .fourteen.wide.column
                    .ui.approve.circular.green.fluid.button submit



template(name='checkin_guest')                
    //- .ui.big.circular.compact.button.checkin_guest(class="{{#if $.Session.get 'checking_in_guest'}} blue {{else}} basic {{/if}}")
    //-     //- i.user.plus.icon
    //-     +ismall name='badge' classes='ui inline image'
    //-     |check in guest
    //- if checking_in_guest
        //- .ui.header last guest
        //- .ui.header frequent guests
        //- each guests
        //-     div
        //-     img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
        //-     .ui.small.inline.header #{first_name} #{last_name}
        //- .ui.header select other 
    //- with checking_in_doc    
        
            
