template(name='kiosk_container')
    with kiosk_doc
        +Template.dynamic template=kiosk_view


template(name='healthclub')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    .ui.padded.stackable.grid.header-wrapper
        //- +Template.dynamic template=kiosk_view
        .row
            .sixteen.wide.center.aligned.column
                if is_staff
                    a.ui.button(href='/staff')
                        i.left.chevron.icon
                        |staff
                img.ui.circular.centered.small.inline.image.shadowed(src="{{c.url 'gold_run_logo' }}")
                //- .ui.center.aligned.inline.header.checkin_header
                //- h1.ui.center.aligned.inline.massive.header.f10
                //-     |Health Club Check In
        .row
            .sixteen.wide.column
                .ui.massive.fluid.icon.input
                    input.username_search(type='text' placeholder='resident first or last name...' autofocus)
                    if is_query
                        i.remove.link.icon.clear_results
                    //- else 
                    //-     i.user.grey.outline.icon
                .ui.center.aligned.basic.segment.test
                    if checkedout_members.length
                        each checkedout_members
                            +checkin_button
                    else
                        if checking_in
                            if is_query
                                .ui.center.aligned.header No members found
                                .ui.center.aligned.header See staff to add
                .ui.padded.grid
                    .two.column.row
                        .column
                            +inline_doc slug='health_club_notices' classes='ui large header'
                            //- a.ui.fluid.button(href="/events") 
                            //-     +i name='calendar' classes='ui inline mini image'
                            //-     |Events
                            +health_club_info
                        .column
                            +healthclub_status
                            .ui.header Hours
                            .ui.big.list
                                .item Mon 7a-10p
                                .item Tues 7a-10p
                                .item Wed 7a-10p
                                .item Thur 7a-10p
                                .item Fri 7a-9p
                                .item Sat 8a-9p
                                .item Sun 8a-10p
                            

template(name='facet_doc_edit')
    with facet_doc
        if is_staff
            +textarea_edit key='body'
        else 
            h3 
                +textarea_view key='body'
                        
                        
template(name='add_resident')
    .ui.stackable.padded.grid
        .centered.row
            .eight.wide.column
                h1.ui.center.aligned.header
                    +i name='add user male'
                    | resident
                .ui.big.form
                    .field
                        input#first_name(type='text' placeholder='first name' autocomplete='off')
                    .field
                        input#last_name(type='text' placeholder='last name' autocomplete='off')
                    //- .field
                    //-     |Username
                    //-     input#username(type='text')
                if permission
                    .ui.fluid.green.big.button.create_resident
                        |Create Resident
        
        
template(name='sign_waiver')
    with receipt_doc
        .ui.stackable.padded.grid
            .centered.row
                .twelve.wide.column.scrolling
                    .row
                        h1.ui.center.aligned.header
                            i.user.plus.icon
                            |Sign Waiver
                        with waiver_doc
                            |!{html}
                        +signature
                        .ui.fluid.green.button.sign_waiver
                            | Sign Waiver



template(name='checkin_button')
    unless is_staff
        //- unless healthclub_checkedin
        .ui.massive.basic.button.checkin.new_hc_session
            h2 #{first_name} #{last_name}
        //- if healthclub_checkedin
        //- if is_staff
        //- else
        //-     .ui.big.basic.button.checkout
        //-         i.sign.out.icon
        //-             //- +i name='exit-sign' classes='ui avatar image'
        //-             |check out
    if is_staff
        if healthclub_checkedin
            .ui.basic.button.checkout
                i.sign.out.icon
                //- +i name='exit-sign' classes='ui avatar image'
                |Health Club Check Out
        else
            .ui.massive.fade.animated.button.new_hc_session
                .visible.content
                    strong #{first_name} #{last_name}
                .hidden.content
                    |check in


template(name='health_club_info')
    .ui.stackable.grid.f5
        .two.column.inverted.row
            .column
                .ui.big.relaxed.list
                    .item
                        .content
                            .header Wifi
                            .description Gold Run Health Club / goldrun1
                    .item
                        .content
                            .header Upstairs Code: 4589
                    .item
                        .content
                            .header Colorado Security Services
                            .description 303-443-3701
            .column
                .ui.big.relaxed.list
                    .item
                        .content
                            .header Onsite Manager
                            .description 
                                div Rick Hamp 
                                div 303-545-1787
                                div goldruncondos@gmail.com
                    .item
                        .content
                            .header After Hours Emergency
                            .description 303-221-1117
                    .item
                        .content
                            .header Boulder Valley Towing
                            .description 303-444-4868


//- template(name='checkin_card')
    //- img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    //- //- .ui.padded.stackable.grid
    //- //- .ui.padded.middle.aligned.grid.header-wrapper(class=resident_status_class)
    //- .ui.padded.middle.aligned.grid.header-wrapper
    //-     unless session_document.submitted
    //-         .two.column.row
    //-             .column
    //-                 //- if is_staff
    //-                 //- a.ui.header(href="/user/#{user.username}")
    //-                 .ui.large.icon.basic.button.cancel_checkin
    //-                     i.big.left.chevron.icon
    //-                 if user.kiosk_photo
    //-                     with user
    //-                         +image_view key='kiosk_photo' label='photo' direct=true
    //-                     //- +image_edit key='kiosk_photo' label='please click below to take new photo' direct=true
    //-                 else
    //-                     with user
    //-                         +image_edit key='kiosk_photo' label='click below to take new photo' direct=true
    //-                 //- img.ui.medium.circular.image(src="{{c.url user.image_id width=500 height=500 gravity='face' crop='fill'}}")
    //-                 //- .meta @#{user.username}
    //-                 //- +array_view key='tags' label='Tags' direct=true
    //-             .column
    //-                 .ui.huge.inline.header(href="/user/#{user.username}")
    //-                     |#{user.first_name} #{user.last_name} 
    //-                 if adding_guests
    //-                     .ui.header 
    //-                         //- +i name='groups'
    //-                         i.users.teal.icon
    //-                         |guests
    //-                     //- //- .ui.hidden.divider
    //-                     .ui.small.inline.header recent guests
    //-                     each resident_guests
    //-                         .ui.big.basic.teal.button.add_recent_guest #{guest_name} #{first_name} #{last_name}
    //-                     div
    //-                     .ui.big.basic.button.add_guest
    //-                         i.plus.icon
    //-                         strong new guest
    //-                     +multi_doc_input key='guests' ref_model='guest' title='lookup previous...' direct=true
    //-                     div
    //-                     with checking_in_doc
    //-                         if checkin_guest_docs
    //-                             .ui.inline.header guests for this session
    //-                             each checkin_guest_docs
    //-                                 .ui.big.teal.basic.button.remove_guest 
    //-                                     i.remove.icon
    //-                                     |#{guest_name} #{first_name} #{last_name}
    //-                 else
    //-                     .ui.big.basic.fluid.button.toggle_adding_guest 
    //-                         i.plus.large.icon
    //-                         |guest
    //-                 +email_validation_check
    //-                 +lease_expiration_check
    //-                 +rules_and_regs_check  
    //-         .row
    //-             .sixteen.wide.column
    //-                 unless user.member_waiver_signed
    //-                     .ui.big.fluid.red.basic.button.sign_rules
    //-                         //- +i name='treadmill' classes='ui inline image'
    //-                         .ui.inline.header 
    //-                         //- +i name='treadmill'
    //-                         | sign rules and regs
    //-                         i.right.chevron.icon
    //- 
    //-                 if user.rules_signed
    //-                     .ui.big.fluid.basic.button.healthclub_checkin
    //-                         //- +i name='treadmill' classes='ui inline image'
    //-                         .ui.inline.header 
    //-                             +i name='treadmill'
    //-                             | health club check in
    //-                             //- i.right.chevron.icon
    //-                     .ui.big.fluid.basic.button.garden_key_checkout
    //-                         +i name='basketball' classes='ui inline image'
    //-                         .ui.inline.header court key check out
    //-                         //- i.right.chevron.icon
    //-                     .ui.big.fluid.basic.button.unit_key_checkout
    //-                         +i name='key' classes='ui inline image'
    //-                         .ui.inline.header unit key check out
    //-                 else unless user.rules_and_regulations_signed
    //-                     .ui.big.fluid.red.basic.button.sign_rules
    //-                         //- +i name='treadmill' classes='ui inline image'
    //-                         .ui.inline.header 
    //-                         //- +i name='treadmill'
    //-                         | please sign rules and regs
    //-                         i.right.chevron.icon
    //-     if session_document.submitted
    //-         unless session_document.approved
    //-             .centered.row
    //-                 .twelve.wide.column
    //-                     i.huge.notched.circle.loading.icon
    //-                     //- .ui.header request submitted, awaiting staff approval        
    //-         if session_document.approved
    //-             .centered.row
    //-                 .twelve.wide.column
    //-                     .ui.header 
    //-                         i.green.checkmark.icon
    //-                         |request approved        
                
