template(name='goldrun')
    //- img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=500 crop='crop'}}")
    .ui.padded.stackable.grid
        .sixteen.wide.column
            //- h1.ui.center.aligned.header 
            //-     |Gold Run Health Club
            .ui.left.icon.huge.fluid.input
                input.username_search(type='text' placeholder='check in...')
                if is_query
                    i.remove.link.icon.clear_results
                else 
                    i.sign.in.green.icon
            .ui.stackable.padded.grid
                .row
                    .sixteen.wide.column
                        if checkedout_members.length
                            .ui.cloud.center.aligned.segment
                                h2.ui.center.aligned.header 
                                    //- +icolor name='internal' classes='ui inline image'
                                    |check in member
                                .ui.centered.stackable.cards
                                    each checkedout_members
                                        .card
                                            .image
                                                if image_id
                                                    img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                                            .content
                                                .header #{first_name} #{last_name}
                                                .meta @#{username}
                                                if is_dev
                                                    a.ui.circular.button(href="/user/#{username}/")
                                                        |view profile
                                                        i.chevron.right.icon
                                                +checkin_button
                        else
                            if checking_in
                                if is_query
                                    .ui.cloud.center.aligned.segment
                                        .ui.center.aligned.header no members found
                                        .ui.center.aligned.header 
                                            |please show yellow card to staff and ask to add profile
                                    //- +add_resident
                if is_staff
                    .row
                        .sixteen.wide.column
                            .ui.cloud.segment
                                h1.ui.center.aligned.header
                                    i.blue.user.shield.icon
                                    |#{checkedin_members.count} checked in members
                                .ui.doubling.centered.cards
                                    each checkedin_members
                                        +big_user_card username
                    .three.column.row
                        .column
                            .ui.header
                                //- +icolor name='megaphone' classes='ui inline image'
                                //- i.rss.icon
                                |notices
                            .content
                                +document_view key='health_club_notices'            
                            .ui.accordion
                                h4.title
                                    // +icolor name='edit-property' classes='ui inline image'
                                        // .ui.inline.header 
                                    i.rss.icon
                                    | log
                                    i.dropdown.icon
                                .content.smallscroll
                                    .ui.feed
                                        each events
                                            .event
                                                .label
                                                    img.ui.image(src="{{c.url object.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                                .content
                                                    .summary
                                                        |#{body}
                                                        .date
                                                            |#{when}
                                                        //- if is_dev
                                                        //-     +remove_button
                                
                        .column
                                .ui.header
                                    i.poll.icon
                                    |Poll
                                .content
                        .column
                            .ui.header
                                +icolor name='front-desk' classes='ui inline image'
                                | staff on duty
                            with currentUser.username
                                +big_user_card
                    .centered.row
                        .ui.center.aligned.segment
                            if is_admin
                                a.ui.large.circular.button(href='/add_resident')
                                    i.user.shield.icon
                                    | add resident
                            a.ui.large.circular.button(href='https://sites.google.com/goldrun.page/home/new-members?authuser=2' target='_window')
                                |rules and regulations
                            a.ui.large.circular.button(href='https://sites.google.com/goldrun.page/home/guest-waiver?authuser=2' target='_window')
                                |guest waiver
            +document_view key='health_club_info'
                
            //- .ui.check_out.modal
            //-     .header Checkout #{selected_person.username}?
            //-     .content
            //-         .ui.header #{selected_person.first_name} #{selected_person.last_name}
            //-         .ui.header #{selected_person.username}
            //-     .actions
            //-         .ui.large.ok.teal.button
            //-             |Check Out
            //-         .ui.large.cancel.button
            //-             |Cancel
            //- .ui.check_in.modal
            //-     .header Check In #{selected_person.username}?
            //-     .content
            //-         .ui.header #{selected_person.first_name} #{selected_person.last_name}
            //-         .ui.header #{selected_person.username}
            //-     .actions
            //-         .ui.large.ok.green.button
            //-             |Check In
            //-         .ui.large.cancel.button
            //-             |Cancel
                        
                        
template(name='add_resident')
    .ui.stackable.padded.grid
        .centered.row
            .eight.wide.column
                h1.ui.center.aligned.header
                    i.user.plus.icon
                    | resident
                .ui.big.form
                    .field
                        input#first_name(type='text' placeholder='first name')
                    .field
                        input#last_name(type='text' placeholder='last name')
                    //- .field
                    //-     |Username
                    //-     input#username(type='text')
                if permission
                    .ui.fluid.green.circular.button.create_and_checkin
                        |create and check in
        .row
        
        
template(name='sign_waiver')
    with receipt_doc
        .ui.stackable.padded.grid
            .centered.row
                .twelve.wide.column.scrolling
                    .row
                        h1.ui.center.aligned.header
                            i.user.plus.icon
                            |sign waiver
                        with waiver_doc
                            |!{html}
                        +signature
                        .ui.fluid.green.button.sign_waiver
                            | sign waiver



template(name='checkin_button')
    unless healthclub_checkedin
        .ui.large.fluid.circular.button.checkin
            i.sign.in.icon
            //- +icolor name='internal' classes='ui image'
            |check in
    if healthclub_checkedin
        .ui.fluid.circular.button.checkout
            i.sign.out.icon
            //- +icolor name='exit-sign' classes='ui avatar image'
            |check out
    //- +rules_sign
    //- +guest_sign
    //- .ui.accordion
    //-     .title
    //-         .ui.inline.small.header
    //-             |Events
    //-             i.dropdown.icon
    //-     .content
    //-         .ui.feed
    //-             each log_events
    //-                 .event
    //-                     .label
    //-                         img.ui.image(src="{{c.url object.image_id width=400 height=400 gravity='face' crop='fill'}}")
    //-                     .content
    //-                         .summary
    //-                             |#{body}
    //-                             .date
    //-                                 |#{when}
    //-                             if is_dev
    //-                                 +remove_button
