template(name='healthclub')
    //- img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=500 crop='crop'}}")
    .ui.padded.stackable.grid
        .sixteen.wide.column
            .ui.header 
                |Health Club Check In
            //- .ui.inline.header Technology provided by
            //- img.ui.small.inline.image(src="{{c.url 'skynet'}}")

            if is_admin
                .ui.left.icon.massive.fluid.input
                    input.barcode_entry(type='text' placeholder='Barcode lookup...' autofocus)
                    i.qrcode.icon
            .ui.left.icon.massive.fluid.input
                input.username_search(type='text' placeholder='Resident name lookup...')
                if is_query
                    i.remove.link.icon.clear_results
                else 
                    i.user.icon
            .ui.stackable.padded.grid
                .row
                    .sixteen.wide.column
                        if checkedout_members.length
                            //- h2.ui.center.aligned.header 
                            //-     |check in member
                            .ui.centered.cards
                                each checkedout_members
                                    //- .card
                                        //- .image
                                        //-     if image_id
                                        //-         img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                                        .content
                                            .header #{first_name} #{last_name}
                                            if is_dev
                                                .meta @#{username}
                                                a.ui.basic.button(href="/user/#{username}/")
                                                    |view profile
                                                    +ismall name='chevron right'
                                    +checkin_button
                        else
                            if checking_in
                                if is_query
                                    .ui.cloud.center.aligned.segment
                                        .ui.center.aligned.header No Members Found
                                        .ui.center.aligned.header Please present your card to staff to add
                                        //- .ui.center.aligned.header 
                                            //- |please show card to staff and ask to add profile
                                    //- +add_resident
                //- if is_frontdesk
                //-     .row
                //-         .sixteen.wide.column
                //-             h1.ui.center.aligned.header
                //-                 |#{checkedin_members.count} checked in members
                //-     .ui.centered.cards
                //-         each checkedin_members
                //-             .card
                //-                 .content
                //-                     //- img.ui.small.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                //-                     .ui.big.header #{first_name} #{last_name_initial}
                //-                     +checkin_button
                    //- .three.column.row
                    //-     .column
                    //-         .ui.header
                    //-             //- +i name='megaphone' classes='ui inline image'
                    //-             //- i.rss.icon
                    //-             |notices
                    //-         .content
                    //-             +document_view key='health_club_notices'            
                    //-         .ui.accordion
                    //-             h4.title
                    //-                 // +i name='edit-property' classes='ui inline image'
                    //-                     // .ui.inline.header 
                    //-                 i.rss.icon
                    //-                 | log
                    //-                 i.dropdown.icon
                    //-             .content.smallscroll
                    //-                 .ui.feed
                    //-                     each events
                    //-                         .event
                    //-                             .label
                    //-                                 img.ui.image(src="{{c.url object.image_id width=400 height=400 gravity='face' crop='fill'}}")
                    //-                             .content
                    //-                                 .summary
                    //-                                     |#{body}
                    //-                                     .date
                    //-                                         |#{when}
                    //-                                     //- if is_dev
                    //-                                     //-     +remove_button
                    //- 
                    //-     .column
                    //-             .ui.header
                    //-                 i.poll.icon
                    //-                 |Poll
                    //-             .content
                    //-     .column
                    //-         .ui.header
                    //-             +i name='front-desk' classes='ui inline image'
                    //-             | staff on duty
                    //-         with currentUser.username
                    //-             +big_user_card
                        //- a.ui.big.basic.button(href='https://sites.google.com/goldrun.page/home/new-members?authuser=2' target='_window')
                        //-     |rules and regulations
                        //- a.ui.big.basic.button(href='https://sites.google.com/goldrun.page/home/guest-waiver?authuser=2' target='_window')
                        //-     |guest waiver
            +document_view key='health_club_notices'
            +health_club_info
            //- .ui.check_out.modal
            //-     .header Checkout #{selected_person.username}?
            //-     .content
            //-         .ui.header #{selected_person.first_name} #{selected_person.last_name}
            //-         .ui.header #{selected_person.username}
            //-     .actions
            //-         .ui.big.ok.blue.button
            //-             |Check Out
            //-         .ui.big.cancel.button
            //-             |Cancel
            //- .ui.check_in.modal
            //-     .header Check In #{selected_person.username}?
            //-     .content
            //-         .ui.header #{selected_person.first_name} #{selected_person.last_name}
            //-         .ui.header #{selected_person.username}
            //-     .actions
            //-         .ui.big.ok.green.button
            //-             |Check In
            //-         .ui.big.cancel.button
            //-             |Cancel
                        
                        
template(name='add_resident')
    .ui.stackable.padded.grid
        .centered.row
            .eight.wide.column
                h1.ui.center.aligned.grey.header
                    i.user.plus.icon
                    | Resident
                .ui.big.form
                    .field
                        input#first_name(type='text' placeholder='First Name' autocomplete='off')
                    .field
                        input#last_name(type='text' placeholder='Last Name' autocomplete='off')
                    //- .field
                    //-     |Username
                    //-     input#username(type='text')
                if permission
                    .ui.fluid.green.big.button.create_and_checkin
                        |Create and Check In
        
        
template(name='sign_waiver')
    with receipt_doc
        .ui.stackable.padded.grid
            .centered.row
                .twelve.wide.column.scrolling
                    .row
                        h1.ui.center.aligned.header
                            i.user.plus.icon
                            |Sign Waiver
                        with waiver_doc
                            |!{html}
                        +signature
                        .ui.fluid.green.button.sign_waiver
                            | Sign Waiver



template(name='checkin_button')
    unless healthclub_checkedin
        .ui.massive.button.checkin
            //- i.sign.in.icon
            //- +i name='internal' classes='ui avatar image'
            //- |check in
            //- i.green.small.sign.in.icon
            strong #{first_name} #{last_name}
    if healthclub_checkedin
        .ui.big.button.checkout
            i.sign.out.icon
            //- +i name='exit-sign' classes='ui avatar image'
            |Check Out
    //- +rules_sign
    //- +guest_sign
    //- .ui.accordion
    //-     .title
    //-         .ui.inline.small.header
    //-             |Events
    //-             i.dropdown.icon
    //-     .content
    //-         .ui.feed
    //-             each log_events
    //-                 .event
    //-                     .label
    //-                         img.ui.image(src="{{c.url object.image_id width=400 height=400 gravity='face' crop='fill'}}")
    //-                     .content
    //-                         .summary
    //-                             |#{body}
    //-                             .date
    //-                                 |#{when}
    //-                             if is_dev
    //-                                 +remove_button


template(name='health_club_info')
    .ui.stackable.grid
        .three.column.inverted.row
            .column
                .ui.header Wifi
                .ui.grey.header Gold Run Health Club / goldrun1
                .ui.header Upstairs Code
                .ui.grey.header 4589
                .ui.header Colorado Security Services
                .ui.grey.header 303.443.3701
            .column
                .ui.header Onsite Manager
                .ui.big.list
                    .item Rick Hamp 
                    .item 303.545.1787
                    .item goldruncondos@gmail.com
                .ui.header After Hours Emergency
                .ui.grey.header 303.221.1117
                .ui.header Boulder Valley Towing
                .ui.grey.header 303.444.4868
            .column
                .ui.header Hours
                .ui.big.list
                    .item Mon 7a-10p
                    .item Tues 7a-10p
                    .item Wed 7a-10p
                    .item Thur 7a-10p
                    .item Fri 7a-9p
                    .item Sat 8a-9p
                    .item Sun 8a-10p


template(name='checkin_card')
    with user
        //- .ui.card
        //- .ui.grid.cloud.segment(class=checkin_card_class)
        .ui.grid.cloud.segment
            .centered.row
                .column
                    if is_staff
                        img.ui.medium.rounded.image(src="{{c.url user.image_id width=500 height=400 gravity='face' crop='fill'}}")
                    //- a.ui.header(href="/user/#{user.username}")
                    .ui.huge.header(href="/user/#{user.username}")
                         |#{user.first_name} #{user.last_name} 
                    //- .meta @#{user.username}
                    //- +array_view key='tags' label='Tags' direct=true
                    if is_admin
                        div #{user.address}
                        strong #{user.building_number}
                        strong ##{user.apt_number}
                        div membership start 
                        strong #{user.start_date}
                        div expiration 
                            strong #{user.lease_expiration}
                    //- with user
                    //-     +email_validation_check
                    //-     +resident_key_check
                    //-     +lease_expiration_check
                    //-     +rules_and_regs_check
                    //-     +member_waiver_check
                    //- .ui.hidden.divider
                    //- //- .ui.input
                    +multi_doc_input key='guests' ref_model='guest' title='Check In Previous Guest' direct=true
                    //- //- .ui.hidden.divider
                    .ui.big.button.add_guest
                        //- +ismall name='plus' classes='ui avatar image'
                        i.plus.icon
                        | Add New Guest
                    div
                    with checking_in_doc
                        each checkin_guest_docs
                            .ui.big.basic.button.remove_guest 
                                i.remove.grey.icon
                                |#{first_name} #{last_name}
            .middle.aligned.row
                .two.wide.column
                    .ui.big.icon.button.cancel_checkin
                        i.chevron.left.grey.big.icon
                        //- +i name='undo'
                .twelve.wide.column
                    //- if red_flagged
                    //-     .ui.red.big.disabled.button
                    //-         |sign rules and regs to continue
                    //-         //- i.right.chevron.icon
                    //- else
                    .ui.big.fluid.button.complete_checkin
                        //- +i name='treadmill' classes='ui inline image'
                        .ui.inline.header 
                            |Complete Check In
                            i.right.chevron.icon
                        //- i.right.chevron.icon
                        //- .ui.basic.big.button.complete_checkin
                        //-     +i name='key' classes='ui inline image'
                        //-     .ui.inline.header court key check out
                        //-     //- i.right.chevron.icon
                


template(name='checkin_guest')                
    //- .ui.big.compact.button.checkin_guest(class="{{#if $.Session.get 'checking_in_guest'}} blue {{else}} basic {{/if}}")
    //-     //- i.user.plus.icon
    //-     +ismall name='badge' classes='ui inline image'
    //-     |check in guest
    //- if checking_in_guest
        //- .ui.header last guest
        //- .ui.header frequent guests
        //- each guests
        //-     div
        //-     img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
        //-     .ui.small.inline.header #{first_name} #{last_name}
        //- .ui.header select other 
    //- with checking_in_doc    
        
            
