template(name='dashboard')
    .ui.stackable.padded.grid
        .centered.row
            .twelve.wide.column
                .ui.center.aligned.large.header 
                    |Gold Run
    .ui.centered.cards
        .ui.card
            .content
                a.header(href='/checkin') 
                    i.clinic.medical.icon
                    |Health Club
                .ui.button Check In
                .ui.header 4 Current Members
        +my_tasks
        a.ui.card(href='/frontdesk' class="{{isActivePath '/frontdesk'}}")
            .content
                .ui.header
                    i.circle.info.icon
                    | Desk Staff
        +post_widget
        a.ui.card(href='/posts' class="{{isActivePath '/posts'}}")
            .content
                .ui.header
                    i.computer.icon
                    | Services
                | resident directory
        a.ui.card(href='/market' class="{{isActivePath '/market'}}")
            .content
                .ui.header
                    i.cart.icon
                    | Market
                .content
                    |for sale/rent, room, couch, crockpot
        a.ui.card(href='/vendors' class="{{isActivePath '/vendors'}}")
            .content
                .ui.header
                    i.truck.icon
                    | Vendors
            .content
                |reviews, lists, rankings
        a.ui.card(href='/lostfound' class="{{isActivePath '/lostfound'}}")
            .content
                .ui.header
                    i.circle.info.icon
                    | Lost and Found
        +buildings_widget
            
        a.ui.card(href='/keys' class="{{isActivePath '/keys'}}")
            .content
                .ui.header
                    i.key.icon
                    | Keys
                .content
                
template(name='post_widget')
    .ui.card
        .content
            a.ui.header(href='/posts' class="{{isActivePath '/posts'}}")
                i.newspaper.icon
                | Posts
            .ui.link.list
                each posts
                    a.item(href="/post/#{_id}/view")
                        |#{title}
            

template(name='buildings_widget')
    a.ui.card(href='/buildings' class="{{isActivePath '/buildings'}}")
        .content
            .ui.header
                i.building.icon
                | Buildings
            each buildings
                .ui.item
                    .content
                        .header #{building_code}
                
                
                
template(name='my_tasks')                
    .ui.card
        .content
            a.ui.header(href='/tasks')
                i.tasks.icon 
                |Tasks
            .ui.icon.button.add_task
                i.plus.icon
            each tasks
                .ui.item
                    .content
                        .header #{title}
                        .description #{description}




template(name='home')
    .ui.centered.cards
        #add_model.ui.icon.button
            i.plus.icon
        each models
            a.ui.card(href="/s/#{slug}")
                .content
                    .ui.header
                        i.icon(class=icon)
                        |#{title}
