template(name='home')
    .ui.stackable.padded.grid
        .four.wide.column
            +cloud filter='model'
        .twelve.wide.column
            .ui.stackable.cards
                each models
                    +model_card
                //- +healthclub_card
        
        
template(name='model_card')
    a.ui.fluid.card(href="/m/#{slug}")
        .content
            .ui.header
                i.icon(class=icon)
                | #{title}
            .content
                each tags   
                    .ui.label #{this}
                a.ui.button(href="/m/#{slug}/")
                    i.yin.yang.icon

        
                
                
template(name='healthclub_card')
    .ui.card
        .content
            a.header(href='/checkin') 
                i.clinic.medical.icon
                |Health Club
            
            //- .ui.button Check In
            .ui.small.header #{checked_in_count} Current Members
