template(name='dashboard')
    .ui.stackable.padded.grid
        .centered.row
            .twelve.wide.column
                .ui.center.aligned.large.header 
                    |Gold Run
    .ui.centered.cards
        .ui.card
            .content
                a.header(href='/checkin') 
                    i.clinic.medical.icon
                    |Health Club
                .ui.button Check In
                .ui.header 4 Current Members
        +my_tasks
        +frontdesk_card
        +post_card
        +event_card
        
        a.ui.card(href='/posts' class="{{isActivePath '/posts'}}")
            .content
                .ui.header
                    i.computer.icon
                    | Services
                | resident directory
        +market_card
        +work_orders_card
        +lostfound_card
        +buildings_card
            
        a.ui.card(href='/keys' class="{{isActivePath '/keys'}}")
            .content
                .ui.header
                    i.key.icon
                    | Keys
                .content
                
template(name='post_card')
    .ui.card
        .content
            a.ui.header(href='/posts' class="{{isActivePath '/posts'}}")
                i.newspaper.icon
                | Posts
            .ui.link.list
                each posts
                    a.item(href="/post/#{_id}/view")
                        |#{title}
            
template(name='event_card')
    .ui.card
        .content
            a.ui.header(href='/events' class="{{isActivePath '/events'}}")
                i.calendar.icon
                | Events
            .ui.link.list
                each events
                    a.item(href="/event/#{_id}/view")
                        |#{title}
            

template(name='buildings_card')
    a.ui.card(href='/buildings' class="{{isActivePath '/buildings'}}")
        .content
            .ui.header
                i.building.icon
                | Buildings
            each buildings
                .ui.item
                    .content
                        .header #{building_code}
                
                
                
template(name='my_tasks')                
    .ui.card
        .content
            a.ui.header(href='/tasks')
                i.tasks.icon 
                |Tasks
            .ui.icon.button.add_task
                i.plus.icon
            .ui.link.list
                each tasks
                    a.item #{title}


template(name='market_card')
    .ui.card
        .content
            a.ui.header(href='/market' class="{{isActivePath '/market'}}")
                i.cart.icon
                | Market
            .content
                |for sale/rent, room, couch, crockpot


template(name='lostfound_card')
    .ui.card
        .content
            a.ui.header(href='/lostfound' class="{{isActivePath '/lostfound'}}")
                i.circle.info.icon
                | Lost and Found


template(name='home')
    .ui.centered.cards
        #add_model.ui.icon.button
            i.plus.icon
        each models
            a.ui.card(href="/s/#{slug}")
                .content
                    .ui.header
                        i.icon(class=icon)
                        |#{title}

template(name='work_orders_card')
    a.ui.card(href='/work_orders' class="{{isActivePath '/work_orders'}}")
        .content
            .ui.header
                i.truck.icon
                | Work Orders
        .content
            |reviews, lists, rankings

template(name='vendors_card')
    a.ui.card(href='/vendors' class="{{isActivePath '/vendors'}}")
        .content
            .ui.header
                i.truck.icon
                | Vendors
        .content
            |reviews, lists, rankings


template(name='frontdesk_card')
    a.ui.card(href='/frontdesk' class="{{isActivePath '/frontdesk'}}")
        .content
            .ui.header
                i.circle.info.icon
                | Desk Staff
