template(name='home')
    .ui.padded.stackable.grid
        .centered.row
            .three.wide.column
                img.ui.centered.small.circular.image.pointer.toggle_lights(src="{{c.url 'gold_run_logo' }}")
                //- +i name='home' classes='ui inline image'
                .ui.center.aligned.basic.segment
                    .ui.inline.grtext.center.aligned.pointer.header.toggle_display
                        //- |gro
                        | www.goldrun.online
                div
                +health_club_status_small
                .ui.hidden.divider
                +stats_small
            .five.wide.column
                .ui.inline.header
                    +i name='poll'
                    |polls
                each polls
                    +poll_results
                    
            .four.wide.column
                +gallery_small
                .ui.hidden.divider
                +events_small
                
                //- +work_order_small
                //- .ui.hidden.divider
                //- +latest_project_updates
                //- unless display_mode
                //-     +projects_small             
                //- +work_small
            //-     +posts_small
            //- .column
            //-     +market_small
            .four.wide.column
                +footer_chat
    
                +ismall name='billboard'
                .ui.inline.header
                    |resident services
                +service_slider            
                //- with current_ad
                //-     .ui.header #{title}
                //-     img(src="{{c.url image height=500 width=800 background='white' crop='lpad'}}")
                //-     |!{content}
                //-     unless display_mode
                //-         a(href=link) #{link}
                //-         +voting
                //- .ui.hidden.divider
                //- +ismall name='poll'
                //- .ui.inline.header poll
                //- .ui.small.header do you like living at gold run?
                //- .ui.large.icon.button.happy
                //-     i.green.outline.thumbs.up.large.icon
                //-     |#{hsd.happy_votes}
                //- .ui.large.icon.button.unhappy
                //-     i.red.outline.thumbs.down.large.icon
                //-     | #{hsd.unhappy_votes}
                //- .ui.small.header next movie night movie?
                //- each movie_options
                //-     .ui.large.button.vote_movie
                //-         | #{title}
                //- .ui.divider
            unless display_mode
                .four.column.row
                    form.inline(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                        input(type='hidden', name='cmd', value='_s-xclick')
                        input(type='hidden', name='hosted_button_id', value='BUX7ZDWUFLVDQ')
                        //- // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                        //- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                        button.ui.icon.button(type='submit' title='donate')
                            +ismall name='donate' classes='ui inline mini image'
            
        //- if is_dev
        //-     .four.column.row
        //-         .column
        //-             +published_resident_small
        //-         .column
        //-             +karma_leaderboard
        //-         .column
        //-             +most_viewed_posts
        //-         .column
        //-             +most_viewed_models
                    //- +meal_widget
                    //- +marketplace_widget
                    //- .ui.header chat
                    //- +model_scroller model='for_rent' header='For Rent' icon='business'
                    //- +model_scroller model='event' header='Events' icon='calendar'
                //- .column
                //-     +cal
                    //- +model_scroller model='photo' header='Photos' icon='image'
            //- .two.column.row    
            //-     .column
            //-         +model_scroller model='shop' header='marketplace' icon='shop'
            //-     .column
            //-         +model_scroller model='gr_post' header='posts' icon='post'
            //- .one.column.row    
            //-     .column
            //-         iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241.41414983186405!2d-105.2554393150354!3d40.00847065387155!2m3!1f357.8823529411765!2f37.27633198895564!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x0%3A0x710555f334428f65!2sGold+Run+Health+Club!5e1!3m2!1sen!2sus!4v1559922280502!5m2!1sen!2sus" width="1200" height="450" frameborder="0" style="border:0" allowfullscreen)
            //- .three.column.row    
            //-     .column
            //-         +model_scroller model='group' header='groups' icon='groups'
            //-     .column
            //-         +model_scroller model='company' header='businesses' icon='business'
            //- .three.column.row    
            //-     .column
            //-         +model_scroller model='library' header='library' icon='library'
            //-     .column
            //-         +model_scroller model='ad' header='resident ads' icon='presentation'
            //-     .column
            //-         +model_scroller model='for_rent' header='for rent' icon='business'

            
        //- .eight.wide.column
        //-     .ui.header marketplace
        //-     each marketplace_items
        //-         +marketplace_item
        //- .eight.wide.column
        //-     .ui.header posts
        //-     each posts
        //-         +post

template(name='stats_small')
    +ismall name='line-chart' classes='ui inline image'
    .ui.inline.header.calc_home_stats
        |stats
    div
    .ui.inline.grey.header 
        strong #{hsd.home_views}
        small website views
    div
    .ui.inline.grey.header
        strong #{hsd.current_hc_members}
        small people at health club
    div
    .ui.inline.grey.header
        strong #{hsd.total_hc_sessions}
        small total health club sessions
    //- .ui.grey.header total health club sessions this month
    div
    .ui.inline.grey.header
        strong #{hsd.registered_owners}
        small owners
    div
    .ui.inline.grey.header
        strong #{hsd.registered_residents}
        small residents
    
    
template(name='gallery_small')
    +ismall name='gallery'
    .ui.inline.header gallery
    +slider


template(name='work_small')
    +ismall name='maintenance' classes='ui inline image'
    .ui.inline.header 
        |recent completed work
    each work
        .ui.small.header #{title}
        each tags
            .ui.tiny.basic.label #{this}


template(name='work_order_small')
    a.ui.fluid.button(href="/m/work_order")
        +ismall name='maintenance'
        .ui.inline.header
            |work orders
    unless display_mode
        .ui.large.icon.button.submit_work_order(title='add work order')
            i.large.green.plus.icon
        +cloud filter='work_order'
    .ui.divided.list
        each work_order
            .item
                if complete
                    span
                        i.green.checkmark.icon
                else 
                    span
                        i.circle.outline.icon
                .ui.small.inline.header #{body} #{content} #{text} #{notes}
                each tags
                    .ui.tiny.basic.label #{this}
                |#{when}
                unless display_mode
                    +voting
                | #{points} 
                span 
                    i.thumbs.up.outline.grey.icon



template(name='leaderboard_small')
    .ui.header
        +ismall name='leaderboard'
        |leaderboard
    .ui.small.header most tasks completed
    if is_dev
        +call_method name='calc_completed_tasks'
    .ui.small.header most assigned tasks completed
    .ui.small.header most money earned
    




template(name='service_slider')
    //- #layerslider(style='width:100%; height: 400px;')
    #service_slider(style='width:100%; height: 250px')
        each slides
            .ls-slide(data-ls='slidedelay: 10000;')
                //- if image_url
                //-     img.ls-bg(src=image_url)
                .ls-l(style="top: 5px; left: 10px;" )
                    .ui.header #{title}
                .ls-l(style="top: 25px; left: 10px; width:200px; height:20px;" )
                    .ui.small.header !{description}
                img.ui.centered.image.ls-l(src="{{c.url image height=180 width=300 crop='fill'}}" style="top: 50px; left: 0%;")
                //- img.ls-bg(src="{{c.url image height=500 width=800 background='white' crop='lpad'}}", alt='Slide background' )
                //- .ls-l(style="top: 50%; height: 170px; width: 170px; left: 20%;" )
                //-     h2.slider-subheader: subtitle
                //-     // h2.slider-subheader
                //-     //     | My goal is to spread light to others to help them navigate their own journey through life.
                    
                    
template(name='event_slider')
    //- #layerslider(style='width:100%; height: 400px;')
    #event_slider(style='width:100%; height: 250px')
        each slides
            .ls-slide(data-ls='slidedelay: 10000;')
                //- if image_url
                //-     img.ls-bg(src=image_url)
                .ls-l(style="top: 5px; left: 10px;" )
                    .ui.header #{title}
                .ls-l(style="top: 25px; left: 10px; width:200px; height:20px;" )
                    .ui.small.header !{description}
                img.ui.centered.image.ls-l(src="{{c.url image_id height=180 width=300 crop='fill'}}" style="top: 50px; left: 0%;")
                //- img.ls-bg(src="{{c.url image height=500 width=800 background='white' crop='lpad'}}", alt='Slide background' )
                //- .ls-l(style="top: 50%; height: 170px; width: 170px; left: 20%;" )
                //-     h2.slider-subheader: subtitle
                //-     // h2.slider-subheader
                //-     //     | My goal is to spread light to others to help them navigate their own journey through life.
                    
                    
template(name='events_small')
    +ismall name='calendar'
    .ui.inline.header 
        |events
    +event_slider
    //- +model_scroller model='event' header='events' icon='calendar'

    //- .ui.animated.large.list
    //-     each gr_events
    //-         a.active.item(href="/event/#{_id}/view") 
    //-             .ui.small.header #{title}
    //-             each tags
    //-                 .ui.small.basic.label #{this}
    //-             //- span(title='views and points')
    //-             //-     |#{views}
    //-             //-     i.eye.grey.icon
    //-             //-     |#{points}
    //-             //-     i.thumbs.up.outline.grey.icon
    //- 
    //-         //- a.active.item(href="/m/#{model}/#{_id}/view")



template(name='health_club_status_small')
    div
    .ui.inline.header 
        |upper hot tub
        +water_status slug='upper_hot_tub'
        //- div
    .ui.small.horizontal.list
        .item
            |#{latest_uht_reading.temperature}&#8457;
        .item
            |#{latest_uht_reading.ph} ph 
        .item
            |#{latest_uht_reading.chlorine} chl
        .item
            |#{latest_uht_reading.when}
    div
    .ui.inline.header lower hot tub
        +water_status slug='lower_hot_tub'
        //- div
    .ui.small.horizontal.list
        .item
            |#{latest_lht_reading.temperature}&#8457;
        .item
            |#{latest_lht_reading.ph} ph 
        .item
            |#{latest_lht_reading.chlorine} chl
        .item
            |#{latest_lht_reading.when}
    div
    .ui.inline.header
        | pool
        +water_status slug='pool'
        //- div
    .ui.small.horizontal.list
        .item
            |#{latest_pool_reading.temperature}&#8457;
        .item
            |#{latest_pool_reading.ph} ph 
        .item
            |#{latest_pool_reading.chlorine} chl
        .item
            |#{latest_pool_reading.when}


template(name='water_status')
    if is_staff
        if on
            i.green.checkmark.link.large.icon.toggle_status
        else    
            i.red.ban.link.large.icon.toggle_status
    else
        if on
            i.green.checkmark.large.icon
        else    
            i.red.ban.large.icon
    //- with latest_reading
    //-     | #{temperature}&#8457;
    //- div



template(name='poll_results')
    .ui.hidden.divider
    a.ui.inline.small.grey.header(href="/vote/#{_id}/view") #{title}
    span 
        i.thumbs.up.outline.green.icon
        |#{upvoter_ids.length}
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    span 
        i.thumbs.down.outline.red.icon
        | #{downvoter_ids.length}
