template(name='home')
    unless is_dev
        +home_slider
    +grid
    //- .ui.padded.stackable.grid
        //- .centered.row
        //-     .four.wide.column
        //-         +shop_small
        //-     .four.wide.column
        //-         +rental_small
        //-     .four.wide.column
        //-         +service_small
        //-     .four.wide.column
        //-         //- +event_small
        //-         +earning_methods_small
        //- .centered.row
        //-     .four.wide.column
        //-         +karma_leaderboard
        //-     .four.wide.column
        //-         +karma_this_week
        //-         //- +work_order_small
        //-         //- .ui.hidden.divider
        //-     .four.wide.column
        //-         +karma_transactions_small
        //-         //- +latest_project_updates
        //-     .four.wide.column
        //-         +request_small
                //- +projects_small             
                //- unless display_mode
                //- +work_small
            //-     +posts_small
            //- .column
            //-     +market_small
        //- .centered.row
        //-     .four.wide.column
        //-         +home_alerts
        //-     .four.wide.column
        //-         +latest_activity
        //-     .four.wide.column
        //-         +footer_chat
        //-         //- +gallery_small
        //-     .four.wide.column
        //-         .ui.header
        //-             +i name='poll'
        //-             //- i.poll.icon
        //-             |polls
        //-         .smallscroll
        //-             each polls
        //-                 +poll_results
        //- 
        //-         //- +service_list
        //-         //- +service_slider            
        //-     .four.wide.column
        //-         +posts_small
        //-     .four.wide.column
        //-         +groups_small
        //-     .four.wide.column
        //-         .ui.grey.header community ad
        //-         with current_ad
        //-             .ui.header #{title}
        //-             img(src="{{c.url image height=500 width=800 background='white' crop='lpad'}}")
        //-             |!{content}
        //-             a(href=link) #{link}
        //-             +voting
                //- .ui.hidden.divider
        //- .row
        //-     //- .four.wide.column
        //-         //- +gallery_small
        //-     .four.wide.column
        //-         +health_club_status_small
        //-     .four.wide.column
        //-         +stats_small
        //-     .four.wide.column
                //- +model_scroller model='group' header='groups' icon='groups'
        //- .four.column.row
        //-     .column
        //-         +published_resident_small
        //-     .column
        //-         +most_viewed_posts
        //-     .column
        //-         +most_viewed_models
        //- .four.column.row
        //-     .column
        //-         +meal_widget
        //-     .column
        //-         +model_scroller model='for_rent' header='For Rent' icon='business'
        //-     .column
        //-         +model_scroller model='event' header='Events' icon='calendar'
        //- .four.column.row
        //-     .column
        //-         +cal
        //-     .column
        //-         +model_scroller model='photo' header='Photos' icon='image'
        //-     .column
        //-         +model_scroller model='shop' header='marketplace' icon='shop'
        //-     .column
        //-         +model_scroller model='gr_post' header='posts' icon='post'
        //- .one.column.row    
        //-     .column
        //-         iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241.41414983186405!2d-105.2554393150354!3d40.00847065387155!2m3!1f357.8823529411765!2f37.27633198895564!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x0%3A0x710555f334428f65!2sGold+Run+Health+Club!5e1!3m2!1sen!2sus!4v1559922280502!5m2!1sen!2sus" width="1200" height="450" frameborder="0" style="border:0" allowfullscreen)
        //- .three.column.row    
        //-     .column
        //-         +model_scroller model='company' header='businesses' icon='business'
        //-     .column
        //-         +model_scroller model='library' header='library' icon='library'
        //-     .column
        //-         +model_scroller model='ad' header='resident ads' icon='presentation'

            
        //- .eight.wide.column
        //-     .ui.header marketplace
        //-     each marketplace_items
        //-         +marketplace_item
        //- .eight.wide.column
        //-     .ui.header posts
        //-     each posts
        //-         +post


//- template(name='home_slider')
//-     .slider.slider1
//-         .slides
//-             each slides
//-                 .slide-item
//-                     .ui.header.slide-title #{title}
//-                     img.slide_bg(src="{{c.url background_image width=500 height=500 crop='fill'}}")
//-                     .content #{subtitle}
//- 
//- 





template(name='latest_posts')
    a.ui.header(href="/m/post")
        +i name='blog'
        |latest posts


template(name='home_alerts')
    .ui.header 
        +i name='alert'
        |alerts


template(name='home_posts')
    a.ui.header(href="/m/post")
        +i name='post'
        |posts


template(name='stats_small')
    .ui.inline.grey.header.calc_home_stats
        //- i.bar.chart.icon
        +i name='bar-chart'
        |stats
    div
    .ui.inline.grey.header 
        strong #{hsd.home_views}
        small website views
    div
    .ui.inline.grey.header
        strong #{hsd.current_hc_members}
        small people at health club
    div
    .ui.inline.grey.header
        strong #{hsd.total_hc_sessions}
        small total health club sessions
    //- .ui.grey.header total health club sessions this month
    div
    .ui.inline.grey.header
        strong #{hsd.registered_owners}
        small registered owners
    div
    .ui.inline.grey.header
        strong #{hsd.registered_residents}
        small registered residents
    
    
template(name='gallery_small')
    //- .ui.inline.grey.header 
    //-     +i name='gallery'
    //-     |gallery
    +slider



template(name='work_small')
    //- +ismall name='maintenance' classes='ui inline image'
    .ui.inline.grey.header 
        |recent completed work
    each work
        .ui.small.header #{title}
        each tags
            .ui.tiny.basic.label #{this}


template(name='work_order_small')
    a.ui.grey.header(href="/m/work_order")
        +i name='maintenance'
        |maintenance
    //- unless display_mode
    //-     .ui.large.icon.button.submit_work_order(title='add work order')
    //-         i.large.plus.icon
    //-     +cloud filter='work_order'
    //- .ui.small.grey.header average response time #{msd.avg_response_time}
    //- .ui.small.grey.header average complete time #{msd.avg_complete_time}
    //- .ui.small.grey.header incomplete work orders #{msd.incomplete_work_orders}
    //- .ui.small.grey.header complete work orders #{msd.complete_work_orders}
    .ui.relaxed.list.smallscroll
        each work_order
            .item
                if complete
                    span
                        i.checkmark.icon
                else 
                    span
                        i.circle.outline.icon
                .ui.small.inline.header #{body} #{content} #{text} #{notes}
                each tags
                    .ui.tiny.basic.label #{this}
                |#{when}
                //- unless display_mode
                //-     +voting
                | #{points} 
                span 
                    i.thumbs.up.outline.grey.icon



template(name='leaderboard_small')
    .ui.header
        +ismall name='leaderboard'
        |leaderboard
    .ui.small.header most tasks completed
    if is_dev
        +call_method name='calc_completed_tasks'
    .ui.small.header most assigned tasks completed
    .ui.small.header most money earned
    


//- template(name='services_small')
//-     a.ui.grey.header(href="/m/service")
//-         |services
//-     .ui.link.list
//-         each services 
//-             a.item(href="/service/#{_id}/view") #{title}

template(name='service_slider')
    //- #layerslider(style='width:100%; height: 400px;')
    #service_slider(style='width:100%; height: 250px')
        each slides
            .ls-slide(data-ls='slidedelay: 10000;')
                //- if image_url
                //-     img.ls-bg(src=image_url)
                .ls-l(style="top: 5px; left: 10px;" )
                    .ui.header #{title}
                .ls-l(style="top: 25px; left: 10px; width:200px; height:20px;" )
                    .ui.small.header !{description}
                img.ui.cent.image.ls-l(src="{{c.url image height=180 width=300 crop='fill'}}" style="top: 50px; left: 0%;")
                //- img.ls-bg(src="{{c.url image height=500 width=800 background='white' crop='lpad'}}", alt='Slide background' )
                //- .ls-l(style="top: 50%; height: 170px; width: 170px; left: 20%;" )
                //-     h2.slider-subheader: subtitle
                //-     // h2.slider-subheader
                //-     //     | My goal is to spread light to others to help them navigate their own journey through life.
                    
                    


template(name='health_club_status_small')
    div
    .ui.inline.header 
        |upper hot tub
        +water_status slug='upper_hot_tub'
        //- div
    //- .ui.small.horizontal.list
    //-     .item
    //-         |#{latest_uht_reading.temperature}&#8457;
    //-     .item
    //-         |#{latest_uht_reading.ph} ph 
    //-     .item
    //-         |#{latest_uht_reading.chlorine} chl
    //-     .item
    //-         |#{latest_uht_reading.when}
        //- div
        //- |by #{latest_uht_reading.author.name}
    div
    .ui.inline.header lower hot tub
        +water_status slug='lower_hot_tub'
        //- div
    //- .ui.small.horizontal.list
    //-     .item
    //-         |#{latest_lht_reading.temperature}&#8457;
    //-     .item
    //-         |#{latest_lht_reading.ph} ph 
    //-     .item
    //-         |#{latest_lht_reading.chlorine} chl
    //-     .item
    //-         |#{latest_lht_reading.when}
    //-     div
    //-     |by #{latest_lht_reading.author.name}
            
    div
    .ui.inline.header
        | pool
        +water_status slug='pool'
        //- div
    //- .ui.small.horizontal.list
    //-     .item
    //-         |#{latest_pool_reading.temperature}&#8457;
    //-     .item
    //-         |#{latest_pool_reading.ph} ph 
    //-     .item
    //-         |#{latest_pool_reading.chlorine} chl
    //-     .item
    //-         |#{latest_pool_reading.when}
    //-     div
    //-     |by #{latest_pool_reading.author.name}


template(name='water_status')
    if is_staff
        if on
            i.checkmark.green.link.icon.toggle_status
        else    
            i.ban.red.link.icon.toggle_status
    else
        if on
            i.checkmark.green.large.icon
        else    
            i.ban.red.large.icon
    //- with latest_reading
    //-     | #{temperature}&#8457;
    //- div



template(name='poll_results')
    a.ui.inline.small.grey.header(href="/vote/#{_id}/view") #{title}
    i.thumbs.up.outline.inline.icon
    |#{upvoter_ids.length}
    div
    i.thumbs.down.outline.inline.icon
    | #{downvoter_ids.length}
    .ui.hidden.divider
