template(name='dashboard')
    .ui.stackable.padded.grid
        .centered.row
            .twelve.wide.column
                .ui.center.aligned.large.header 
                    |Gold Run
        .ui.centered.cards
            .ui.card
                .content
                    a.header(href='/checkin') 
                        i.clinic.medical.icon
                        |Health Club
                    .ui.button Check In
                    .ui.header 4 Current Members
            +my_tasks
            a.ui.card(href='/frontdesk' class="{{isActivePath '/frontdesk'}}")
                .content
                    .ui.header
                        i.circle.info.icon
                        | Desk Staff
            +buildings_widget
                
            a.ui.card(href='/keys' class="{{isActivePath '/keys'}}")
                .content
                    .ui.header
                        i.key.icon
                        | Keys
                
                

template(name='buildings_widget')
    a.ui.card(href='/buildings' class="{{isActivePath '/buildings'}}")
        .content
            .ui.header
                i.building.icon
                | Buildings
            each buildings
                .ui.item
                    .content
                        .header #{building_code}
                
                
                
template(name='my_tasks')                
    .ui.card
        .content
            a.ui.header(href='/tasks')
                i.tasks.icon 
                |Tasks
            .ui.icon.button.add_task
                i.plus.icon
            each tasks
                .ui.item
                    .content
                        .header #{title}
                        .description #{description}




template(name='home')
    .ui.centered.cards
        #add_model.ui.icon.button
            i.plus.icon
        each models
            a.ui.card(href="/s/#{slug}")
                .content
                    .ui.header
                        i.icon(class=icon)
                        |#{title}
