template(name='dashboard')
    .ui.stackable.padded.grid
        .centered.row
            .twelve.wide.column
                .ui.center.aligned.header 
                    i.dashboard.icon
                    |dashboard
        .row
            .four.wide.column
                +dashboard_segment title='posts' icon='newspaper' 
            .four.wide.column
                +dashboard_segment title='for sale' icon='cart' 
            .four.wide.column
                +dashboard_segment title='for rent' icon='cart' 
            .four.wide.column
                +dashboard_segment title='healthclub' icon='clinic medical' 
            .four.wide.column
                +dashboard_segment title='events' icon='calendar' 
            .four.wide.column
                +dashboard_segment title='community' icon='glass cheers' 
            .four.wide.column
                +dashboard_segment title='ideas' icon='lightbulb' 
            .four.wide.column
                +my_tasks
                
                
                
template(name='my_tasks')                
    .ui.segment
        a.ui.header(href='/tasks')
            i.tasks.icon 
            |my tasks
        .ui.icon.button.add_task
            i.plus.icon
        each tasks
            .ui.item
                .content
                    .header #{title}
                    .description #{description}

template(name='dashboard_segment')
    .ui.fluid.segment
        .ui.header 
            i.icon(class=icon)
            |#{title}
                




template(name='home')
    .ui.centered.cards
        #add_model.ui.icon.button
            i.plus.icon
        each models
            a.ui.card(href="/s/#{slug}")
                .content
                    .ui.icon.header
                        i.icon(class=icon)
                        |#{title}



template(name='edit')
    with current_doc
        +text_edit key='title'
        +text_edit key='slug'
