template(name='grid')
    //- .ui.left.icon.input
    //-     input.model_filter(type='text' autofocus='autofocus')
    //-     if model_filter_value
    //-         i.remove.link.icon
    //-     else 
    //-         i.search.icon
    //- unless model_filter_value
    //-     +cloud filter='model'
    .ui.padded.stackable.grid
        .row
            .ten.wide.column
                .ui.stackable.two.column.stackable.grid
                    .row
                        each role_models
                            .column
                                +grid_role_model
            .six.wide.column
                +global_stats
                +latest_activity
    +revenue_calculator            
        
template(name='grid_role_model')
    a.ui.header(href="/m/#{slug}" tabindex="0")
        +i name=icon classes='ui inline image'
        //- i.icon(class=icon)
        |#{model_doc_count}
        |#{title}
    //- i.grey.eye.icon
    //- i.grey.thumbs.up.icon
    //- i.grey.clock.icon
    //- div
    .ui.animated.selected.list
        each model_docs
            +model_list_item_view
    //- span(title='views')
    //-     |#{views}
    if is_dev
        span(title='views')
            i.eye.grey.icon
            |#{views}
        each view_roles
            .ui.small.basic.label(title='viewable by') #{this}


template(name='model_list_item_view')
    //- a.item(href="/m/#{model}/#{_id}/view") 
    .item.pointer.goto_doc
        if image
            img.ui.mini.inline.image(src="{{c.url image width=400 height=400 gravity='face' crop='fill'}}")
        if icon
            +ismall name=icon
        | #{title} #{name}
        small ~$#{hourly_dollars}/hr
        //- span.lowercase #{title} #{name}
        div



template(name='revenue_calculator')
    .ui.fluid.accordion
        .active.title
            .ui.header 
                +i name='calculator'
                |rental revenue calculator
                i.dropdown.icon
        .active.content
            with calculator_doc
                .ui.stackable.grid
                    .ten.wide.column
                        if is_admin
                            .ui.button.create_simluated_item 
                                i.plus.icon
                                |simulated item
                        .ui.three.stackable.cards
                            each items
                                +simulated_rental_item
                    .six.wide.column.result_column
                        .ui.header 
                            |daily: 
                            small spend 
                            | #{total_daily_hours_committed}
                            small hrs on 
                            | #{daily_rentals}
                            small reservations for
                            |$#{totaled_daily_revenue}
                        .ui.header
                            |weekly:  
                            small spend
                            | #{total_weekly_hours_committed}
                            small hrs on
                            |#{total_weekly_rentals}
                            small reservations for
                            |$#{totaled_weekly_revenue}
                        .ui.header 
                            |$#{totaled_monthly_revenue}
                            small per month
                        .ui.header
                            small avg
                            |$#{average_hourly_wage}
                            small per hr wage
                        .ui.header 
                            //- +i name='friends'
                            |#{total_neighbor_interactions} neighbor interactions


template(name='simulated_rental_item')
    .ui.card
        .content
            .ui.inline.header simulated item
            .ui.form
                .eight.wide.field(title='individual reservations, extra revenue for requested pickup/dropoff')
                    label reservations/day
                    input.rental_amount(type='number' value="#{rental_amount}" min='0')
                .ui.right.labeled.fluid.input(title='hourly rate, your cut depends on owner/handler status')
                    input.average_hourly(type='number' value="#{average_hourly}" min='0')
                    .ui.basic.label $/hr
                .ui.labeled.fluid.input(title='hours per day rental is active/circulated')
                    input.daily_hours_rented(type='number' value="#{daily_hours_rented}" min='0' max='24')
                    .ui.basic.label hrs/day
            //- |$#{average_hourly}/hr 
            +small_boolean_edit key='owned' icon='money bill' title='you own the product and passively get 50% of the fee')
            +small_boolean_edit key='handled' icon='suitcase rolling' title='you facilitate the rental and get 45% of the fee')
            if handled
                +small_boolean_edit key='delivery' icon='luggage cart' title='assume a 5min delivery and pickup per reservation')
            |* #{hourly_cut}% cut
            div
            .ui.inline.header(title='time spent facilitating transactions')
                |= 
                |#{minutes_committed}
                small mins for
            .ui.inline.header 
                |$#{calculated_daily_revenue} 
                small daily
            .ui.inline.header 
                |$#{calculated_weekly_revenue} 
                small weekly
        if is_admin
            +remove_button
    

template(name='small_boolean_edit')
    .ui.icon.button.toggle_boolean(title=title class=boolean_toggle_class)
        i.icon(class=icon)
