
template(name='edit_model')
    with model
        .ui.stackable.padded.grid
            .four.wide.column
                h1.ui.center.aligned.header Edit Model
                a.ui.green.big.circular.button(href="/m/#{slug}") Save
                #delete_model.ui.red.icon.circular.button
                    i.trash.icon
            .twelve.wide.column
                .ui.form
                    +text_edit key='title' label='Title'
                    +text_edit key='slug' label='Slug'
                    +text_edit key='icon' label='Icon'
                    +textarea_edit key='description' label='Description'
                    +array_edit key='tags' label='Tags'
                .ui.small.header fields
                .ui.icon.circular.button.add_field
                    i.plus.icon
                //- each fields
                //-     +field_edit
                    
template(name='field_edit')
    .ui.secondary.segment
        +text_edit key='title'                    
        +text_edit key='key'                    
        +text_edit key='field_type'                    
        +number_edit key='rank' label='rank'                  

            
template(name='view_model')
    with model
        .ui.stackable.padded.grid
            .four.wide.column
                h1.ui.center.aligned.header #{title}
                a.ui.icon.circular.big.button(href="/model/edit/#{_id}")
                    i.pencil.icon
                .ui.circular.icon.big.button.add_child(title="Add #{slug}")
                    i.plus.icon
            .twelve.wide.column
                .ui.form
                    +text_view key='title'
                    +text_view key='slug'
                    +text_view key='icon'
                    +textarea_view key='description'
                    +array_view key='tags'
                //- .ui.header Fields
                //- each fields
                //-     .ui.divider
                //-     +field_view
                .ui.divider
                each model_docs
                    .ui.card
                        .content
                            +Template.dynamic template=model_doc
                        +edit_button
        
template(name='field_view')
    +text_view key='title'                    
    +text_view key='key'                    
    +text_view key='field_type'                    
    +number_view key='rank' label='rank'                  

        
        
            
template(name='models') 
    .ui.stackable.padded.grid
        .four.wide.column
            h1.ui.center.aligned.header 
                i.icon(class=icon)
                |Models
            #add_model.ui.icon.circular.button
                i.green.plus.icon
            +cloud filter='model'
        .twelve.wide.column 
            .ui.centered.cards
                each models
                    +model
                    
                
template(name='model')
    .ui.card
        .content
            .header 
                i.icon(class=icon)
                |#{title}
            .description
                +text_view key='slug'
            a.ui.icon.circular.button(href="/model/edit/#{_id}") 
                i.pencil.icon
            a.ui.icon.circular.button(href="/m/#{slug}") 
                i.right.arrow.icon
