template(name='nav')
    unless is_frontdesk
        #topnav.topnav.ui.attached.borderless.menu
            if is_loading
                .icon.item
                    i.big.spinning.yin.yang.icon
            else
                a.ui.item(href='/grid' class="{{isActivePath '/grid'}}")
                    //- +i name='activity-grid-2' classes='ui avatar inline image'    
                    i.th.large.icon                
                a.ui.icon.item.set_models(href='/m/model' class="{{isActivePath '/m/model'}}")
                    //- +i name='active-directory' classes='ui avatar inline image'
                    i.large.fork.icon
                if is_resident
                    a.ui.icon.item(href='/resident_portal' class="{{isActivePath '/resident_portal'}}")
                        //- +i name='home' classes='ui avatar inline image'
                        i.large.home.icon
                    each bookmarked_models
                        a.ui.item.set_model(href="/m/#{slug}/" title=title)
                            +i name=icon classes='ui avatar inline image'
                    
                    //- a.ui.item(href='/blog' class="{{isActivePath '/blog'}}")
                    //-     +i name='blog' classes='ui avatar inline image'
                    //- a.ui.item(href='/events' class="{{isActivePath '/events'}}")
                    //-     +i name='calendar' classes='ui avatar inline image'
                    //- a.ui.item(href='/shop' class="{{isActivePath '/shop'}}")
                    //-     +i name='shop' classes='ui avatar inline image'
                    //- a.ui.item(href='/gallery' class="{{isActivePath '/gallery'}}")
                    //-     +i name='gallery' classes='ui avatar inline image'
                    a.ui.item(href='/profiles' class="{{isActivePath '/profiles'}}")
                        //- +i name='groups' classes='ui avatar inline image'
                        i.large.users.icon
                    a.ui.item(href='/dashboard' class="{{isActivePath '/dashboard'}}")
                        //- +i name='dashboard' classes='ui avatar inline image'
                        i.large.dashboard.icon
                if is_manager
                    a.ui.item(href='/manager' class="{{isActivePath '/manager'}}")
                        //- +i name='user-shield' classes='ui avatar inline image'
                        i.large.user.shield.icon
                        .mobile.hidden.inline &nbsp; manager
                    a.ui.item(href='/projects' class="{{isActivePath '/projects'}}")
                        //- +i name='project' classes='ui avatar inline image'
                        i.chart.line.large.icon
                        .mobile.hidden.inline &nbsp; projects
                if is_owner
                    a.ui.item(href='/owner_portal' class="{{isActivePath '/owner_portal'}}")
                        //- +i name='dashboard' classes='ui avatar inline image'
                        i.large.dashboard.icon
                        .mobile.hidden.inline &nbsp; owner dashboard
                    a.ui.item(href='/owners' class="{{isActivePath '/owners'}}")
                        //- +i name='rent' classes='ui avatar inline image'
                        i.money.icon
                        .mobile.hidden.inline &nbsp; owners
                    a.ui.item(href='/work_orders' class="{{isActivePath '/work_orders'}}")
                        //- +i name='work' classes='ui avatar inline image'
                        i.large.wrench.icon
                        .mobile.hidden.inline &nbsp; work orders
                    a.ui.item(href='/minutes' class="{{isActivePath '/minutes'}}")
                        //- +i name='checklist' classes='ui avatar inline image'
                        i.large.list.icon
                        .mobile.hidden.inline &nbsp; minutes
                    a.ui.item(href='/projects' class="{{isActivePath '/projects'}}")
                        //- +i name='project' classes='ui avatar inline image'
                        i.chart.line.large.icon
                        .mobile.hidden.inline &nbsp; projects
            
                if is_staff
                    a.ui.item(href='/staff_home' class="{{isActivePath '/staff_home'}}")
                        //- +i name='home' classes='ui avatar inline image'
                        i.large.home.icon
                    //- a.ui.item(href='/stats' class="{{isActivePath '/stats'}}")
                    //-     +i name='line chart' classes='ui avatar inline image'
                    a.ui.item(href='/staff' class="{{isActivePath '/staff'}}")
                        //- +i name='manager' classes='ui avatar inline image'
                        i.large.user.shield.large.icon
                        .mobile.hidden.inline &nbsp; staff
                    a.ui.item(href='/buildings' class="{{isActivePath '/buildings'}}")
                        //- +i name='building' classes='ui avatar inline image'
                        i.large.building.icon
                        .mobile.hidden.inline &nbsp; buildings
                    a.ui.item(href='/residents' class="{{isActivePath '/residents'}}")
                        //- +i name='groups' classes='ui avatar inline image'
                        i.large.users.icon
                        .mobile.hidden.inline &nbsp; residents
                    a.ui.item(href='/healthclub' class="{{isActivePath '/healthclub'}}")
                        +i name='kindle' classes='ui avatar inline image'
                        .mobile.hidden.inline &nbsp; kiosk
                    a.ui.item(href='/readings' class="{{isActivePath '/readings'}}")
                        +i name='water' classes='ui avatar inline image'
                        .mobile.hidden.inline &nbsp; water
                if is_admin
                    //- a.ui.item.set_models(href='/m/model' class="{{isActivePath '/m/model'}}")
                    //-     +i name='active-directory' classes='ui avatar inline image'
                    //- a.ui.item(href='/grid' class="{{isActivePath '/grid'}}")
                    //-     +i name='activity-grid-2' classes='ui avatar inline image'
                    a.ui.item(href='/users' class="{{isActivePath '/users'}}")
                        //- +i name='groups' classes='ui avatar inline image'
                        i.users.large.icon
                        .mobile.hidden.inline &nbsp; users
            .right.menu
                if is_dev
                    a.ui.item(href='/dev' class="{{isActivePath '/dev'}}" title='dev')
                        //- +i name='code' classes='ui avatar inline image'
                        i.code.large.icon
                if is_admin
                    a.ui.item.set_task(href='/m/task' class="{{isActivePath '/m/task'}}" title='tasks')
                        //- +i name='tasks' classes='ui avatar inline image'
                        i.tasks.large.icon
                    //- a.ui.item(href='/tasks' class="{{isActivePath '/tasks'}}" title='tasks')
                    //-     i.tasks.large.icon
                    a.ui.item(href='/inbox' class="{{isActivePath '/inbox'}}" title='inbox')
                        //- +i name='inbox' classes='ui avatar inline image'
                        i.inbox.large.icon
                    a.ui.item(href='/chat' class="{{isActivePath '/chat'}}" title='chat')
                        //- +i name='chat' classes='ui avatar inline image'
                        i.chat.large.outline.icon
                if currentUser
                    unless logging_out
                        //- if is_dev
                        unless is_frontdesk
                            a.ui.item(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='user_chat'}}")
                                if currentUser.image_id
                                    img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                else
                                    +i name='user'
                                | #{currentUser.username}
                    if logging_out
                        .ui.item
                            i.large.loading.circle.notch.icon
                    //- else
                    //-     a#logout.ui.mobile.hidden.inline.icon.ui.item(href='#' title='Log Out')
                    //-         i.sign.out.large.icon
                else
                    unless is_resident
                        a.ui.item(href='/login' title='login') 
                            +i name='internal'
                            |login
                            //- .secnav
        .ui.attached.borderless.small.menu.topnav
            each role_models
                a.item.secnav.set_model(href="/m/#{slug}/" title="#{views} views")
                    //- +i name=icon classes='ui avatar inline image'
                    i.large.icon(class=icon)
                    |#{title}



template(name='footer')
    .ui.fluid.basic.attached.basic.segment.footer
        .ui.container.stackable.grid
            .eight.wide.column
                //- if is_staff
                .ui.button.shortcut_modal
                    i.keyboard.icon
                    | keyboard shortcuts
                +add_button label='report bug' model='bug' icon='bug'
                //- else
                //-     form.inline(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                //-         input(type='hidden', name='cmd', value='_s-xclick')
                //-         input(type='hidden', name='hosted_button_id', value='BUX7ZDWUFLVDQ')
                //-         //- // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                //-         //- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                //-         img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                //-         button.ui.icon.button(type='submit' title='donate')
                //-             +i name='donate'
                if is_dev    
                    with current_user
                        +role_switcher
            .eight.wide.column
                //- unless currentUser
                //-     a.ui.big.basic.button(href='/login')
                //-         i.sign.in.icon
                //-         |login
                if is_eric
                    with currentUser
                        +role_switcher
                else if is_dev
                    with currentUser
                        +role_switcher
        //- if is_user
        //-     .row
        //-         .ui.center.aligned.inverted.header
        //-             i.copyright.outline.icon
        //-             |


template(name='role_switcher')
    .ui.inline.center.aligned.small.header 
        +i name='anonymous-mask'
        |#{username} role switcher
    //- if is_eric
    //-     +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //-         +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- else if currentUser
    //-     with currentUser
    +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- +user_array_element_toggle key='roles' value='admin' user=currentUser
    //- +user_array_element_toggle key='roles' value='user' user=currentUser
    //- +user_array_element_toggle key='roles' value='staff' user=currentUser
    //- +user_array_element_toggle key='roles' value='resident' user=currentUser
    //- +user_array_element_toggle key='roles' value='owner' user=currentUser
