template(name='nav')
    unless is_frontdesk
        .ui.borderless.attached.massive.menu.topnav
            //- a.toggle_sidebar.icon.item.sidebar_on
            //-     i.large.sidebar.icon
            if is_loading
                .icon.item
                    i.large.grey.loading.notched.circle.icon
            else
                a.header.icon.item(href='/' class="{{isActivePath '/'}}")
                    //- i.grey.home.large.icon
                    +i name='home-page'  
                if currentUser  
                    a.header.icon.set_model.item(href='/home' class="{{isActivePath '/home'}}")
                        //- i.grey.th.large.icon
                        +i name='squared-menu'    
                if is_staff
                    a.item(href='/staff' class="{{isActivePath '/staff'}}" title='staff')
                        //- +i name='employee-card'
                        i.shield.grey.icon
                        .mobile.hidden Staff
                    a.item(href='/users' class="{{isActivePath '/users'}}" title='Users')
                        i.grey.users.icon
                        //- +i name='groups'
                        .mobile.hidden Users
                //- a.item.set_marketplace(href='/m/marketplace' class="{{isActivePath '/m/marketplace'}}")
                //-     +i name='shop'
                //- each bookmarked_models
                //-     a.item.set_bookmarked_model(href="/m/#{slug}" class="{{isActivePath '/m/#{slug}'}}" title=title)
                //-         i.large.icon(class=icon)
                //-         |#{title}
                if is_staff
                    a.item(href='/checkin' class="{{isActivePath '/checkin'}}" title='Health Club')
                        i.grey.clinic.medical.icon
                        //- +i name='treadmill'    
                        .mobile.hidden Health Club
            .right.menu
                if is_admin
                    a.icon.item.set_task(href='/m/task' class="{{isActivePath '/m/task'}}")
                        +i name='task'
                        //- i.tasks.icon
                    a.icon.item.set_note(href='/m/note' class="{{isActivePath '/m/note'}}")
                        +i name='note'
                        //- i.note.icon
                if currentUser
                    //- .item
                    //-     .ui.header(title='your karma') #{currentUser.karma}
                    unless logging_out
                        //- .ui.simple.dropdown.item(href="/user/#{currentUser.username}/notifications" class="{{isActivePath '/messages'}}")
                        //-     i.alarm.icon
                        //-     .menu
                        //-         each notifications
                        //-             .ui.circular.button #{text}
                        //- if is_admin
                        //-     a.icon.item(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='profile'}}")
                        //-         +i name='new-post'
                                //- i.large.grey.mail.icon(class=mail_icon_class title="#{unread_count} Unread")
                        if is_resident
                            a.icon.item(href="/chat" class="{{isActivePath '/chat'}}")
                                +i name='filled-topic'
                        //- if is_admin
                        //-     a.icon.item(href='/admin' class="{{isActivePath '/admin'}}")
                        //-         +i name='user shield'
                        if is_dev
                            a.item.set_model(href='/m/model' class="{{isActivePath '/m/model'}}")
                                //- +i name='active directory'
                                i.sitemap.icon
                        unless is_frontdesk
                            a.item(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='user_chat'}}")
                                if currentUser.image_id
                                    img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                else
                                    //- +i name='user'
                                    i.user.icon
                                //- | #{currentUser.username}
                    if logging_out
                        .item
                            i.large.grey.loading.circle.notch.icon
                    else
                        a#logout.ui.mobile.hidden.icon.item(href='#' title='Log Out')
                            i.sign.out.grey.icon
                else
                    a.icon.item(href='/login' title='Login') 
                        i.sign.in.large.grey.icon


template(name='sidebar')
    .ui.left.inline.vertical.sidebar.grblue.fixed.menu
        a.header.toggle_sidebar.item(href='/' class="{{isActivePath '/'}}") 
            i.home.icon
            | Gold Run
        a.toggle_sidebar.item(href='/readings' class="{{isActivePath '/readings'}}")
            i.theme.icon
            | Readings
        a.toggle_sidebar.item(href='/lostfound' class="{{isActivePath '/lostfound'}}")
            i.random.icon
            | Lost and Found
        a.toggle_sidebar.item(href='/bikes' class="{{isActivePath '/bikes'}}")
            i.bicycle.icon
            | Bikes
        a.toggle_sidebar.item(href='/frontdesk' class="{{isActivePath '/frontdesk'}}")
            i.circle.info.icon
            | Desk Staff
        a.toggle_sidebar.item(href='/buildings' class="{{isActivePath '/buildings'}}")
            i.building.icon
            | Buildings
        a.toggle_sidebar.item(href='/tasks' class="{{isActivePath '/tasks'}}")
            i.edit.icon
            | Tasks
        a.toggle_sidebar.item(href='/keys' class="{{isActivePath '/keys'}}")
            i.key.icon
            | Keys
        a.toggle_sidebar.item(href='/users' class="{{isActivePath '/users'}}")
            i.users.icon
            | People
        if currentUser
            unless logging_out
                a.item(href='/dashboard' class="{{isActivePath '/dashboard'}}")
                    i.dashboard.icon
                    | Dashboard
                .ui.simple.dropdown.icon.item
                    i.alarm.icon
                    | Alerts
                a.item(href='/messages' class="{{isActivePath '/messages'}}")
                    i.mail.icon
                    | Mail
                if is_admin
                    a.icon.toggle_sidebar.item(href='/admin/members' class="{{isActivePath '/admin/members'}}")
                        i.configure.icon
                        | Admin
                a.item(href="/user/#{currentUser.username}/edit" class="{{isActiveRoute regex='user_edit'}}")
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    | #{currentUser.username}
            if logging_out
                .item
                    i.loading.refresh.icon
                    |Logging Out...
            else
                a#logout.ui.mobile.hidden.icon.item(href='#' title='Log Out')
                    i.sign.out.icon
                    |Log Out
        else
            a.ui.item(href='/login') 
                i.sign.in.icon
                | Log In




template(name='footer')
    .ui.fluid.secondary.attached.segment.footer
        .ui.container.stackable.grid
            .eight.wide.column
                //- +health_club_info
            
                if is_resident_or_user
                    +ads
                    form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                        input(type='hidden', name='cmd', value='_s-xclick')
                        input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                        <input type="hidden" name="hosted_button_id" value="7SENHECABERS6" />
                        // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                        //- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                        button.ui.large.circular.icon.basic.button(type='submit')
                            //- i.pied.piper.alternate.large.icon
                            |donate
                
                //- +health_club_info
                if is_eric    
                    with current_user
                        +role_switcher
            .eight.wide.column
                unless currentUser
                    a.ui.basic.circular.button(href='/login')
                        i.sign.in.icon
                        |Login
                if is_eric
                    with currentUser
                        +role_switcher
        .row
            .ui.center.aligned.grey.header
                i.copyright.outline.icon
                |Gold Run Community
