template(name='nav')
    unless is_frontdesk
        #topnav.topnav.ui.large.borderless.attached.menu
            if is_loading
                .icon.item
                    i.big.spinning.yin.yang.grey.cancel.icon
            else
                if currentUser
                    a.ui.item(href='/grid' class="{{isActivePath '/grid'}}" title='model grid view')
                        i.th.icon
                a.ui.item(href='/' class="{{isActivePath '/'}}")
                    //- +i name='home' classes='ui mini inline image' 
                    //- i.home.icon 
                    |home
                    //- | gro
                    //- img.ui.mini.inline.centered.circular.image(src="{{c.url 'gold_run_logo' }}")
                if is_dev
                    a.ui.item(href='/m/model' class="{{isActivePath '/m/model'}}" title='model delta view')
                        //- +i name='active-directory' classes='ui mini inline image'
                        i.fork.icon
                unless is_staff 
                    //- a.ui.item.set_work_order(href='/m/work_order' class="{{isActivePath '/m/work_order'}}")
                    //-     //- +i name='work' classes='ui mini inline image'
                    //-     i.tasks.icon
                    //-     .mobile.hidden.inline &nbsp; work-orders
                    //- a.ui.item(href='/projects' class="{{isActivePath '/projects'}}")
                    //-     //- +i name='project' classes='ui mini inline image'
                    //-     i.line.chart.icon
                    //-     .mobile.hidden.inline &nbsp; projects
                    //- a.ui.item.set_projects(href='/projects' class="{{isActivePath '/projects'}}")
                    //-     +i name='project' classes='ui mini inline image'
                    //-     .mobile.hidden.inline &nbsp; projects
                    //- a.ui.item(href='/shop' class="{{isActivePath '/shop'}}")
                    //-     //- +i name='shop' classes='ui mini inline image'
                    //-     i.store.icon
                    //-     .mobile.hidden.inline &nbsp; market
                    //- a.ui.item(href='/work' class="{{isActivePath '/work'}}")
                    //-     i.tasks.icon
                    //-     .mobile.hidden.inline &nbsp; work
                    
                    a.ui.item.set_service(href='/m/service' class="{{isActivePath '/m/service'}}")
                        //- i.wrench.icon
                        .mobile.hidden.inline &nbsp; services
                    a.ui.item.set_request(href='/m/request' class="{{isActivePath '/m/request'}}")
                        //- i.hand.holding.usd.icon
                        .mobile.hidden.inline &nbsp; requests
                    a.ui.item.set_offer(href='/m/offer' class="{{isActivePath '/m/offer'}}")
                        //- i.hand.holding.usd.icon
                        .mobile.hidden.inline &nbsp; offers
                    a.ui.item.set_rental(href='/m/rental' class="{{isActivePath '/m/rental'}}")
                        //- i.hand.holding.usd.icon
                        .mobile.hidden.inline &nbsp; rentals
                    a.ui.item.set_product(href='/m/shop' class="{{isActivePath '/m/shop'}}")
                        //- i.hand.holding.usd.icon
                        .mobile.hidden.inline &nbsp; shop
                    
                
                //- a.ui.item.set_work_order(href='/m/work_order' class="{{isActivePath '/m/work_order'}}" title='delta work orders')
                //-     +i name='invoice' classes='ui mini inline image'
                //-     .mobile.hidden.inline &nbsp; work orders

                //- if is_resident
                //-     a.ui.item(href='/resident_portal' class="{{isActivePath '/resident_portal'}}" title='resident portal')
                //-         //- +i name='dashboard' classes='ui mini inline image'
                //-         i.dashboard.icon
                //-         //- |resident portal                
                if is_staff
                    a.ui.item(href='/staff_home' class="{{isActivePath '/staff_home'}}")
                        //- +i name='dashboard' classes='ui mini inline image'    
                        |dashboard      
                    //- a.ui.item(href='/work_orders' class="{{isActivePath '/work_orders'}}")
                    //-     //- +i name='work' classes='ui mini inline image'
                    //-     .mobile.hidden.inline &nbsp; work orders                  
                    a.ui.item(href='/residents' class="{{isActivePath '/residents'}}")
                        //- +i name='work' classes='ui mini inline image'
                        |residents                  
                    a.ui.item(href='/healthclub' class="{{isActivePath '/healthclub'}}")
                        //- +i name='work' classes='ui mini inline image'
                        |kiosk                  
                if is_owner
                    a.ui.icon.item(href='/owner_portal' class="{{isActivePath '/owner_portal'}}" title='owner dashboard')
                        //- i.money.icon
                        |owner portal
                //- if is_resident
                    //- each bookmarked_models
                    //-     a.ui.item.set_model(href="/m/#{slug}/" title=title)
                    //-         +i name=icon classes='ui mini inline image'
                    
                    a.ui.item(href='/blog' class="{{isActivePath '/blog'}}")
                        +i name='blog' classes='ui mini inline image'
                    //- a.ui.item(href='/events' class="{{isActivePath '/events'}}")
                    //-     +i name='calendar' classes='ui mini inline image'
                    //- a.ui.item(href='/shop' class="{{isActivePath '/shop'}}")
                    //-     +i name='shop' classes='ui mini inline image'
                    //- a.ui.item(href='/gallery' class="{{isActivePath '/gallery'}}")
                    //-     +i name='gallery' classes='ui mini inline image'
                    //- a.ui.item(href='/profiles' class="{{isActivePath '/profiles'}}")
                    //-     +i name='groups' classes='ui mini inline image'
                    //-     |profiles
                //- if is_manager
                //-     a.ui.item(href='/manager' class="{{isActivePath '/manager'}}")
                //-         //- +i name='user-shield' classes='ui mini inline image'
                //-         i.user.shield.icon
                //-         .mobile.hidden.inline &nbsp; manager
                if is_admin
                    a.ui.item(href='/users' class="{{isActivePath '/users'}}")
                        //- +i name='groups' classes='ui mini inline image'
                        //- i.users.icon
                        | users
                if is_staff
                    a.ui.item(href='/buildings' class="{{isActivePath '/buildings'}}")
                        //- +i name='line chart' classes='ui mini inline image'
                        |buildings
                    a.ui.item(href='/readings' class="{{isActivePath '/readings'}}")
                        //- +i name='line chart' classes='ui mini inline image'
                        |readings
                    a.ui.item(href='/staff' class="{{isActivePath '/staff'}}" title='staff')
                        //- i.user.shield.icon
                        | staff
            
                //- .ui
                //- a.ui.icon.item(href='/dashboard' class="{{isActivePath '/dashboard'}}" title='storefront')
                //-     +i name='shop' classes='ui mini inline image'                
            .right.menu
                if is_dev
                    a.ui.item(href='/dev' class="{{isActivePath '/dev'}}" title='dev')
                        //- +i name='code' classes='ui mini inline image'
                        i.code.icon
                unless is_staff
                    a.ui.item(href='/cart' class="{{isActivePath '/cart'}}" title='cart')
                        i.cart.icon
                    a.ui.item(href='/transactions' class="{{isActivePath '/transactions'}}" title='transactions')
                        i.list.icon
                    a.ui.item(href='/m/work' class="{{isActivePath '/m/work'}}" title='tasks')
                        i.tasks.icon
                    //- a.ui.item(href='/tasks' class="{{isActivePath '/tasks'}}" title='tasks')
                    //-     i.tasks.icon
                    if currentUser
                        a.ui.item(href='/inbox' class="{{isActivePath '/inbox'}}" title='inbox')
                            i.inbox.icon
                    a.ui.item(href='/chat' class="{{isActivePath '/chat'}}" title='chat')
                        i.chat.large.outline.icon
                if currentUser
                    unless logging_out
                        //- if is_dev
                        unless is_frontdesk
                            a.ui.item(href="/user/#{currentUser.username}/dashboard" class="{{isActiveRoute regex='user_chat'}}")
                                if currentUser.image_id
                                    img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                else
                                    //- +i name='user'
                                    i.user.icon
                                | #{currentUser.username}
                    if logging_out
                        .ui.item
                            i.loading.circle.notch.icon
                    //- else
                    //-     a#logout.ui.mobile.hidden.inline.icon.ui.item(href='#' title='Log Out')
                    //-         i.sign.out.icon
                else
                    unless currentUser
                        a.ui.icon.item(href='/login' title='login') 
                            //- +i name='internal' 
                            i.sign.in.alternate.icon
                            //- |login
                            //- .secnav
        //- if currentUser
        //-     //- unless is_staff
        //-     .ui.attached.borderless.menu.topnav
        //-         each role_models
        //-             a.item.secnav.set_model(href="/m/#{slug}/")
        //-                 //- +i name=icon classes='ui mini inline image'
        //-                 //- i.icon(class=icon)
        //-                 |#{title}



template(name='footer')
    .ui.fluid.basic.attached.secondary.segment.footer
        .ui.stackable.grid
            .four.wide.column
                +latest_activity
            .four.wide.column
                if currentUser 
                    +my_latest_activity
                if is_admin
                    .ui.button.shortcut_modal
                        i.keyboard.icon
                        | keyboard shortcuts
                //- +add_button label='+ bug' model='bug' icon='bug'
                //- else
                unless is_staff
                    form.inline(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                        input(type='hidden', name='cmd', value='_s-xclick')
                        input(type='hidden', name='hosted_button_id', value='BUX7ZDWUFLVDQ')
                        //- // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                        //- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                        button.ui.icon.button(type='submit' title='donate')
                            +i name='donate' classes='ui inline mini image'
                            //- |donate
                if is_dev    
                    with current_user
                        +role_switcher
            .eight.wide.column
                //- unless currentUser
                //-     a.ui.big.basic.button(href='/login')
                //-         i.sign.in.icon
                //-         |login
                +footer_chat
                if is_eric
                    with currentUser
                        +role_switcher
                else if is_dev
                    with currentUser
                        +role_switcher

                
                
template(name='footer_chat')
    //- +ismall name='comments'
    //- .ui.small.inline.header chat
    .ui.list.scroll
        each chat_messages
            .item(title="by #{author.first_name} #{author.last_name} #{when}")
                if author
                    img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text}
                //- small #{when}
                if is_author
                    span
                        i.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.transparent.big.input
        i.plus.icon
        input.new_footer_chat_message(type='text' placeholder='add message')





template(name='my_latest_activity')
    .ui.grey.header your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='latest_activity')
    .ui.grey.header 
        //- i.grey.rss.icon
        |all activity
    .ui.list
        each latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='role_switcher')
    .ui.inline.center.aligned.small.header 
        +i name='anonymous-mask'
        |#{username} role switcher
    //- if is_eric
    //-     +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //-         +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- else if currentUser
    //-     with currentUser
    +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- +user_array_element_toggle key='roles' value='admin' user=currentUser
    //- +user_array_element_toggle key='roles' value='user' user=currentUser
    //- +user_array_element_toggle key='roles' value='staff' user=currentUser
    //- +user_array_element_toggle key='roles' value='resident' user=currentUser
    //- +user_array_element_toggle key='roles' value='owner' user=currentUser
