template(name='nav')
    unless is_frontdesk
        #topnav.topnav.ui.borderless.large.attached.menu(class=gs.nav_color)
            if is_loading
                .icon.item
                    //- i.big.spinning.yin.yang.cancel.icon
                    i.big.white.spinning.pulse.plus.icon.cancel
                    //- i.big.blue.spinning.pulse.plus.icon.cancel
            unless is_loading
                if is_dev
                    a.ui.icon.item(href='/grid' class="{{isActivePath '/grid'}}" title='models')
                        //- i.th.grey.large.icon
                        +i name='grid-view' classes='ui mini inline image'
                a.ui.icon.item(href='/' class="{{isActivePath '/'}}" title='home')
                    //- i.home.large.grey.icon 
                    +i name='home' classes='ui mini inline image'

            a.ui.icon.item(href='/m/rental' class="{{isActivePath '/m/rental'}}" title='rentals')
                //- i.clock.large.icon
                +i name='handshake' classes='ui mini inline image'
                //- .mobile.hidden.inline &nbsp; rentals
                        
            a.ui.icon.item(href='/market' class="{{isActivePath '/market'}}" title='market')
                +i name='shop' classes='ui mini inline image'
                //- i.store.large.grey.icon
                //- |home
                //- | gro
                //- img.ui.mini.inline.centered.circular.image(src="{{c.url 'gold_run_logo' }}")
                //- a.ui.icon.item(href='/healthclub' class="{{isActivePath '/healthclub'}}" title='hcc')
                //-     i.tablet.large.grey.icon
            //- unless is_staff 
                //- a.ui.item.set_work_order(href='/m/work_order' class="{{isActivePath '/m/work_order'}}")
                //-     //- +i name='work' classes='ui mini inline image'
                //-     i.tasks.icon
                //-     .mobile.hidden.inline &nbsp; work-orders
                //- a.ui.item(href='/m/project' class="{{isActivePath '/m/project'}}")
                //-     //- +i name='project' classes='ui mini inline image'
                //-     i.line.chart.icon
                //-     .mobile.hidden.inline &nbsp; projects
                //- a.ui.item.set_projects(href='/projects' class="{{isActivePath '/projects'}}")
                //-     +i name='project' classes='ui mini inline image'
                //-     .mobile.hidden.inline &nbsp; projects
                //- a.ui.item(href='/work' class="{{isActivePath '/work'}}")
                //-     i.tasks.icon
                //-     .mobile.hidden.inline &nbsp; work
                
            a.ui.icon.item.set_service(href='/m/service' class="{{isActivePath '/m/service'}}" title='services')
                //- i.wrench.icon
                +i name='work' classes='ui mini inline image'
                //- .mobile.hidden.inline &nbsp; services
            a.ui.icon.item.set_request(href='/m/request' class="{{isActivePath '/m/request'}}" title='request')
                //- i.hand.holding.usd.icon
                +i name='request-service' classes='ui mini inline image'
                //- .mobile.hidden.inline &nbsp; requests
            //- a.ui.icon.item.set_offer(href='/m/offer' class="{{isActivePath '/m/offer'}}" title='offer')
            //-     i.hand.holding.usd.icon
                //- .mobile.hidden.inline &nbsp; offers
                //- .mobile.hidden.inline &nbsp; market
            //- a.ui.icon.item.set_shop(href='/m/shop' class="{{isActivePath '/m/shop'}}" title='shop')
            //-     i.shop.icon
            //-     .mobile.hidden.inline &nbsp; shop
            a.ui.icon.item.set_food(href='/m/food' class="{{isActivePath '/m/food'}}" title='food')
                //- i.food.icon
                +i name='food' classes='ui mini inline image'
                //- .mobile.hidden.inline &nbsp; food
                
            
            //- a.ui.item.set_work_order(href='/m/work_order' class="{{isActivePath '/m/work_order'}}" title='delta work orders')
            //-     +i name='invoice' classes='ui mini inline image'
            //-     .mobile.hidden.inline &nbsp; work orders

            //- if is_resident
            //-     a.ui.item(href='/resident_portal' class="{{isActivePath '/resident_portal'}}" title='resident portal')
            //-         //- +i name='dashboard' classes='ui mini inline image'
            //-         i.dashboard.icon
            //-         //- |resident portal                
            if is_staff
                //- a.ui.item(href='/staff_home' class="{{isActivePath '/staff_home'}}")
                //-     //- +i name='dashboard' classes='ui mini inline image'    
                //-     i.dashboard.icon
                //-     |dashboard      
                //- a.ui.item(href='/work_orders' class="{{isActivePath '/work_orders'}}")
                //-     //- +i name='work' classes='ui mini inline image'
                //-     .mobile.hidden.inline &nbsp; work orders                  
                a.ui.icon.item(href='/residents' class="{{isActivePath '/residents'}}" title='resident lookup')
                    //- i.users.large.grey.icon
                    +i name='groups' classes='ui mini inline image'
                    //- |residents                  
                a.ui.icon.item(href='/healthclub' class="{{isActivePath '/healthclub'}}" title='kiosk')
                    //- i.tablet.large.grey.icon
                    +i name='android-tablet' classes='ui mini inline image'
                    //- |kiosk                  
            if is_owner
                a.ui.icon.item(href='/owner_portal' class="{{isActivePath '/owner_portal'}}" title='owner dashboard')
                    //- i.money.icon
                    +i name='money'
                    |owner portal
            if is_resident
                each bookmarked_models
                    a.ui.item.set_model(href="/m/#{slug}/" title=title)
                        +i name=icon classes='ui mini inline image'
                
                a.ui.icon.item(href='/blog' class="{{isActivePath '/blog'}}")
                    +i name='blog' classes='ui mini inline image'
                //- a.ui.item(href='/events' class="{{isActivePath '/events'}}")
                //-     +i name='calendar' classes='ui mini inline image'
                //- a.ui.item(href='/shop' class="{{isActivePath '/shop'}}")
                //-     +i name='shop' classes='ui mini inline image'
                //- a.ui.item(href='/gallery' class="{{isActivePath '/gallery'}}")
                //-     +i name='gallery' classes='ui mini inline image'
            if is_manager
                a.ui.icon.item(href='/manager' class="{{isActivePath '/manager'}}")
                    i.manager.icon
                    //- .mobile.hidden.inline &nbsp; manager
                a.ui.icon.item(href='/m/projects' class="{{isActivePath '/m/projects'}}")
                    +i name='project' classes='ui mini inline image'
                    //- i.line.chart.icon
                    .mobile.hidden.inline &nbsp; projects
                
            //- if is_admin
            //-     a.ui.item(href='/users' class="{{isActivePath '/users'}}")
            //-         //- +i name='groups' classes='ui mini inline image'
            //-         i.users.icon
            //-         | users
            if is_staff
                a.ui.icon.item(href='/buildings' class="{{isActivePath '/buildings'}}" title='buildings')
                    +i name='building' classes='ui mini inline image'
                    //- i.building.large.grey.icon
                    //- |buildings
                a.ui.icon.item(href='/readings' class="{{isActivePath '/readings'}}" title='water readings')
                    +i name='water' classes='ui mini inline image'
                    //- i.water.blue.large.icon
                    //- |readings
                a.ui.item(href='/staff' class="{{isActivePath '/staff'}}" title='staff')
                    +i name='user shield' classes='ui mini inline image'
                    //- i.user.shield.large.grey.icon
                    | staff
        
            //- .ui
            //- a.ui.item(href='/dashboard' class="{{isActivePath '/dashboard'}}" title='storefront')
            //-     +i name='shop' classes='ui mini inline image'                
            .right.menu
                if is_dev
                    a.ui.icon.item(href='/dev' class="{{isActivePath '/dev'}}" title='dev')
                        +i name='code' classes='ui mini inline image'
                    a.ui.icon.item(href='/m/model' class="{{isActivePath '/m/model'}}" title='model delta view')
                        +i name='database' classes='ui mini inline image'
                if is_admin
                    a.ui.icon.item(href='/admin' class="{{isActivePath '/admin'}}" title='admin')
                        +i name='shield' classes='ui mini inline image'
                        //- i.large.shield.icon
                    //- a.ui.icon.item(href='/shop' class="{{isActivePath '/shop'}}")
                    //-     //- +i name='shop' classes='ui mini inline image'
                    //-     i.store.large.grey.icon
                
                    a.ui.icon.item(href='/karma' class="{{isActivePath '/karma'}}" title='karma')
                        //- i.yin.yang.icon
                        +i name='yin-yang' classes='ui mini inline image'
                        |#{currentUser.karma}
                    a.ui.icon.item(href='/cart' class="{{isActivePath '/cart'}}" title='cart')
                        //- i.cart.icon
                        +i name='shopping-cart' classes='ui mini inline image'
                    a.ui.icon.item(href='/transactions' class="{{isActivePath '/transactions'}}" title='transactions')
                        //- i.list.large.grey.icon
                        +i name='invoice' classes='ui mini inline image'
                    a.ui.icon.item(href='/inbox' class="{{isActivePath '/inbox'}}" title='inbox')
                        //- i.inbox.grey.large.icon
                        +i name='inbox' classes='ui mini inline image'
                    a.ui.icon.item(href='/chat' class="{{isActivePath '/chat'}}" title='chat')
                        +i name='chat' classes='ui mini inline image'
                        //- i.chat.large.grey.outline.icon
                //- unless is_staff
                    //- a.ui.item(href='/m/work' class="{{isActivePath '/m/work'}}" title='tasks')
                    //-     i.tasks.icon
                    //- a.ui.item(href='/tasks' class="{{isActivePath '/tasks'}}" title='tasks')
                    //-     i.tasks.icon
                    //- if currentUser
                if currentUser
                    unless logging_out
                        //- if is_dev
                        unless is_frontdesk
                            a.ui.item(href="/user/#{currentUser.username}/dashboard" class="{{isActiveRoute regex='user_chat'}}")
                                if currentUser.image_id
                                    img.ui.avatar.image(src="{{c.url currentUser.kiosk_photo width=100 height=100 gravity='face' crop='fill'}}")
                                else
                                    +i name='user' classes='ui mini inline image'
                                    //- i.user.icon
                                .mobile.hidden #{currentUser.name}
                    if logging_out
                        .ui.item
                            i.loading.circle.notch.icon
                    else
                        a#logout.ui.mobile.hidden.icon.item(href='#' title='log out')
                            i.sign.out.icon
                else
                    unless currentUser
                        a.ui.item(href='/login' title='login') 
                            i.sign.in.alternate.grey.icon
                            |login
        if currentUser
            //- unless is_staff
            .ui.attached.borderless.small.menu.secnav(class=gs.nav_color)
                each role_models
                    a.item.secnav(href="/m/#{slug}/")
                        +i name=icon classes='ui avatar image'
                        //- i.icon(class=icon)
                        |#{title}



template(name='footer')
    .ui.fluid.basic.attached.secondary.segment.footer
        .ui.stackable.grid
            .four.wide.column
                +latest_activity
            .four.wide.column
                if currentUser 
                    +my_latest_activity
                //- if is_admin
                //-     .ui.button.shortcut_modal
                //-         i.keyboard.icon
                //-         | keyboard shortcuts
                +add_button label='bug' model='bug' icon='bug'
                if is_dev    
                    with current_user
                        +role_switcher
            .eight.wide.column
                unless currentUser
                    a.ui.big.button(href='/login')
                        i.sign.in.icon
                        |login
                +footer_chat
                if is_eric
                    with currentUser
                        +role_switcher
                else if is_dev
                    with currentUser
                        +role_switcher

                
                
template(name='footer_chat')
    .ui.grey.inline.header 
        //- i.outline.comments.icon
        +i name='chat'
        |chat
    .ui.list.scroll
        each chat_messages
            .item(title="by #{author.first_name} #{author.last_name} #{when}")
                if author
                    img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text}
                //- small #{when}
                if is_author
                    span
                        i.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.large.input
        i.plus.blue.icon
        input.new_footer_chat_message(type='text' placeholder='add message')





template(name='my_latest_activity')
    .ui.grey.header 
        //- i.grey.rss.icon
        +i name='rss'
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='latest_activity')
    .ui.grey.header 
        //- i.grey.rss.icon
        +i name='rss'
        |all activity
    .ui.list
        each latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='role_switcher')
    .ui.inline.center.aligned.small.header 
        |#{username} role switcher
    //- if is_eric
    //-     +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //-         +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- else if currentUser
    //-     with currentUser
    +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- +user_array_element_toggle key='roles' value='admin' user=currentUser
    //- +user_array_element_toggle key='roles' value='user' user=currentUser
    //- +user_array_element_toggle key='roles' value='staff' user=currentUser
    //- +user_array_element_toggle key='roles' value='resident' user=currentUser
    //- +user_array_element_toggle key='roles' value='owner' user=currentUser
