template(name='nav')
    unless is_frontdesk
        #topnav.topnav.ui.borderless.large.attached.menu(class=gs.nav_color)
            if is_loading
                .icon.item
                    //- i.big.spinning.yin.yang.cancel.icon
                    i.big.spinning.pulse.plus.blue.icon.cancel
                    //- i.big.blue.spinning.pulse.plus.icon.cancel
            unless is_current_staff
                unless is_loading
                    //- a.ui.icon.item(href='/grid' class="{{isActivePath '/grid'}}" title='models')
                    //-     +i name='grid-view' classes='ui mini inline image'
                    a.ui.icon.item(href='/' class="{{isActivePath '/'}}" title='home')
                        +i name='home' classes='ui mini inline image'
                a.ui.icon.item(href='/m/rental' class="{{isActivePath '/m/rental'}}" title='rentals')
                    +i name='handshake' classes='ui mini inline image'
                a.ui.icon.item(href='/m/offer' class="{{isActivePath '/m/offer'}}" title='offer')
                    +i name='sell' classes='ui mini inline image'
                a.ui.icon.item(href='/market' class="{{isActivePath '/market'}}" title='market')
                    +i name='shop' classes='ui mini inline image'
                a.ui.icon.item.set_service(href='/m/service' class="{{isActivePath '/m/service'}}" title='services')
                    +i name='work' classes='ui mini inline image'
                a.ui.icon.item.set_request(href='/m/request' class="{{isActivePath '/m/request'}}" title='request')
                    +i name='request-service' classes='ui mini inline image'
                a.ui.icon.item(href='/m/food' class="{{isActivePath '/m/food'}}" title='food')
                    +i name='food' classes='ui mini inline image'
            //- if is_current_staff
            //-     a.ui.icon.item(href='/residents' class="{{isActivePath '/residents'}}" title='resident lookup')
            //-         +i name='groups' classes='ui mini inline image'
            //-         //- |residents                  
            //-     a.ui.icon.item(href='/healthclub' class="{{isActivePath '/healthclub'}}" title='kiosk')
            //-         +i name='android-tablet' classes='ui mini inline image'
            if is_current_resident
                each bookmarked_models
                    a.ui.item.set_model(href="/m/#{slug}/" title=title)
                        +i name=icon classes='ui mini inline image'
                a.ui.icon.item(href='/blog' class="{{isActivePath '/blog'}}")
                    +i name='blog' classes='ui mini inline image'
                //- a.ui.item(href='/events' class="{{isActivePath '/events'}}")
                //-     +i name='calendar' classes='ui mini inline image'
                //- a.ui.item(href='/shop' class="{{isActivePath '/shop'}}")
                //-     +i name='shop' classes='ui mini inline image'
                //- a.ui.item(href='/gallery' class="{{isActivePath '/gallery'}}")
                //-     +i name='gallery' classes='ui mini inline image'
            if is_current_member
                a.ui.icon.item(href='/members' class="{{isActivePath '/members'}}")
                    +i name='groups' classes='ui mini inline image'
                a.ui.icon.item(href='/work' class="{{isActivePath '/work'}}")
                    +i name='tasks'
            if is_current_staff
                a.ui.icon.item(href='/buildings' class="{{isActivePath '/buildings'}}" title='buildings')
                    +i name='building' classes='ui mini inline image'
                a.ui.icon.item(href='/readings' class="{{isActivePath '/readings'}}" title='water readings')
                    +i name='water' classes='ui mini inline image'
                a.ui.item(href='/staff' class="{{isActivePath '/staff'}}" title='staff')
                    +i name='user shield' classes='ui mini inline image'
                    | staff
        
            //- .ui
            //- a.ui.item(href='/dashboard' class="{{isActivePath '/dashboard'}}" title='storefront')
            //-     +i name='shop' classes='ui mini inline image'                
            .right.menu
                if is_dev
                    a.ui.icon.item(href='/dev' class="{{isActivePath '/dev'}}" title='dev')
                        +i name='code' classes='ui mini inline image'
                    a.ui.icon.item(href='/m/model' class="{{isActivePath '/m/model'}}" title='model delta view')
                        +i name='database' classes='ui mini inline image'
                if is_current_admin
                    a.ui.icon.item(href='/admin' class="{{isActivePath '/admin'}}" title='admin')
                        +i name='shield' classes='ui mini inline image'
                        //- i.large.shield.icon
                    //- a.ui.icon.item(href='/shop' class="{{isActivePath '/shop'}}")
                    //-     //- +i name='shop' classes='ui mini inline image'
                    //-     i.store.large.grey.icon
                
                if is_current_member
                    a.ui.icon.item(href='/karma' class="{{isActivePath '/karma'}}" title='karma')
                        +i name='yin-yang' classes='ui mini inline image'
                        span.my_karma_amount #{currentUser.karma}
                    a.ui.icon.item(href='/cart' class="{{isActivePath '/cart'}}" title='cart')
                        +i name='shopping-cart' classes='ui mini inline image'
                    a.ui.icon.item(href='/transactions' class="{{isActivePath '/transactions'}}" title='transactions')
                        +i name='invoice' classes='ui mini inline image'
                    a.ui.icon.item(href='/inbox' class="{{isActivePath '/inbox'}}" title='inbox')
                        +i name='inbox' classes='ui mini inline image'
                    a.ui.icon.item(href='/chat' class="{{isActivePath '/chat'}}" title='chat')
                        +i name='chat' classes='ui mini inline image'
                        //- i.chat.large.grey.outline.icon
                //- unless is_staff
                    //- a.ui.item(href='/m/work' class="{{isActivePath '/m/work'}}" title='tasks')
                    //-     i.tasks.icon
                    //- a.ui.item(href='/tasks' class="{{isActivePath '/tasks'}}" title='tasks')
                    //-     i.tasks.icon
                    //- if currentUser
                if currentUser
                    unless logging_out
                        //- if is_dev
                        unless is_frontdesk
                            a.ui.item(href="/user/#{currentUser.username}/dashboard" class="{{isActiveRoute regex='user_chat'}}")
                                if currentUser.profile_photo
                                    img.ui.avatar.image(src="{{c.url currentUser.profile_photo width=100 height=100 gravity='face' crop='fill'}}")
                                else
                                    +i name='user' classes='ui mini inline image'
                                    //- i.user.icon
                                .mobile.hidden #{currentUser.name}
                    if logging_out
                        .ui.item
                            i.loading.circle.notch.icon
                    else
                        a#logout.ui.mobile.hidden.icon.item(href='#' title='log out')
                            i.sign.out.icon
                else
                    unless currentUser
                        a.ui.item(href='/login' title='login') 
                            //- i.sign.in.alternate.grey.icon
                            +i name='internal' classes='ui mini inline image'
                            |login
        //- if currentUser
            //- unless is_staff
        .ui.attached.borderless.small.menu.secnav(class=gs.nav_color)
            each role_models
                a.item.secnavitem(href="/m/#{slug}/")
                    +i name=icon classes='ui avatar image'
                    //- i.icon(class=icon)
                    |#{title}



template(name='footer')
    .ui.fluid.basic.attached.secondary.segment.footer
        .ui.stackable.grid
            .four.wide.column
                +latest_activity
            .four.wide.column
                if currentUser 
                    +my_latest_activity
                //- if is_admin
                //-     .ui.button.shortcut_modal
                //-         i.keyboard.icon
                //-         | keyboard shortcuts
                +add_button label='bug' model='bug' icon='bug'
                if is_dev    
                    with current_user
                        +role_switcher
            .eight.wide.column
                unless currentUser
                    a.ui.big.button(href='/login')
                        i.sign.in.icon
                        |login
                +footer_chat
                if is_admin
                    with currentUser
                        +role_switcher

                
                
template(name='footer_chat')
    .ui.grey.inline.header 
        //- i.outline.comments.icon
        +i name='chat'
        |chat
    .ui.list.scroll
        each chat_messages
            .item(title="by #{author.first_name} #{author.last_name} #{when}")
                if author
                    img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text}
                //- small #{when}
                if is_author
                    span
                        i.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.large.input
        i.plus.blue.icon
        input.new_footer_chat_message(type='text' placeholder='add message')





template(name='my_latest_activity')
    .ui.grey.header 
        //- i.grey.rss.icon
        +i name='rss'
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='latest_activity')
    .ui.grey.header 
        //- i.grey.rss.icon
        +i name='rss'
        |all activity
    .ui.list
        each latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='role_switcher')
    .ui.inline.center.aligned.small.header 
        |#{username} role switcher
    if is_eric
        +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        div
        //- +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //- else if currentUser
    //-     with currentUser
    //- +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    if is_admin
        //- +multi_doc_edit key='current_roles' label='current roles' ref_model='role' direct=true
        +user_array_element_toggle key='current_roles' value='admin' user=currentUser
        +user_array_element_toggle key='current_roles' value='member' user=currentUser
        +user_array_element_toggle key='current_roles' value='staff' user=currentUser
        //- +user_array_element_toggle key='roles' value='resident' user=currentUser
        //- +user_array_element_toggle key='roles' value='owner' user=currentUser
