template(name='nav')
    .ui.borderless.attached.massive.menu.topnav
        //- a.toggle_sidebar.icon.item.sidebar_on
        //-     i.large.sidebar.icon
        if is_loading
            .icon.item
                i.large.grey.loading.notched.circle.icon
        else
            if is_dev
                a.header.icon.item(href='/' class="{{isActivePath '/'}}" title='home')
                    //- i.grey.home.large.icon
                    +i name='home-page'    
            if is_staff
                a.icon.item(href='/staff' class="{{isActivePath '/staff'}}" title='staff')
                    //- i.grey.user.shield.large.icon
                    +i name='employee-card'
                a.icon.item(href='/users' class="{{isActivePath '/users'}}" title='users')
                    //- i.large.grey.users.icon
                    +i name='groups'
            a.item.set_marketplace(href='/m/marketplace' class="{{isActivePath '/m/marketplace'}}")
                +i name='shop'
            a.item.set_post(href='/m/post' class="{{isActivePath '/m/post'}}")
                +i name='blog'
            //- each bookmarked_models
            //-     a.item.set_bookmarked_model(href="/m/#{slug}" class="{{isActivePath '/m/#{slug}'}}" title=title)
            //-         i.large.icon(class=icon)
            //-         |#{title}
            if is_frontdesk
                a.icon.item(href='/checkin' class="{{isActivePath '/checkin'}}" title='health club')
                    //- i.large.grey.clinic.medical.icon
                    +i name='treadmill'    
        .right.menu
            if currentUser
                unless logging_out
                    //- .ui.simple.dropdown.item(href="/user/#{currentUser.username}/notifications" class="{{isActivePath '/messages'}}")
                    //-     i.alarm.icon
                    //-     .menu
                    //-         each notifications
                    //-             .ui.circular.button #{text}
                    if is_admin
                        a.icon.item(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='profile'}}")
                            +i name='new-post'
                            //- i.large.grey.mail.icon(class=mail_icon_class title="#{unread_count} Unread")
                    if is_staff
                        a.icon.item(href="/chat" class="{{isActivePath '/chat'}}")
                            +i name='filled-topic'
                    if is_admin
                        a.icon.item(href='/admin' class="{{isActivePath '/admin'}}")
                            +i name='user shield'
                    if is_dev
                        a.item.set_model(href='/m/model' class="{{isActivePath '/m/model'}}")
                            +i name='active directory'
                    //- if is_dev
                    a.item(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='user_chat'}}")
                        if currentUser.image_id
                            img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                        else
                            +i name='user'
                        //- | #{currentUser.username}
                if logging_out
                    .item
                        i.large.grey.loading.circle.notch.icon
                else
                    a#logout.ui.mobile.hidden.icon.item(href='#' title='Log Out')
                        i.sign.out.large.grey.icon
            else
                a.icon.item(href='/login' title='Login') 
                    i.sign.in.large.grey.icon


template(name='sidebar')
    .ui.left.inline.vertical.sidebar.grblue.fixed.menu
        a.header.toggle_sidebar.item(href='/' class="{{isActivePath '/'}}") 
            i.home.icon
            | Gold Run
        a.toggle_sidebar.item(href='/readings' class="{{isActivePath '/readings'}}")
            i.theme.icon
            | Readings
        a.toggle_sidebar.item(href='/lostfound' class="{{isActivePath '/lostfound'}}")
            i.random.icon
            | Lost and Found
        a.toggle_sidebar.item(href='/bikes' class="{{isActivePath '/bikes'}}")
            i.bicycle.icon
            | Bikes
        a.toggle_sidebar.item(href='/frontdesk' class="{{isActivePath '/frontdesk'}}")
            i.circle.info.icon
            | Desk Staff
        a.toggle_sidebar.item(href='/buildings' class="{{isActivePath '/buildings'}}")
            i.building.icon
            | Buildings
        a.toggle_sidebar.item(href='/tasks' class="{{isActivePath '/tasks'}}")
            i.edit.icon
            | Tasks
        a.toggle_sidebar.item(href='/keys' class="{{isActivePath '/keys'}}")
            i.key.icon
            | Keys
        a.toggle_sidebar.item(href='/users' class="{{isActivePath '/users'}}")
            i.users.icon
            | People
        if currentUser
            unless logging_out
                a.item(href='/dashboard' class="{{isActivePath '/dashboard'}}")
                    i.dashboard.icon
                    | Dashboard
                .ui.simple.dropdown.icon.item
                    i.alarm.icon
                    | Alerts
                a.item(href='/messages' class="{{isActivePath '/messages'}}")
                    i.mail.icon
                    | Mail
                if is_admin
                    a.icon.toggle_sidebar.item(href='/admin/members' class="{{isActivePath '/admin/members'}}")
                        i.configure.icon
                        | Admin
                a.item(href="/user/#{currentUser.username}/edit" class="{{isActiveRoute regex='user_edit'}}")
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    | #{currentUser.username}
            if logging_out
                .item
                    i.loading.refresh.icon
                    |Logging Out...
            else
                a#logout.ui.mobile.hidden.icon.item(href='#' title='Log Out')
                    i.sign.out.icon
                    |Log Out
        else
            a.ui.item(href='/login') 
                i.sign.in.icon
                | Log In




template(name='footer')
    .ui.fluid.secondary.attached.segment.footer
        .ui.container.stackable.grid
            .eight.wide.column
                //- +health_club_info
                if is_eric    
                    with current_user
                        +role_switcher
            .eight.wide.column
                if is_eric
                    with currentUser
                        +role_switcher
        .row
            .ui.center.aligned.header
                i.creative.commons.icon
                |gold run
