template(name='owner_portal')
    .ui.padded.stackable.grid
        .row
            .twelve.wide.column
                .ui.inline.header
                    +i name='dashboard'
                    |owner portal
                .ui.inline.grey.header
                    |your unit
                    |##{currentUser.unit_number}
                    |at ##{currentUser.building_number}
            .four.wide.column
                .ui.button.add_work_order
                    i.large.plus.icon
                    |work order
        .three.column.row
            .column
                +documents_small
            .column
                .ui.header 
                    +i name='work' 
                    |maintenance
                .ui.header response time
                .ui.header total requests
                .ui.header total incomplete
                .ui.header total diverted
                .ui.header total complete
            .column
                +board_member_small
                +projects_small
                +board_meeting_minutes_small
            
            
            
template(name='board_member_small')            
    .ui.header 
        +i name='meeting-room'
        |board
    each board_members
        .ui.header #{first_name} #{last_name} 
            .ui.basic.label(title='approval rating') #{approval_rating}%
                


template(name='projects_small')            
    .ui.header 
        +i name='project'
        |projects
    each board_members
        .ui.header #{first_name} #{last_name} 
            .ui.basic.label(title='approval rating') #{approval_rating}%
                


template(name='board_meeting_minutes_small')            
    .ui.header 
        +i name='checklist'
        |board meeting minutes
    each board_members
        .ui.header #{first_name} #{last_name} 
            .ui.basic.label(title='approval rating') #{approval_rating}%
                



template(name='documents_small')
    .ui.header
        +i name='document'
        |documents
    .ui.link.list
        each documents
            a.item(href="/m/document/#{_id}/view") 
                .header.log_view
                    |#{title}
                span 
                    |#{views}
                    i.eye.icon
                span         
                    |#{points}
                    i.thumbs.up.icon
