template(name='posts')
    .ui.container
        .ui.stackable.padded.grid
            .twelve.wide.column
                .ui.large.center.aligned.header 
                    i.newspaper.icon
                    |Posts
                each posts
                    +post_item
            .four.wide.column
                #add_post.ui.fluid.button
                    i.large.icons
                        i.sticky.note.outline.icon
                        i.green.plus.corner.icon
                    |Add Post


template(name='my_posts')
    .ui.fluid.card
        .content
            .ui.header My Docs
            .ui.divided.list
                each my_posts
                    .item 
                        a(href="/post/#{_id}/view") #{title}


template(name='post')
    .ui.fluid.card
        .ui.centered.image
            a(href="/post/#{_id}/view")
                img(src="{{c.url image_id  height=300 crop='fill' gravity='face' }}")
        .content
            h1.ui.header
                a(href="/post/#{_id}/view") #{title}
            if publish_date
                .meta
                    | Published #{publish_when}
            .description
                |!{nl2br body}
        .content
            each tags
                .ui.compact.button.post_tag(class=tag_class) #{this}
            if is_admin
                .edit_post.ui.primary.basic.right.floated.button
                    i.pencil.icon
                    |Edit Post    
            
            
template(name='post_item')
    .ui.segment
        a.image(href="/post/#{_id}/view")
            img.ui.rounded.image(src="{{c.url image_id  width=175 height=175 crop='fill' gravity='face' }}")
        .content
            a.ui.header(href="/post/#{_id}/view") #{title}
            if publish_date
                .meta
                    | Published #{publish_when}
            .description
                |!{content}
            .extra
                a.ui.button(href="/post/#{_id}/view") 
                    |View
                    i.right.chevron.icon
                i.tags.icon
                each tags
                    .ui.compact.label.post_tag(class=tag_class) #{this}
                if is_admin
                    i.configure.large.icon
                    if published
                        .ui.green.basic.label Published
                    else
                        .ui.basic.label Unpublished                        
                    if featured
                        .ui.green.basic.label Featured
                    else
                        .ui.basic.label Unfeatured
