template(name='profile')
    with user_from_username_param
        //- if user_is_resident  
        //-     img.ui.fluid.image(src="{{c.url banner_image_id width=1000 height=100 crop='crop'}}")
        .ui.padded.stackable.grid
            .row
                .four.wide.column.scrolling
                    if image_id
                        img.ui.centered.shadowed.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                        //- a.item(href="/user/#{user_from_username_param.username}/")
                    .ui.large.center.aligned.header
                        | #{user.first_name}
                        | #{user.last_name}
                        //- if current_user
                        //-     a(href="/user/#{user_from_username_param.username}/edit")
                        //-         i.cog.link.icon
                    //- .ui.center.aligned.small.grey.header
                    //-     | #{user.tagline}
                    .ui.center.aligned.small.grey.header
                        | @#{user.username}        
                    if is_staff
                        a.ui.icon.large.circular.button(href="/user/#{user_from_username_param.username}/edit" title='settings')
                            //- +i name='settings'
                            i.cog.large.icon
                            //- | settings
                    else if is_current_user
                        a.ui.icon.big.circular.button(href="/user/#{user_from_username_param.username}/edit" title='settings')
                            //- +i name='settings'
                            i.cog.icon
                            //- | settings
                    if is_current_user
                        .ui.icon.big.circular.button.logout(title='log out')
                            //- +i name='logout-rounded'
                            i.sign.out.icon
                            //- |log out
                        .ui.small.circular.button.logout_other_clients
                            |logout other clients
                
                    //- if user_is_resident
                    //-     if is_resident
                    //-         +gr_status                
                    .ui.segment
                        //- +text_view key='first_name' label='First Name' direct=true
                        //- +text_view key='last_name' label='Last Name' direct=true
                        if is_admin
                            +text_view key='address' label='address' direct=true
                        //- +text_view key='email' label='Email' direct=true
                        +phone_view key='phone' label='phone' direct=true
                        if user_is_resident
                            //- if is_staff
                            +number_view key='unit_number' label='unit #' direct=true
                            +number_view key='building_number' label='building #' direct=true
                            +number_view key='healthclub_code' label='healthclub_code' direct=true
                            +text_view key='building_code' label='building code' direct=true
                            +date_view key='start_date' label='start date' direct=true
                            +date_view key='expiration_date' label='expiration date' direct=true
                        +textarea_view key='notes' label='notes' icon='align-left' direct=true
                        each emails
                            .ui.label #{address}
                    if is_staff
                        .ui.segment
                            .ui.grey.header 
                                //- +i name='user shield'
                                i.shield.icon
                                |roles
                            each roles
                                .ui.label #{this}                    
                    if user_is_staff
                        +user_notes
                        
                        //- +user_tasks

                .six.wide.column
                    .ui.circular.button.generate_barcode
                        i.barcode.icon
                        |Generate Health Club Checkin Barcode
                    div
                    svg#barcode
                    if user_is_resident
                        if is_resident
                            //- .ui.header karma
                            //- .ui.header #{karma}
                            +user_messages
                            +user_transactions
                            //- +received_karma
                    if user_is_user
                        if is_user
                            +user_connections
                    if user_is_resident
                        if is_staff
                            +user_checkins
                            +user_guests
                        //- if is   _staff
                            //- +violations
                            //- +user_card_replacements
                            //- +user_signatures
                        if is_user
                            +user_following
                            +follow_user
    
                .six.wide.column
                    if user_is_resident
                        if is_staff
                            +membership_status
                            +user_log
                    if user_is_user
                        if is_user
                            +user_karma
                            +user_bookmarks    
                            //- +user_feed
                    if user_is_resident
                        //- if is_staff
                        +user_key
                            //- +user_garden
                        +user_unit
                        +user_tags
                    //- +user_rules_widget
                    //- if is_eric
                    //-     +role_switcher
                    //- if current_user
                
            
template(name='user_transactions')
    .ui.segment
        .ui.header sent karma
        each sent_karma
            .ui.segment
                .ui.small.inline.header #{_author_username}
                |#{description}
                each tags
                    .ui.label #{this}
                .ui.small.inline.header #{karma_amount}
            
template(name='received_karma')
    .ui.segment
        .ui.header received karma
        each received_karma
            .ui.segment
                .ui.small.inline.header #{_author_username}
                |#{description}
                each tags
                    .ui.label #{this}
                .ui.small.inline.header #{karma_amount}
                
            
            
template(name='user_card_replacements')
    .ui.segment
        .ui.grey.inline.center.aligned.header 
            +i name='card-exchange'
            |card replacements

            
template(name='user_garden')
    .ui.segment
        .ui.grey.inline.center.aligned.header 
            //- i.id.card.alternate.icon
            +i name='garden-gloves'
            |garden

            
template(name='user_signatures')
    .ui.segment
        .ui.grey.inline.center.aligned.header 
            //- +i name='signature'
            i.edit.icon
            | signatures
        .ui.link.large.list
            a.item(href='#') rules and regulations
            +goto_model slug='rules_regs_signing'

            a.item(href='#') proof of residency
            a.item(href='#') injury waiver


template(name='user_notes')
    if user_is_resident
        if is_staff
            .ui.segment
                +textarea_edit key='staff_notes' title='staff notes' direct=true

            
            
template(name='gr_status')   
    with user_from_username_param         
        //- .ui.small.header
        //-     i.clock.icon
        //-     | Status
        if current_user
            +array_edit key='gr_status' label='status' direct=true icon='clock'
        else
            each gr_status
                .ui.label #{this}
        //- .ui.small.header
        //-     i.marker.icon
        //-     | Location 
        if current_user
            +array_edit key='gr_location' label='location' direct=true icon='marker'
        else 
            each gr_location
                .ui.label #{this}
            
            
            
template(name='user_checkins')
    .ui.segment
        .ui.grey.inline.center.aligned.header 
            //- +i name='internal'
            |Health Club Check In's
        if is_staff
            +checkin_button
        .ui.list
            each healthclub_checkins
                .item #{when}
            
            
            
template(name='user_guests')
    .ui.segment
        .ui.grey.inline.center.aligned.header 
            +i name='badge'
            |Guests
        +goto_model slug='guest'
        +add_button model='guest'
        //- .ui.circular.button.add_guest
        //-     |Add Guest
        .ui.link.large.list
            each guests
                a.item(href="/m/guest/#{_id}/view")
                    img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                    .content
                        |#{first_name} #{last_name} #{username}

            
            
template(name='user_key')
    .ui.segment
        .ui.grey.inline.center.aligned.header 
            i.key.icon
            //- +i name='key'
            |Key
        if is_staff
            +goto_model slug='key'
        with key
            +boolean_view key='fowler' label='fowler' direct=true
            +boolean_view key='key_exists' label='key exists' direct=true
            +number_view key='building_number' label='building number' direct=true
            +number_view key='unit_number' label='unit #' direct=true
            div
            if is_admin
                +number_view key='tag_number' label='tag number' direct=true
            if is_staff
                if viewing_code
                    .ui.huge.label
                        +number_view key='tag_number' label='tag number' direct=true
                else
                    +i name='enter-pin' classes='view_code pointer' title='view code'

            if is_admin
                div
                +edit_button
                +view_button
            if is_staff
                .ui.tiny.grey.header
                    i.grey.shield.icon
                    |access log
                .ui.list
                    each access_log
                        .item #{when} by #{_author_username}

            
template(name='user_unit')
    .ui.segment
        .ui.grey.inline.center.aligned.header 
            i.home.icon
            //- +i name='interior'
            |Unit
        +goto_model slug='unit'
        with unit
            +number_view key='building_number' label='Building Number' direct=true
            +number_view key='unit_number' label='Unit #' direct=true
            if is_admin
                div
                +edit_button
                +view_button

            
            
            
template(name='user_section')
    +user_delta
    // +Template.dynamic template=user_section_template

template(name='user_about')
    
template(name='violations')
    .ui.segment
        .ui.grey.inline.center.aligned.header 
            //- +i name='foul'
            i.esclamation.icon
            |violations
        +goto_model slug='violation'

        //- .ui.list
        //-     each violations
        //-         .item
        //-             img.ui.avatar.image(src="{{c.url image_id height=100 gravity='face' crop='fill'}}")
        //-             .content
        //-                 .header #{title}
        //-                 .description !{description}
        //-                     |date:#{violation_date}
        //-                     |time: #{violation_time}
        .ui.comments
            each violations
                .comment
                    img.ui.avatar.image(src="{{c.url image_id height=100 gravity='face' crop='fill'}}")
                    .content
                        a.header(href="/m/violation/#{_id}/view") !{description}
                        .meta #{when}
                            |date:#{violation_date}
                            |time: #{violation_time}
                        //- .actions
                            //- i.thumbs.up.link.icon
                            //- i.remove.link.remove_comment.icon




template(name='user_log')
    //- .ui.fluid.styled.accordion
    .ui.segment
        .ui.grey.inline.center.aligned.header 
            //- +i name='overview-pages-4'
            i.list.icon
            |log
        .smallscroll
            .ui.list
                each user_log_events
                    .item
                        .content
                            .header #{body}
                            .description #{when}


template(name='user_rules_widget')
    .ui.cloud.segment
        .ui.grey.header
            i.edit.icon
            | User Rules Signature
    

template(name='user_people')
    +user_following
    +follow_user


template(name='user_feed')
    .ui.cloud.segment
        .ui.grey.inline.header 
            +i name='feed'
            |feed
        //- if current_user
        //-     .ui.fluid.input
        //-         input(type='text' placeholder='Share something...')
    +user_wall
                
                
                
template(name='user_bookmarks')
    .ui.segment
        .ui.grey.inline.center.aligned.header 
            //- +i name='bookmark'
            i.bookmark.icon
            |bookmarks
        .ui.list.smallscroll
            each bookmarks
                .item
                    .content
                        a.header(href="/m/#{model}/#{_id}/view") #{title} [#{model}]
                        .description #{when}

            
            
template(name='user_karma')
    .ui.fluid.styled.accordion
        .active.title
            .ui.grey.inline.center.aligned.header 
                i.heartbeat.icon
                | karma
        .active.content
            .ui.circular.button buy karma
            with user_from_username_param
                |karma #{karma}
            .ui.circular.button.send_new
                |send karma
            if sending_karma
                .ui.icon.circular.button.cancel_sending
                    i.remove.icon
                with send_karma_transaction
                    +textarea_edit key='description' direct=true
                    +array_edit key='tags' direct=true
                    +number_edit key='karma_amount' direct=true
                    .ui.green.circular.button.complete_sending
                        |complete


            
                
template(name='user_unread')
    .ui.cloud.segment
        .ui.header 
            i.new.icon
            |unread messages
                
                

template(name='user_tasks')
    //- .ui.fluid.styled.accordion
    .ui.segment
        .ui.grey.inline.center.aligned.header 
            //- +i name='tasks'
            i.tasks.icon
            |staff tasks
        +goto_model slug='task'
        .ui.icon.input
            i.plus.icon
            input.assign_task(type='text' placeholder='assign task...')
        //- .ui.circular.button.view_complete(class=view_complete_class)
        //-     |View Completed
        // .ui.circular.button.view_incomplete(class=view_complete_class)
        //     |View Incomplete
        each assigned_tasks
            .ui.smoothed.segment
                .ui.header #{body}
                +boolean_edit key='complete' label='Complete' direct=true true_icon='checkmark' false_icon='remove'
                //- +voting
                +author_info
                +creation_info
                if is_author
                    +remove_button
                    
            
            
template(name='user_array_list')
    .ui.list
        each users
            .item
                +user_info
            
            
            
template(name='role_switcher')
    .ui.segment
        .ui.grey.inline.center.aligned.header 
            //- +i name='user-shield'
            i.shield.icon(title='role switcher')
            |#{username} role switcher
        //- if is_eric
        //-     +user_array_element_toggle key='roles' value='dev' user=currentUser
        //- if current_user
        //-     with current_user
        //-         +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        //- else if currentUser
        //-     with currentUser
        +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        //- +user_array_element_toggle key='roles' value='admin' user=currentUser
        //- +user_array_element_toggle key='roles' value='user' user=currentUser
        //- +user_array_element_toggle key='roles' value='staff' user=currentUser
        //- +user_array_element_toggle key='roles' value='resident' user=currentUser
        //- +user_array_element_toggle key='roles' value='owner' user=currentUser


            
template(name='user_array_element_toggle')
    .ui.circular.button.toggle_element(class=user_array_element_toggle_class)
        |#{value}

template(name='user_string_toggle')
    .ui.circular.button.toggle_element(class=user_string_element_toggle_class)
        |#{value}
        
template(name='user_tags')
    .ui.fluid.styled.accordion
        .active.title
            .ui.grey.inline.center.aligned.header 
                //- +i name='tags'
                i.tags.icon
                |tags
        .active.content
            each tags
                .ui.label 
                    if is_user
                        i.remove.link.icon.remove_tag
                    |#{this}
            // .ui.fluid.input
            //     input.tag_user(type='text' placeholder='Tag yourself...')
            // .ui.fluid.input
            //     input(type='text' placeholder="Tag #{user_from_username_param.name}")
            
            
template(name='membership_status')
    .ui.segment
        .active.title
            .ui.grey.inline.center.aligned.header 
                |membership status
        +email_validation_check
        +lease_expiration_check
        +rules_and_regs_check
        //- +rules_and_regs_
        
        
        
template(name='user_following')    
    .ui.cloud.segment
        .ui.grey.header 
            i.bell.icon
            |following
        +user_array_list user=user_from_username_param array='following_ids'
          

template(name='follow_user')    
    .ui.cloud.segment
        .ui.grey.inline.header
            unless current_user
                a.toggle_follow_user(href='#' title='Follow User')
                    i.renew.icon
            else
                i.bell.icon
            |followed by
        +user_array_list user=user_from_username_param array='followed_by_ids'
                

template(name='user_wall')
    .ui.fluid.styled.accordion
        .active.title
            .ui.grey.inline.center.aligned.header 
                i.edit.icon
                |wall
        .active.content
            if currentUser
                .ui.fluid.icon.input
                    i.plus.icon
                    input.new_post(type='text' placeholder='Add post...')
            .ui.comments
                each wall_posts
                    .comment
                        //- .avatar
                        .active.content
                            a.author(href='#') #{author.first_name} #{author.last_name}
                            .metadata
                                span.date #{when}
                            .text.large120 #{body}
                            .actions
                                i.remove.link.icon.remove_comment(title='Vote Down')
                                i.thumbs.up.link.icon.vote_up_comment(title='Vote Up')
                                |#{points}
                                i.message.link.icon.mark_comment_read(title='Mark Read')        
