template(name='shop_card')
    .ui.clearing.segment.stackable.grid
        .centered.row
            .sixteen.wide.column
                a.pointer(href="/m/shop/#{_id}/view")
                    img.ui.rounded.centered.fluid.image(src="{{c.url picture width=1000 height=1000 gravity='face' crop='crop'}}")
        .row
            .sixteen.wide.column
                .ui.header #{title}
        .row
            .eight.wide.column
                +i name='tags' classes='ui mini inline image'
                each tags
                    .ui.basic.label #{this}
                div
                +i name='marker' classes='ui mini inline image'
                each location_tags
                    .ui.basic.label #{this}
            .eight.wide.column
                .ui.basic.animated.fade.button.add_to_cart(title="#{karma_price} karma, click to add to cart")
                    .visible.content
                        .ui.header #{karma_price}k
                    .hidden.content
                        i.cart.plus.green.large.icon
                +view_button
                if can_edit
                    +edit_button


template(name='add_karma')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header add karma
        .twelve.wide.column
            +add_karma_amount amount=10 price=10
            +add_karma_amount amount=2250 price=20
            +add_karma_amount amount=5500 price=50
            +add_karma_amount amount=1100 price=100
            
            
template(name='add_karma_amount')            
    .ui.segment.pointer.add_karma_amount
        .ui.header #{amount } karma for $#{price}
