template(name='rules_signing')
    with signing_doc
        +document_view key='rules_regs'
        +user_card resident
        .ui.header I agree to the Rules and Regulations
            if agree
                i.huge.checkmark.green.link.icon.agree
            else
                i.huge.circle.outline.grey.icon.agree
        if agree
            .ui.header Please Sign Below
            if signature_saved
                +signature_view key='signature' direct=true
                i.pencil.large.icon.edit_signature
            else
                +signature_edit key='signature' direct=true
            if signature_saved
                .ui.big.blue.fluid.button.submit_rules
                    | Submit
                    i.right.chevron.icon



template(name='add_guest')
    with new_guest_doc
        .ui.fluid.big.basic.button.cancel_new_guest
            i.left.chevron.basic.icon
            |back to check in
        +document_view key='guest_waiver'
        //- .ui.inline.header guest of
        //-     +user_card resident
        +text_edit key='guest_name' label='guest name' direct=true
        //- +text_edit key='first_name' label='First Name' direct=true
        //- +text_edit key='last_name' label='Last Name' direct=true
        +text_edit key='guest_phone' label='guest phone' direct=true
        +text_edit key='emergency_contact_name' label='emergency contact name' direct=true
        +text_edit key='emergency_contact_phone' label='emergency contact phone' direct=true
        .ui.header I agree to the guest waiver terms
            if agree
                i.huge.checkmark.green.link.icon.agree
            else
                i.huge.circle.outline.grey.icon.agree
        if agree
            .ui.header please sign below
            if signature_saved
                +signature_view key='signature' direct=true
                i.pencil.large.icon.edit_signature
            else
                +signature_edit key='signature' direct=true
            if signature_saved
                .ui.big.green.fluid.button.submit_guest
                    | Submit
                    i.right.chevron.icon
