
template(name='edit_task')
    with task
        .ui.text.container
            h1.ui.center.aligned.header Edit Task
            .ui.form
                +edit_image
                +building_code
                +assigned_to
                +due_date
                +complete
                +notes
                .ui.basic.center.aligned.segment
                    a.ui.green.big.button(href='/tasks') Save Task
                    #delete_task.ui.red.icon.button
                        i.trash.icon            
            
            
template(name='tasks') 
    .ui.container
        h1.ui.center.aligned.header Tasks
            i#add_task.green.plus.link.icon 
        table.ui.unstackable.striped.table
            thead
                tr
                    th Photo
                    th Completed
                    th Building
                    th Assigned To
                    th Due Date
                    th Notes
                    th Created
                    th Actions
            tbody
                each tasks
                    tr
                        td 
                            img.ui.small.image(src="{{c.url image_id }}")
                        td 
                            if complete
                                i.green.large.check.icon
                            else
                                i.remove.icon
                        td #{building_code}
                        td #{assigned_to}
                        td #{due_date}
                        td #{notes}
                        td #{author.username} #{when}
                        td 
                            a.ui.compact.button(href="/task/edit/#{_id}")
                                i.pencil.icon
                                | Edit


