
template(name='edit_task')
    with task
        .ui.text.container
            h1.ui.center.aligned.header Edit Task
            .ui.form
                if image_id
                    .field
                        label Image
                        .ui.large.image
                            img(src="{{c.url image_id }}")
                            a#remove_photo.ui.top.left.attached.link.basic.label Remove
                            .ui.bottom.right.attached.basic.label Image Id: #{image_id}
                else
                    .fields
                        .field
                            label Upload Image
                            input(type='file' name='upload_picture' accept='image/*')
                +building_code
                +task_due_date
                +task_completed
                +notes
                .ui.basic.center.aligned.segment
                    a.ui.green.big.button(href='/tasks') Save Task
                    #delete_task.ui.red.icon.button
                        i.trash.icon            
            
            
template(name='tasks') 
    .ui.container
        h1.ui.center.aligned.header Tasks
            i#add_task.green.plus.link.icon 
        table.ui.table
            thead
                tr
                    th Photo
                    th Building
                    th Assigned To
                    th Due Date
                    th Notes
                    th Created
                    th Actions
            tbody
                each tasks
                    tr
                        td 
                            if task_completed
                                i.green.large.check.icon
                            else
                                i.remove.icon
                        td #{task_building_code}
                        td #{task_assigned_to}
                        td #{task_due_date}
                        td #{notes}
                        td #{author.username} #{when}
                        td 
                            a.ui.compact.button(href="/task/edit/#{_id}")
                                i.pencil.icon
                                | Edit


template(name='task_completed')            
    .field
        label Task Completed
        #mark_true.ui.button(class=mark_true_class) Yes 
        #mark_false.ui.button(class=mark_false_class) No 
template(name='task_due_date')            
    .field
        label Task Due Date
        input#task_due_date(type='date' value=task_due_date)        