template(name='act_test_sessions')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    i.chevron.left.large.icon
                .ui.icon.button.add_act_test_session(title='add act_test_session')
                    i.plus.icon
            .twelve.wide.column
                .ui.stackable.four.cards
                    each act_test_sessions
                        +act_test_session_card

template(name='act_test_session_card')
    //- .ui.card    
    a.ui.card(href="/act_test_session/#{_id}/view")
        img.ui.fluid.image(src="{{c.url act_test_session_image_id width=400 height=200 crop='fill'}}")
        .content
            .ui.inline.header #{title}
            div
            i.grey.tags.icon
            each tags 
                .ui.small.label #{this}
                    



template(name='timing')
    .ui.list
        .item test start {{ test_start }}
        .item seconds elapsed #{seconds_elapsed}
        .item minutes elapsed #{minutes_elapsed}
        .item minute limit #{total_minute_duration}
        .item #{minutes_left} mins left




template(name='test_choice_selector')
    .ui.link.fluid.segment.select_choice.pointer(class=select_choice_class)
        .content
            .ui.stackable.grid 
                .two.wide.column
                    .ui.large.basic.label
                        |#{answer}
                .fourteen.wide.column.f6
                    |!{choice_html}



template(name='act_test_session_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.fluid.button(href="/tests")
                        i.chevron.left.large.green.icon
                    .ui.header test session 
                    //- if can_edit
                    //-     a.ui.fluid.large.icon.button(href="/act_test_session/#{_id}/edit")
                    //-         i.pencil.large.icon
                    .ui.header 
                        i.line.chart.icon
                        |stats
                    .ui.large.list
                        .item #{views} views
                .twelve.wide.column
                    .ui.large.list 
                        .item #{question_count} total questions 
                        .item #{answer_count} answered questions 
                        .item #{correct_count} correct answers 
                        .item #{incorrect_count} incorrect answers 
                        .item #{almost_correct_count} almost correct count 
                        .item #{correct_percent}% correct  
                        .item #{minutes_duration} minutes duration
                        .item #{average_minutes_per_question} avg mins/question
                    .ui.header questions
                    .ui.header question tags
                    each questions_tags
                        .ui.label #{this}
                    .ui.stackable.grid 
                        .eight.wide.column
                            .ui.header right tags
                            each right_tags
                                .ui.label #{this}
                        .eight.wide.column
                            .ui.header wrong tags
                            each wrong_tags
                                .ui.label #{this}
                    +comments
                    

template(name='act_test_session_stats')
    //- .ui.accordion
    //-     .title
    .ui.header.refresh_act_test_session_stats
        i.line.chart.icon
        |stats
    //- i.dropdown.icon
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_act_test_session_hours}hrs total
        .item #{average_act_test_session_cost}c / #{average_act_test_session_duration}hrs avg act_test_session
