template(name='question_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                        //- | edit '!{title}' question
                .three.wide.column
                    .ui.inline.header 
                        | edit question
                    a.ui.big.fluid.button(href="/question/#{_id}/view" title='save')
                        i.checkmark.icon
                        |save
                    +remove_button
                    .ui.vertical.fluid.menu
                        .disabled.item question
                        .disabled.item history
                        .disabled.item stats
                    +boolean_edit key='published' label='published' direct=true
                    +array_edit key='tags' label='tags' direct=true
                .seven.wide.column 
                    +html_edit key='title' label='title' direct=true
                    //- +textarea_edit key='title1' label='title2' direct=true
                    +image_edit key='passage_image' label='passage image' direct=true
                    div
                    +boolean_edit key='has_explanation' label='has explanation' direct=true
                    +html_edit key='explanation' label='explanation' icon='content' direct=true
                    //- +math
                    +boolean_edit key='has_image' label='has image' direct=true
                    if has_image
                        .ui.hidden.divider
                        +image_edit key='image_id' icon='image' label='image' direct=true
                    .ui.header settings 
                .six.wide.column
                    .ui.header answers
                    +image_edit key='answer_image' label='answer image' direct=true
                    .ui.segment(class="{{answer_segment_class 'a'}}")
                        +html_edit key='choice_a' label='a' direct=true
                        +key_value_edit key='correct_choice' value='a' label='correct'
                    .ui.segment(class="{{answer_segment_class 'b'}}")
                        +html_edit key='choice_b' label='b' direct=true
                        +key_value_edit key='correct_choice' value='b' label='correct'
                    .ui.segment(class="{{answer_segment_class 'c'}}")
                        +html_edit key='choice_c' label='c' direct=true
                        +key_value_edit key='correct_choice' value='c' label='correct'
                    .ui.segment(class="{{answer_segment_class 'd'}}")
                        +html_edit key='choice_d' label='d' direct=true
                        +key_value_edit key='correct_choice' value='d' label='correct'
                    .ui.segment(class="{{answer_segment_class 'e'}}")
                        +html_edit key='choice_e' label='e' direct=true
                        +key_value_edit key='correct_choice' value='e' label='correct'
                
