template(name='take_act_test')
    with current_doc
        .ui.stackable.padded.grid 
            .middle.aligned.row 
                .four.wide.column
                    a.ui.button(href="/test/#{test_id}/view")
                        i.chevron.left.icon
                        |test 
                .eight.wide.column
                    .ui.header #{test.title}
                    if is_admin
                        +boolean_edit key='hardcore' label='hardcore' direct=true
                        +boolean_edit key='complete' label='complete' direct=true
                    else 
                        .ui.small.header hardcore mode: #{hardcore}
                .four.wide.column
                    //- if hardcore
                    //-     +timing
            .centered.row 
                .twelve.wide.column 
                    iframe(src=test.link width="100%" height="100%")
                    //- iframe(src="https://drive.google.com/file/d/0B-SjC2QWxqXRekpHR21rWDVObHc/view" width="100%" height="100%")
                    //- iframe(src="https://drive.google.com/file/d/0B-SjC2QWxqXRZzVQZkEzRUZoSUU/preview" width="640" height="480")
                .four.wide.column
                    each test_questions 
                        .ui.inline.header #{number} 
                            if single_digit
                                |&nbsp;
                                |&nbsp;
                        .ui.black.basic.icon.mini.compact.buttons
                            //- if is_odd
                            +select_act_choice key='A'
                            +select_act_choice key='B'
                            +select_act_choice key='C'
                            +select_act_choice key='D'
                            +select_act_choice key='E'
                            +select_act_choice key='?' title="I don't know"
                            //- else 
                            //-     +select_act_choice key='F'
                            //-     +select_act_choice key='G'
                            //-     +select_act_choice key='H'
                            //-     +select_act_choice key='I'
                            //-     +select_act_choice key='J'
                            //-     +select_act_choice key='?' title="I don't know"
                
                        //- +answer_row
                        div
                    unless complete
                        .ui.fluid.button.complete_test
                            |complete
                    if complete
                        .ui.small.header 
                            |#{total_count}
                            |total questions
                        .ui.small.header 
                            |#{answer_count}
                            |answers
                        .ui.small.header answered #{answer_percent}%
                        .ui.small.header 
                            |#{correct_count}
                            i.green.checkmark.icon
                        .ui.small.header #{incorrect_count}
                            i.red.remove.icon
                        .ui.small.header 
                            |#{dont_know_count}
                            |don't know
                        .ui.header correct #{correct_percent}%
                        .ui.header act score #{act_score}
                        a.ui.button(href="/act_test_session/#{_id}/view")
                            |view results
                //-     each second_row 
                //-         div
                //-         strong {{this}}
                //-         +answer_row

template(name='select_act_choice')
    .ui.button.select_choice(class=choice_class title=title) #{key}
