template(name='test_session_edit')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row
                .three.wide.center.aligned.column 
                    .ui.icon.large.button.cancel_session
                        i.remove.red.icon
                .ten.wide.center.aligned.column 
                    each current_doc.questions_array
                        .ui.compact.large.button.select_question(class=question_button_class)
                            | #{question_number}
                .three.wide.center.aligned.column 
                    if generated
                        if timed_mode
                            +timing
                            //- .ui.header #{seconds_transpired}/#{seconds_left}: #{minute_duration}
                        
                    //- a.ui.fluid.icon.button(href="/test_session/#{_id}/view" title='save')
                    //-     i.chevron.right.green.large.icon
            .row
                .four.wide.column
                    if generated
                        i.refresh.link.icon.recalc_test_session_stats(title='recalc stats')
                        .ui.list 
                            .item #{question_count} total questions 
                            .item #{answer_count} answered questions 
                            .item #{correct_count} correct answers 
                            .item #{incorrect_count} incorrect answers 
                            .item #{almost_correct_count} almost correct count 
                            .item #{correct_percent}% correct  
                            .item #{minutes_duration} minutes duration
                            .item #{average_minutes_per_question} avg mins/question
                        .ui.button
                            |request help    
                .six.wide.column.question_column
                    if generated
                        each passage.passage_text_array
                            .item {{@index}}
                                |&nbsp;
                                |#{this}
                        .ui.header !{current_question.title}
                        a.ui.icon.button(href="/question/#{current_question._id}/edit")
                            i.large.pencil.icon
                        //- | !{passage.passage}
                    unless generated
                        unless generating
                            .ui.header create test
                            +boolean_edit key='tutor_mode' label='tutor mode' direct=true
                            +boolean_edit key='timed_mode' label='timed' direct=true
                            .ui.header test pool    
                            +test_pool_selector key='all' label='all'
                            +test_pool_selector key='unanswered' label='unanswered'
                            +test_pool_selector key='wrong' label='wrong'
                            .ui.header unanswered count #{unanswered_count}
                            .ui.header correct count #{correct_count}
                            .ui.header incorrect count #{incorrect_count}
                            //- +key_value_edit key='test_pool' value='all' label='all'
                            //- +key_value_edit key='test_pool' value='unanswered' label='unanswered'
                            //- +key_value_edit key='test_pool' value='wrong' label='wrong'
                            .ui.header #{possible_questions} possible questions
                            div 
                            if timed_mode
                                +number_edit key='total_minute_duration' label='test minute duration' direct=true
                                //- +number_edit key='test_minute_duration' label='test minute duration' direct=true
                            div 
                            +number_edit key='question_count' label='number of questions' direct=true
                            +array_edit key='concept_tags' label='concept filter' direct=true
                            .ui.large.fluid.button.generate_test
                                |generate test
                        else 
                            i.big.loading.notched.circle.icon
                            |generating 
                .six.wide.column.question_column
                    .ui.header #{passage.title}
                    if generated
                        div
                        with current_question 
                            +test_choice_selector answer='a'
                            +test_choice_selector answer='b'
                            +test_choice_selector answer='c'
                            +test_choice_selector answer='d'
                            +test_choice_selector answer='e'
                            .ui.divider
                            .ui.fluid.basic.button 
                                |I don't know
                            //- each choices
                            //-     .ui.large.fluid.button.choose_choice(class=test_session_choice_class)
                            //-         |!{content}
                            if question_answered
                                if is_last_question
                                    .ui.fluid.green.large.button.finish
                                        i.checkmark.large.icon
                                else        
                                    .ui.fluid.basic.large.green.button.proceed
                                        i.right.chevron.large.icon



template(name='test_pool_selector')
    .ui.button.select_test_pool_type(class=test_pool_class)
        |#{label}
