template(name='test_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column   
                    a.ui.fluid.button(href="/tests" title='tests')
                        i.chevron.left.icon
                        //- |tests
                    .ui.header test view 
                    if can_edit
                        a.ui.fluid.button(href="/test/#{_id}/edit" title='edit')
                            i.pencil.icon
                            |edit
                    a.ui.fluid.button(href=link target='_window' title='view test')
                        i.external.icon
                        |view test
                    .ui.large.fluid.button.take_test 
                        |take test
                    i.tags.grey.icon
                    each tags
                        .ui.basic.label #{this}
                    .ui.hidden.divider
                    .ui.inline.header 
                        i.grey.line.chart.icon
                        |stats
                    i.refresh.link.icon.refresh_test_stats
                    div
                    .ui.large.list
                        .item #{session_count} sessions
                        .item #{total_average}% average
                        .item #{incorrect_average} correct average
                        .item #{correct_average} incorrect average
                        .item #{comment_count} comments
                    +voting_full
                .twelve.wide.column
                    .ui.header #{title}
                    .ui.header
                        |sessions
                    each sessions
                        .ui.segment
                            .ui.small.header #{title}
                            | #{when} 
                            +user_info author
                            span.ui.green.text(title='correct') #{correct_count}
                            |/
                            span.ui.red.text(title='incorrect') #{incorrect_count}
                            |#{correct_percent}%
                            a.ui.button(href="/test_session/#{_id}/take")
                                |view
                    +comments
                    
