template(name='rental_calendar')
    .ui.stackable.grid
        .row
            .eight.wide.column
                
                //- if daily_dollars
                //-     .ui.inline.large.header 
                //-         |$#{daily_dollars}
                //-         small /day
                .ui.stackable.grid
                    .two.column.row
                        each upcoming_days
                            .column
                                +upcoming_day data=this
            .eight.wide.column
                if current_date
                    if current_hour
                        .ui.header {{short_date current_date_string}} @ #{current_hour} reservations/bids
                        //- .ui.small.header
                        //-     +i name='donate'
                        //-     |bids
                        //- each hourly_bids
                        //-     +single_bid
                        //- unless has_bid
                        //-     .ui.fluid.button.new_bid
                        //-         i.green.plus.icon
                        //-         |bid
                        if hourly_reservations
                            .ui.small.header 
                                +i name='clock'
                                |reservations
                            each hourly_reservations
                                +reservation_small
                            else 
                                .ui.green.fluid.button.reserve_this
                                    |reserve hour for $#{rental.hourly_dollars}


template(name='upcoming_day')
    a.ui.small.grey.header(href="/reservation_slot/#{reservation_slot._id}")
        | #{data.long_form}
    .ui.segments
        each hours
            .ui.segment.pointer.select_hour(class=hour_class)
                .ui.inline.header #{this}
                if pending_res 
                    i.clock.icon(title="reservation started by #{pending_res.author.name} but not paid for")
                //- .ui.compact.button.reserve_slot bid
                //- .ui.list
                //-     each existing_bids
                //-         .item 
                //-             if is_top
                //-                 i.green.chevron.up.icon(title='highest bid')
                //-             |$#{bid_amount} by #{_author_username}
                //- .ui.small.header reservations
                .ui.list
                    each existing_reservations
                        .item 
                            | by #{_author_username}
                                
                div
                    

template(name='single_bid')
    .ui.segment(class=bid_class)
        //- .ui.header #{date} @ #{hour}
        //- +date_edit key='start_date' label='start date' direct=true
        //- +number_edit key='hour' label='start hour' direct=true
        if is_author
            .ui.small.header your bid
            +number_edit key='bid_amount' label='amount' icon='money' direct=true
            .ui.button.cancel_bid
                i.red.ban.icon
                |cancel
        else
            +number_view key='bid_amount' label='bid' icon='money' direct=true
            |by #{_author_username}
            
template(name='reservation_small')
    .ui.segment
        .ui.header from #{start_time} to #{end_time}
        if submitted
            .ui.header submitted on #{submitted_timestamp}
        else 
            if is_author
                .ui.input
                    input.res_start_time(type='time' value=start_time)
                //- .ui.input
                //-     input.res_start(type='datetime-local' value=start_datetime)
                .ui.right.labeled.input            
                    input.hour_duration(type='number' min='0' value=hour_duration autocomplete="off")
                    .ui.basic.label hrs
                div
                .ui.input
                    input.res_end_time(type='time' min="#{start_time}" value=end_time)
                div
                //- .ui.input
                //-     input.res_end(type='datetime-local' value="#{end_datetime}")
                //- +number_edit key='start_minute' min='0' max='60' label='start minute' direct=true
                //- +number_edit key='end_hour' min=start_hour max='24' label='end hour' direct=true
                //- +number_edit key='end_minute' min='0' max='60' label='end minute' direct=true
                //- +boolean_edit key='submitted' direct=true
                .ui.header 
                    +i name='money' classes='ui tiny inline image'
                    | #{hour_duration}
                    small hrs * $
                    |#{rental.hourly_dollars}
                    small /hr = $
                    |#{cost}
                .ui.header(title='security deposit amount will be held until successful return') 
                    if rental.security_deposit_required
                        small + security deposit 
                        |$#{rental.security_deposit_amount}
                if rental.res_start_dropoff
                    +boolean_edit key='res_start_dropoff_selected' classes='trigger_recalc' label="start dropoff (+1)" direct=true data=this._id  
                    //- +boolean_edit key='res_start_dropoff_selected' classes='trigger_recalc' label="start dropoff (+#{rental.res_start_dropoff_fee})" direct=true data=this._id  
                div
                if rental.res_end_pickup
                    +boolean_edit key='res_end_pickup_selected' classes='trigger_recalc' label="end pickup (+1)" direct=true data=this._id
                    //- +boolean_edit key='res_end_pickup_selected' classes='trigger_recalc' label="end pickup (+#{rental.res_end_pickup_fee})" direct=true data=this._id
                .ui.divider
                if can_buy
                    .ui.header 
                        small your balance
                        |{{fixed currentUser.credit}} 
                    .ui.header
                        small deductions
                        //- | -  #{cost} 
                        | -  #{total_cost} 
                        if res_start_dropoff_selected
                            | + #{rental.res_start_dropoff_fee}
                        if res_end_pickup_selected
                            | + #{rental.res_end_pickup_fee}
                    .ui.header
                        small balance after reservation
                        small = 
                        //- small balance after purchase 
                        |#{member_balance_after_reservation}
                else if need_credit
                    .ui.header need credit
                    .ui.header 
                        small your balance
                        |{{fixed currentUser.credit}} 
                    .ui.header
                        small cost
                        | #{total_cost} 
                        //- | #{cost} 
                        //- if res_start_dropoff_selected
                        //-     | + #{rental.res_start_dropoff_fee}
                        //- if res_end_pickup_selected
                        //-     | + #{rental.res_end_pickup_fee}
            unless submitted
                if can_buy
                    .ui.big.green.fluid.button.submit_reservation(class=submit_button_class)
                        +i name='paid'        
                        |submit and pay
                else if need_credit
                    .ui.header #{member_balance_after_reservation} credit needed to purchase
                    .ui.inline.header add 
                    .ui.inline.input
                        input.adding_credit(type='number' value=member_balance_after_reservation) 
                    .ui.big.teal.fluid.button.add_credit(class=submit_button_class)
                        +i name='online-money-transfer'        
                        |add credit to reserve
                else if need_approval
                    .ui.big.teal.fluid.button.request_reservation(class=submit_button_class)
                        +i name='paid'        
                        |request reservation
                else
                    .ui.big.disabled.fluid.button.send_message(title='cannot reserve for other reason')
                        +i name='ban'
                        |send message
            else
                .ui.header submitted {{ from_now submitted_timestamp }}
                .ui.orange.fluid.button.unsubmit
                    i.undo.icon
                    |cancel

        |by #{_author_username}
        if is_author
            +remove_button
        .ui.modal
            i.close.icon
            .header confirm payment of #{cost} credit
            .image.content
                .image
                    with rental
                        img.ui.rounded.small.image(src="{{c.url image width=300 height=300 gravity='face' crop='fill'}}")
                .description
                    if is_paying
                        i.big.loading.refresh.icon
                    else 
                        .ui.header 
                            small your balance
                            |{{fixed currentUser.credit}} 
                        .ui.header
                            small deductions
                            | -
                            if res_start_dropoff_selected
                                small dropoff selected
                                | + #{rental.res_start_dropoff_fee}
                            if res_end_pickup_selected
                                small pickup selected
                                | + #{rental.res_end_pickup_fee}
                        .ui.header
                            |#{cost} 
                        .ui.header
                            small balance after purchase
                            small = 
                            //- small balance after purchase 
                            |#{member_balance_after_reservation}
            .actions
                .ui.red.negative.button
                    i.ban.icon
                    | cancel
                .ui.green.positive.large.button
                    i.checkmark.icon
                    |confirm
