template(name='rental_view')
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            .row
                .six.wide.column
                    a.ui.fluid.button(href='/m/rental' class="{{isActivePath '/m/rental'}}" title='rentals')
                        i.left.chevron.icon
                        +i name='handshake' classes='ui mini inline image'
                        |rentals
                    .ui.large.center.aligned.header #{title}
                    img.ui.centered.rounded.medium.image(src="{{c.url image width=400 height=400 crop='fit'}}")
                    if can_edit
                        a.ui.fluid.button(href="/rental/#{_id}/edit")
                            i.blue.pencil.icon
                            |edit
                    +rental_status

                    .ui.header added by #{_author_username}
                    |#{when}
                    with _author_id
                        +user_card
                    +array_view key='tags' icon='tags' direct=true title='tags'
                    div
                    +array_view key='location_tags' icon='marker' direct=true title='location tags'
                    div
                    +text_view key='location' icon='marker' label='location' direct=true
                    div
                    +rental_stats
                .ten.wide.column
                    .ui.inline.large.header 
                        |$#{hourly_dollars}
                        small /hr
                    .ui.inline.large.header 
                        |$#{daily_dollars}
                        small /day
                    div
                    .ui.inline.header 
                        +i name='sell-property'
                        small owner
                        +single_user_view key='owner_username' direct=true
                    div
                    .ui.inline.header 
                        +i name='manager'
                        small handler
                        +single_user_view key='handler_username' direct=true
                    +html_view key='description' label='content' icon='content' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    div
                    +text_view key='contact_info' label='contact info' icon='info' direct=true
                    div
                    +link_view key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true
                    div
                    +reserve_button
                    +rental_view_reservations
                    +comments
                    
    +footer

template(name='rental_stats')
    .ui.accordion
        .title
            .ui.inline.header 
                +i name='line-chart'
                |stats
            i.dropdown.icon
        .content
            i.circular.link.refresh.icon.refresh_rental_finance_stats
            .ui.header #{views} views
            .ui.small.header total earnings
            .ui.small.header rental ranking #reservations
            .ui.small.header rental ranking $ earned
            .ui.small.header # different renters
            .ui.small.header avg rental time
            .ui.small.header avg daily earnings
            .ui.small.header avg weekly earnings
            .ui.small.header avg monthly earnings
            .ui.small.header biggest renter
            .ui.small.header predicted payback duration 
            .ui.small.header predicted payback date 


    
template(name='rental_status')
    if available 
        .ui.green.label available
    else 
        .ui.basic.label unavailable
        
template(name='reserve_button')
    .ui.big.green.fluid.button.new_reservation 
        .ui.inverted.header 
            |reserve
            +i name='play' classes='ui inline mini image'



template(name='rental_card_template')
    .ui.fluid.segment.stackable.grid
        .row
            .sixteen.wide.column
                a.ui.inline.header(href="/rental/#{_id}/view") #{title} 
                    if hourly_dollars
                        .ui.basic.label $#{hourly_dollars}/hr
                    if daily_dollars
                        .ui.basic.label $#{daily_dollars}/day
                +rental_status
        .row
            .four.wide.column
                if image
                    a.zoom(href="/rental/#{_id}/view")
                        +image_view key='image' direct=true classes='zoom'
            .twelve.wide.column
                .ui.header credit earned
                .ui.header # of reservations
                .ui.header average rental time
                span(title='views')
                    +ismall name='eye'
                    |#{views}
                div
                +ismall name='marker'
                each location_tags
                    .ui.basic.label #{this}
                div
                +ismall name='tags'
                each tags
                    .ui.basic.label #{this}
                +single_user_view key='resident' label='resident' direct=true
                div
                +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='bookmark' remove_label='unbookmark'  big=true
                +voting
                div
                if currentUser
                    if can_edit
                        a.ui.button(href="/rental/#{_id}/edit/info")
                            i.pencil.icon
                            |edit
                a.ui.button(href="/rental/#{_id}/view")
                    |view
                    i.right.chevron.icon
                +author_info
                +reserve_button


template(name='rental_view_reservations')
    .ui.header 
        +i name='clock'
        |reservations
    .ui.bulleted.link.list
        each reservations
            +reservation_list_item



template(name='reservation_list_item')
    .ui.segment
        a.ui.header.inline.lowercase(href="/reservation/#{_id}/view")
            small from 
            |{{cal_time start_datetime}}
        div
        a.ui.header.inline.lowercase(href="/reservation/#{_id}/view")
            small to 
            |{{cal_time end_datetime}}
        div
        .ui.grey.inline.header #{hour_duration} hrs
        .ui.grey.inline.header(title='credits')
            i.coins.icon
            | #{cost}
        .ui.small.header #{when} by #{_author_username}
        a.ui.large.fluid.button(href="/reservation/#{_id}/view")
            |view
            i.right.chevron.icon
