template(name='rental_card_template')
    .ui.fluid.segment.stackable.grid
        .row
            .sixteen.wide.column
                //- a.ui.inline.header(href="/kiosk_rental_view/#{_id}") #{title} 
                a.ui.inline.header(href="/rental/#{_id}/view") #{title} 
                    if variable_price
                        |~
                    if hourly_dollars
                        .ui.basic.label $#{hourly_dollars}/hr
                    if daily_dollars
                        .ui.basic.label $#{daily_dollars}/day
                //- if hourly_karma
                //-     +ismall name='yin-yang'
                //-     |#{hourly_karma}/hr
                //- if daily_karma
                //-     +ismall name='yin-yang'
                //-     | #{daily_karma}/day
                +rental_status
        .row
            .four.wide.column
                //- a.zoom(href="/kiosk_rental_view/#{_id}")
                if image
                    a.zoom(href="/rental/#{_id}/view")
                        +image_view key='image' direct=true classes='zoom'
            .twelve.wide.column
                span(title='views')
                    +ismall name='eye'
                    |#{views}
                div
                +ismall name='marker'
                each location_tags
                    .ui.basic.label #{this}
                div
                +ismall name='tags'
                each tags
                    .ui.basic.label #{this}
                +single_user_view key='resident' label='resident' direct=true
                div
                +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='bookmark' remove_label='unbookmark'  big=true
                +voting
                div
                if currentUser
                    if can_edit
                        a.ui.button(href="/rental/#{_id}/edit/info")
                            i.pencil.icon
                            |edit
                //- a.ui.button(href="/kiosk_rental_view/#{_id}")
                a.ui.button(href="/rental/#{_id}/view")
                    |view
                    i.right.chevron.icon
                +author_info
                +reserve_button


template(name='rental_view_reservations')
    .ui.grey.header 
        //- i.clock.icon
        +i name='clock'
        |reservations
    .ui.bulleted.link.list
        each reservations
            +reservation_list_item



template(name='reservation_list_item')
    .ui.segment
        a.ui.header.inline.lowercase(href="/reservation/#{_id}/view")
            small from 
            |{{cal_time start_datetime}}
            small to 
            |{{cal_time end_datetime}}
        .ui.inline.grey.header #{hour_duration} hrs
        .ui.header estimated cost #{estimated_dollars}
        if submitted 
            .ui.small.header submitted {{from_now submitted_timestamp}} 
        if complete 
            .ui.small.green.header complete 
        else 
            .ui.small.header ongoing
        .ui.small.header #{when} by #{_author_username}
        a.ui.large.fluid.button(href="/reservation/#{_id}/view")
            |view
            i.right.chevron.icon
