template(name='rental_calendar')
    .ui.grid
        .row
            .eight.wide.column
                
                //- if daily_dollars
                //-     .ui.inline.large.header 
                //-         |$#{daily_dollars}
                //-         small /day
                .ui.grid
                    .two.column.row
                        each upcoming_days
                            .column
                                +upcoming_day data=this
            .eight.wide.column
                if current_date
                    if current_hour
                        .ui.header {{short_date current_date_string}} @ #{current_hour} reservations/bids
                        .ui.small.header bids
                        each hourly_bids
                            +single_bid
                        unless has_bid
                            .ui.fluid.button.new_bid
                                i.green.plus.icon
                                |bid
                        if hourly_reservations
                            .ui.small.header reservations
                            each hourly_reservations
                                +reservation_small
                            else 
                                .ui.green.fluid.button.reserve_this
                                    |reserve hour for $#{rental.hourly_dollars}


template(name='upcoming_day')
    a.ui.small.grey.header(href="/reservation_slot/#{reservation_slot._id}")
        | #{data.long_form}
    .ui.segments
        each hours
            .ui.segment.pointer.select_hour(class=hour_class)
                .ui.inline.header #{this}
                //- .ui.compact.button.reserve_slot bid
                .ui.list
                    each existing_bids
                        .item 
                            if is_top
                                i.green.chevron.up.icon(title='highest bid')
                            |$#{bid_amount} by #{_author_username}
                //- .ui.small.header reservations
                .ui.list
                    each existing_reservations
                        .item 
                            | by #{_author_username}
                                
                div
                    

template(name='single_bid')
    .ui.segment(class=bid_class)
        //- .ui.header #{date} @ #{hour}
        //- +date_edit key='start_date' label='start date' direct=true
        //- +number_edit key='hour' label='start hour' direct=true
        if is_author
            .ui.small.header your bid
            +number_edit key='bid_amount' label='amount' icon='money' direct=true
            .ui.button.cancel_bid
                i.red.ban.icon
                |cancel
        else
            +number_view key='bid_amount' label='bid' icon='money' direct=true
            |by #{_author_username}
            
template(name='reservation_small')
    .ui.segment
        .ui.header from #{start_hour}:#{start_minute} to #{end_hour}:{{fixed end_minute }}
        +number_edit key='start_minute' label='start minute' direct=true
        +number_edit key='end_hour' min=start_hour max='24' label='end hour' direct=true
        +number_edit key='end_minute' min='0' max='60' label='end minute' direct=true
        .ui.input
            label end time
            input.end_time(type='time')
        |by #{_author_username}
        if is_author
            +remove_button
