template(name='rental_bids')
    .ui.grid
        .row
            .eight.wide.column
                //- .ui.inline.large.header 
                //-     |$#{hourly_dollars}
                //-     small /hr
                .ui.large.header 
                    |$#{minimum_hourly}
                    small /hr minimum
                .ui.large.header 
                    small auction cutoff
                    |#{auction_cutoff_hours}hrs
                
                //- if daily_dollars
                //-     .ui.inline.large.header 
                //-         |$#{daily_dollars}
                //-         small /day
                .ui.celled.grid
                    .two.column.row
                        each upcoming_days
                            .column
                                +upcoming_day data=this
            .eight.wide.column
                if current_date
                    if current_hour
                        .ui.header #{current_date} bids @ #{current_hour}
                        each hourly_bids
                            +single_bid
                        unless has_bid
                            .ui.button.new_bid
                                i.plus.icon
                                |bid



template(name='upcoming_day')
    a.ui.small.grey.header(href="/reservation_slot/#{reservation_slot._id}") #{data.long_form}
    .ui.vertical.fluid.menu
        each hours
            .item.pointer.select_hour(class=hour_class)
                .ui.inline.header #{this}
                //- .ui.compact.button.reserve_slot bid
                .ui.list
                    each existing_bids
                        .item $#{bid_amount} by #{_author_username}
                div
                    

template(name='single_bid')
    .ui.segment
        //- .ui.header #{date} @ #{hour}
        //- +date_edit key='start_date' label='start date' direct=true
        //- +number_edit key='hour' label='start hour' direct=true
        if is_author
            +number_edit key='bid_amount' label='amount' icon='money' direct=true
            .ui.fluid.button.cancel_bid
                i.ban.icon
                |cancel
        else
            +number_view key='bid_amount' label='bid' icon='money' direct=true
            |by #{_author_username}
            
