template(name='rental_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        +i name='pencil'
                        small edit 
                        |#{title}
                        small rental
                    a.ui.big.fluid.button(href="/rental/#{_id}/view" title='save')
                        i.checkmark.large.green.icon
                        |save
                    +remove_button
                    +single_user_edit key='_author_username' label='author username' direct=true
                    .ui.large.header 
                        +i name='money'
                        |finance
                    +float_edit key='hourly_dollars' label='hourly rate ($)' icon='money' direct=true
                    +float_edit key='daily_dollars' label='daily rate ($)' icon='money' direct=true
            
                .six.wide.column 
                    +text_edit key='title' direct=true
                    +image_edit key='image' label='image' direct=true
                    +textarea_edit key='description' label='content' icon='content' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +single_user_edit key='owner_username' label='owner' direct=true
                    +single_user_edit key='handler_username' label='handler' direct=true
                    +text_edit key='contact_info' label='contact info' icon='info' direct=true
                    +link_edit key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true
                    div
                .six.wide.column 
                    +array_edit key='availability_tags' label='availability tags' icon='clock' direct=true
                    div
                    +boolean_edit key='available' label='currently available' direct=true
                    div
                    +multi_doc_edit key='available_days' label='available days' ref_model='day_of_week' direct=true
                    .ui.header
                        +i name='clock' classes='ui inline tiny image'
                        |reservation start
                    +boolean_edit key='res_start_pickup' label='pickup' icon='order-delivered' direct=true
                    +boolean_edit key='res_start_dropoff' label='dropoff' icon='move-by-trolley' direct=true
                    if res_start_dropoff
                        +number_edit key='res_start_dropoff_fee' label='reservation start dropoff fee' icon='low-price' direct=true
                    .ui.header
                        +i name='clock' classes='ui inline tiny image'
                        |reservation end
                    +boolean_edit key='res_end_dropoff' label='dropoff' icon='move-by-trolley' direct=true
                    +boolean_edit key='res_end_pickup' label='pickup' icon='order-delivered' direct=true
                    if res_end_pickup
                        +number_edit key='res_end_pickup_fee' label='reservation end pickup fee' icon='low-price' direct=true
