//- template(name='posts')
//-     img.ui.fluid.image.bg_overlay(src="{{c.url 'frontrange' width=1000 crop='fill'}}")    
//-     .ui.stackable.padded.grid
//-         .row
//-             .four.wide.column
//-                 .ui.inline.header 
//-                     i.blog.icon
//-                     |posts
//-                 if is_admin
//-                     .ui.icon.button.add_post(title='add post')
//-                         i.plus.icon
//-                 +cloud filter='post' limit=42
//-             .four.wide.column.largescroll
//-                 //- .ui.button items you have
//-                 //- .ui.button purchasable items
//-                 .ui.stackable.cards
//-                     each posts
//-                         +post_card
//-             .eight.wide.column
//-                 if selected_post_doc
//-                     .ui.icon.right.floated.button.unselect_post
//-                         i.remove.icon
//-                     with selected_post_doc
//-                         +selected_post
//-                 else 
//-                     .ui.small.button.new_post 
//-                         i.plus.icon
//-                         |new post 
//-                     i.refresh.link.icon.refresh_posts_stats
//-                     with posts_stats_doc
//-                         .ui.small.grey.header #{total_posts} total posts 
//-                         .ui.small.grey.header #{week_posts_count} posts this week
//-                         .ui.small.grey.header #{day_posts_count} posts today
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- template(name='post_cloud')
//-     div
//-     //- #cloud
//-         //- .ui.left.icon.input
//-         //-     i.search.icon
//-         //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
//-         // .ui.hidden.fitted.divider
//-     //- i.grey.tags.icon
//-     //- .ui.inline.header tags
//-     if selected_post_tags
//-         #clear_tags.ui.active.icon.button
//-             i.remove.icon
//-         each selected_post_tags
//-             .unselect_post_tag.ui.active.button
//-                 strong #{this}
//-     each all_post_tags
//-         .ui.compact.button.select_post_tag(class=cloud_tag_class) 
//-             strong #{this.name}
//- 
//- 
//- 
//- template(name='selected_post')
//-     if editing_post 
//-         +array_edit key='tags' direct=true
//-         div
//-         .ui.icon.large.button.save_post(title='save post') 
//-             i.checkmark.green.large.icon
//-         .ui.icon.small.button.delete_post(title='delete post') 
//-             i.remove.icon
//-     else 
//-         |!{body}
//-         +array_view key='tags' direct=true
//-         div
//-         .ui.icon.large.button.edit_post(title='edit post') 
//-             i.pencil.blue.large.icon
//-         div
//-         +voting_full
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- template(name='post_card')
//-     .ui.card.post_card(class=post_card_class)
//-         img.ui.fluid.image(src="{{c.url post_image_id width=400 height=200 crop='fill'}}")
//-         .content
//-             a.ui.header(href="/post/#{_id}/view") #{title}
//-             each five_tags
//-                 .ui.basic.label #{this}
//-             i.icon(class=icon)
//-             a.ui.button.view(href="/post/#{_id}/view")
//-                 |view
//- 
//- 
//- template(name='post_edit')
//-     with current_doc
//-         .ui.stackable.padded.grid
//-             .row
//-                 .four.wide.column 
//-                     .ui.header 
//-                         i.pencil.icon
//-                         | edit '#{title}' post
//-                     a.ui.fluid.button(href="/post/#{_id}/view" title='save')
//-                         i.checkmark.large.icon
//-                         |save
//-                     +remove_button
//-                     +array_edit key='tags' label='tags' icon='tags' direct=true
//-                 .twelve.wide.column 
//-                     +text_edit key='title' label='post' direct=true
//-                     +html_edit key='body' label='body' icon='content' direct=true
//- 
//- 
//- 
//- template(name='post_view')
//-     with current_doc
//-         .ui.stackable.padded.grid
//-             .row
//-                 .four.wide.column
//-                     a.ui.fluid.button(href="/blog")
//-                         i.chevron.left.icon
//-                         i.blog.icon
//-                         |posts
//-                     .ui.header post view 
//-                     a.ui.fluid.button(href="/post/#{_id}/edit")
//-                         i.pencil.icon
//-                         |edit
//-                     +transactions
//-                     +finance
//-                     each tags 
//-                         .ui.basic.label #{this}
//-                 .twelve.wide.column
//-                     .ui.header #{title}
//-                     |!{body}
//-                     +comments
//- 
//- 
//- template(name='transactions')
//-     .ui.header transactions
//- 
//- 
//- template(name='post_stats')
//-     //- .ui.accordion
//-     //-     .title
//-     .ui.header.refresh_post_stats
//-         i.line.chart.icon
//-         |stats
//-     //- i.dropdown.icon
//-     //- .content
//-     .ui.big.list
//-         .item #{views} views
//-         .item #{reservation_count} reservations
//-         .item #{total_earnings}c/#{total_post_hours}hrs total
//-         .item #{average_post_cost}c / #{average_post_duration}hrs avg post
//-         //- .item post ranking # reservations
//-         //- .item post ranking $ earned
//-         //- .item # different renters
//-         //- .item avg daily earnings
//-         //- .item avg weekly earnings
//-         //- .item avg monthly earnings
//-         //- .item biggest renter
//-         //- .item predicted payback duration 
//-         //- .item predicted payback date 
//- 
//-     //-     //- .ui.header res slot exists
//-     //-     +reservation_slot_template
//-     //- else
//-     //-     if is_post_author
//-     //-         .ui.button.new_slot
//-     //-             |new slot
//- 
//- template(name='posts_view_template')
//-     .ui.header post view template
