template(name='user_connections')
    .ui.segment.profile_block
        .ui.grey.inline.center.aligned.header 
            i.people.carry.icon
            | connections
        unless is_user
            with user_from_username_param
                +user_connect_button
        .ui.tiny.grey.header connected to
        .ui.middle.aligned.list
            each connections
                +user_segment
        .ui.tiny.grey.header people connected to #{user_from_username_param.username}
            each people_connected
                +user_segment


template(name='user_segment')
    .item
        img.ui.avatar.image(src="{{c.url image_id gravity='face' crop='crop'}}")
        .content
            a.header(href="/user/#{username}")
                |#{first_name} #{last_name} 
                small @#{username}
            .description
                each tags
                    .ui.basic.circular.label #{this}
            +user_connect_button
            +user_status user

    //- .ui.horizontal.card
    //-     .image
    //-         if image_id
    //-             img(src="{{c.url image_id gravity='face' crop='crop'}}")
    //-     .content
    //-         a.ui.header(href="/user/#{username}")
    //-             |#{first_name} #{last_name}
    //-             //- |#{username}
    //-         //- .ui.header Tags
    //-         each tags
    //-             .ui.basic.circular.label #{this}
    //-         .ui.header #{body}

template(name='user_connect_button')
    if is_connected
        .ui.blue.icon.circular.button.disconnect(title='connected')
            i.handshake.icon
    else
        .ui.basic.icon.circular.button.connect(title='not connected')
            i.handshake.outline.icon
