template(name='member_profile_layout')
    //- img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
    +nav
    with user_from_username_param
        .ui.stackable.grid.global_container
            .row
                img.ui.fluid.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .four.wide.column
                    a.item(href="/member/#{user_from_username_param.username}/")
                        img.ui.centered.circular.shadowed.image(src="{{c.url profile_image_id height=300 width=300 gravity='face' crop='fill'}}")
                    .ui.center.aligned.basic.segment
                        a(href="/member/#{user.username}")
                            h1.ui.large.center.aligned.header
                                strong #{user.first_name} #{user.last_name}
                                small @#{user.username}        
                    .ui.small.header #{tagline}
                    +ismall name='tags'
                    each tags
                        .ui.small.basic.label #{this}
                    if is_current_user
                        a.ui.large.button.item(href="/member/#{user_from_username_param.username}/edit" title='profile settings')
                            +i name='settings' 
                            //- i.cog.icon
                            |edit
                    else if is_admin
                        a.ui.large.button.item(href="/member/#{user_from_username_param.username}/edit" title='profile settings')
                            +i name='settings' 
                            //- i.cog.icon
                            |edit
                    if is_dev
                        +boolean_edit key='disabled' label='disabled' icon='user shield' direct='true'
                    //- else
                    //-     .ui.button.direct_message(title='new message')
                    //-         +i name='envelope'
                    if is_current_user
                        a.ui.large.button.logout(href="#" title='logout')
                            //- i.sign.out.alternate.icon
                            +ismall name='exit' 
                            |log out
                        a.ui.large.button.logout_other_clients(href="#" title='logout other clients')
                            //- i.globe.icon
                            +ismall name='globe' 
                            |log out other clients
                    if is_admin
                        .ui.basic.segment
                            .ui.header 
                                +i name='shield'
                                |roles
                            each roles
                                .ui.basic.label #{this}
                .twelve.wide.column.shadowed-box
                    if is_member
                        a.ui.compact.button(href="/member/#{username}/dashboard" class="{{isActiveRoute 'member_dashboard'}}")
                            +ismall name='dashboard' classes='ui inline image'
                            |dashboard
                        a.ui.compact.button(href="/member/#{username}/about" class="{{isActiveRoute 'member_about'}}")
                            +ismall name='info' classes='ui inline image'
                            |info
                        a.ui.compact.button(href="/member/#{username}/social" class="{{isActiveRoute 'member_social'}}")
                            +ismall name='collaboration' classes='ui inline image'
                            |social
                        a.ui.compact.button(href="/member/#{username}/rentals" class="{{isActiveRoute 'member_rentals'}}")
                            +ismall name='handshake' classes='ui inline image'
                            |rentals
                        a.ui.compact.button(href="/member/#{username}/sales" class="{{isActiveRoute 'member_rentals'}}")
                            +ismall name='shopping-cart' classes='ui inline image'
                            |sales
                        a.ui.compact.button(href="/member/#{username}/services" class="{{isActiveRoute 'member_rentals'}}")
                            +ismall name='wrench' classes='ui inline image'
                            |services
                        a.ui.compact.button(href="/member/#{username}/connections" class="{{isActiveRoute 'member_connections'}}")
                            +ismall name='handshake' classes='ui inline image'
                            |connections
                        a.ui.compact.button(href="/member/#{username}/bookmarks" class="{{isActiveRoute 'member_bookmarks'}}")
                            +ismall name='star' classes='ui inline image'
                            |bookmarks
                        //- a.ui.compact.button(href="/member/#{username}/contact" class="{{isActiveRoute 'member_contact'}}")
                        //-     +ismall name='phone' classes='ui inline image'
                        //-     |contact
                        //- a.ui.compact.button(href="/member/#{username}/comparison" class="{{isActiveRoute 'member_comparison'}}")
                        //-     +ismall name='scales' classes='ui inline image'
                        //-     |comparison
                        a.ui.compact.button(href="/member/#{username}/offers" class="{{isActiveRoute 'member_offers'}}")
                            +ismall name='sell' classes='ui inline image'
                            |offers
                        //- a.ui.compact.button(href="/member/#{username}/tags" class="{{isActiveRoute 'member_tags'}}")
                        //-     +ismall name='tags' classes='ui inline image'
                        //-     |tags
                        a.ui.compact.button(href="/member/#{username}/messages" class="{{isActiveRoute 'member_messages'}}")
                            +ismall name='new-message' classes='ui inline image'
                            |mail
                        //- a.ui.compact.button(href="/member/#{username}/karma" class="{{isActiveRoute 'member_karma'}}")
                        //-     +ismall name='yin-yang' classes='ui inline image'
                        //-     |karma
                        //- a.ui.compact.button(href="/member/#{username}/workhistory" class="{{isActiveRoute 'member_workhistory'}}")
                        //-     +ismall name='resume' classes='ui inline image'
                        //-     |work history
                        a.ui.compact.button(href="/member/#{username}/stats" class="{{isActiveRoute 'member_stats'}}")
                            +ismall name='line-chart' classes='ui inline image'
                            |stats
                        //- a.ui.compact.button(href="/member/#{username}/votes" class="{{isActiveRoute 'member_votes'}}")
                        //-     +ismall name='elections' classes='ui inline image'
                        //-     |votes
                        a.ui.compact.button(href="/member/#{username}/notifications" class="{{isActiveRoute 'member_notifications'}}")
                            +ismall name='appointment-reminders' classes='ui inline image'
                            |notifications
                        div
                    +yield
    +footer 




            
template(name='user_comparison')
    .ui.header user comparison
    //- .ui.header simulate conversation between you and them using site stats

            
