template(name='member_info')
    //- +text_view key='address' label='address' icon='marker' direct=true
    //- +phone_view key='phone' label='phone' icon='phone' direct=true
    //- +text_view key='tagline' label='tag line' icon='signature' direct=true
    +array_view key='tags' label='tags' icon='tags' direct=true
    +array_view key='location_tags' label='location tags' icon='location' direct=true
    +link_view key='link' label='link' icon='link' direct=true
    //- .ui.header member activity
    if is_admin
        .ui.button.refresh_member_stats
            i.refresh.icon
            |refresh stats
    with member_stats
        .ui.stackable.grid
            .three.column.row
                .column
                    .ui.small.header #{total_passive_potential} total passive potential
                    |if all of your rentals were reserved full time, without handling
                    .ui.header 
                        +i name='wrench'
                        |#{service_count} services
                    .ui.header 
                        +i name='shopping-cart'
                        |#{product_count} products
                    .ui.header 
                        +i name='chat'
                        |#{comment_count} comments
                    .ui.header 
                        +i name='handshake'
                        |#{rental_count} rentals
                    .ui.header 
                        +i name='handshake'
                        |#{owned_count} owned rentals
                .column
                    .ui.header 
                        +i name='money'
                        |$#{total_hourly_credit}
                        small hourly
                    | if all rentals are circulating
                    .ui.header 
                        +i name='money'
                        |$#{potential_daily_revenue}
                        small daily 
                    |if all rentals were reserved 24 hrs a day
                    .ui.header 
                        +i name='money'
                        |$#{potential_two_hour_daily_revenue}
                        small daily
                    |if all rentals were reserved 2 hrs a day
                    .ui.header 
                        +i name='calendar'
                        |$#{potential_weekly_revenue}
                        small weekly 
                    |if all rentals were reserved 24 hrs a day, 7 days a week 
                    .ui.header 
                        +i name='calendar'
                        |$#{potential_two_hour_weekly_revenue}
                        small weekly
                    |if all rentals were reserved 2 hrs a day, 7 days a week 
                .column
                    .ui.header 
                        +i name='hand-box'
                        |#{handled_count} handled rentals
                    .ui.header 
                        +i name='clock'
                        |#{reservation_count} reservations
    



template(name='member_workhistory')
    +i name='resume' classes='ui inline image'
    .ui.inline.header work history
    if is_current_user
        +pdf_edit key='resume' label='resume' direct=true
    else
        if resume
            +pdf_view key='resume' label='resume' direct=true
    


template(name='member_social')
    +member_people
    +member_wall
    +member_connections


template(name='member_dashboard')
    .ui.stackable.grid
        .two.column.row
            .column
                .ui.header
                    +i name='clock'
                    |current reservations
                each current_reservations
                    .ui.header hi
                .ui.header 
                    +i name='clock'
                    |upcoming reservations
                each upcoming_reservations
                    .ui.header hi
                    
                .ui.pointer.header.recalc_wage_stats
                    +i name='discount--v2'
                    |current hourly wage
                .ui.header 
                    |$#{current_interest_rate}
                    small /hr from interest
                .ui.header 
                    |$#{current_rental_combined_revenue}
                    small /hr from active reservations
                if current_user
                    if currentUser.handling_active
                        if current_handling_rentals
                            .ui.small.header current active handled rentals
                            |you're earning 10% of the potential hourly wage every hour you're active
                            each current_handling_rentals
                                +rental_small_interest
                    else 
                        |you'd be earning 10% of the potential hourly wage every hour you're active
                    .ui.small.header from active reservations
            .column
                +handling_sessions
                
                
template(name='handling_sessions')
    .ui.header 
        +i name='time-machine'
        |handling sessions
    .ui.bulleted.list
        each sessions
            .item from {{cal_time clock_in}}
            .item to {{cal_time clock_out}} (#{current_session_minutes}mins)
            if is_dev
                +remove_button
                
        
            
        
template(name='rental_small_interest')        
    .ui.stackable.grid
        .four.wide.column
            a(href="/rental/#{_id}/view")
                img.ui.centered.image(src="{{c.url image height=200 width=200 background='white' crop='pad'}}")
        .twelve.wide.column
            a.ui.inline.header(href="/rental/#{_id}/view") #{title} 
            .ui.basic.label $#{hourly_dollars}/hr
            +rental_status
            div
            .ui.small.header $#{rental_interest_rate}/hr interest
            a.ui.button(href="/rental/#{_id}/view")
                |view
                i.right.chevron.icon
            unless is_handler
                +reserve_button



template(name='member_finance')
    //- .ui.header 
    //-     +i name='money'
    //-     |finance
    //- .ui.statistic
    //-     .label #{user_from_username_param.name}'s credits
    //-     .value $#{user_from_username_param.credit}
    .ui.stackable.two.column.grid
        if is_current_user
            .column
                .ui.header 
                    +i name='initiate-money-transfer'
                    |withdraw
                |$42 minimum, takes one business day 
                .ui.action.fluid.input
                    input.withdrawal_amount(type='number' min='1' max=currentUser.credit placeholder='amount')
                    .ui.icon.button.initial_withdrawal 
                        i.right.chevron.icon
                .ui.small.header withdrawals
                .ui.bulleted.list
                    each withdrawals
                        .item
                            .ui.header #{when} for #{amount} credit
                            |status: #{status}
                            .ui.button.cancel_withdrawal
                                i.ban.icon
                                |cancel
            .column
                .ui.header 
                    +i name='initiate-money-transfer'
                    |deposits
                |deposits are given +5% credit after credit card processing fee
                .ui.action.fluid.input
                    input.deposit_amount(type='number' min='1' placeholder='deposit')
                    .ui.icon.button.add_credits   
                        i.right.chevron.icon
                        
                .ui.large.bulleted.list
                    each deposits
                        .item 
                            .content
                                .header 
                                    |$#{deposit_amount} + $#{bonus}
                                .description #{when} {{long_date _timestamp}}
                                if is_dev
                                    +remove_button
                
        .column
            .ui.header
                +i name='initiate-money-transfer'
                | purchases
            .smallscroll
                each purchased_reservations
                    .ui.header #{when}
        .column
            .ui.header 
                +i name='initiate-money-transfer'
                |earnings
            each owner_earnings
                .ui.header #{when}
        .column
            .ui.header 
                +i name='initiate-money-transfer'
                |payments sent
            .ui.button
                |request money
        .column
            .ui.header 
                +i name='request-money'
                |payments received
            .ui.button.send_money
                |send money
        .column
            each joint_transactions 
                .ui.header #{when}


template(name='member_services')
    each services 
        .ui.fluid.segment.grid
            .row
                .sixteen.wide.column
                    a.ui.inline.header(href="/service/#{_id}/view") #{title} 
                        if variable_price
                            |~
                        |$#{hourly_rate}/hr
            .row
                .four.wide.column
                    a(href="/service/#{_id}/view")
                        +image_view key='image' direct=true
                .twelve.wide.column
                    div
                    +ismall name='marker' direct=true
                    each location_tags
                        .ui.basic.label #{this}
                    div
                    +ismall name='tags' direct=true
                    each tags
                        .ui.basic.label #{this}
                    div
                    a.ui.button(href="/service/#{_id}/view")
                        |view
                        i.right.chevron.icon

template(name='member_products')
    each services 
        .ui.fluid.segment.grid
            .row
                .sixteen.wide.column
                    a.ui.inline.header(href="/service/#{_id}/view") #{title} 
                        if variable_price
                            |~
                        |$#{hourly_rate}/hr
            .row
                .four.wide.column
                    a(href="/service/#{_id}/view")
                        +image_view key='image' direct=true
                .twelve.wide.column
                    div
                    +ismall name='marker' direct=true
                    each location_tags
                        .ui.basic.label #{this}
                    div
                    +ismall name='tags' direct=true
                    each tags
                        .ui.basic.label #{this}
                    div
                    a.ui.button(href="/service/#{_id}/view")
                        |view
                        i.right.chevron.icon

template(name='member_bids')
    .ui.header bids
    each bids
        .ui.fluid.segment.grid
            .row
                .sixteen.wide.column
                    a.ui.inline.header(href="/rental/#{rental._id}/view") #{rental.title} 
                        |$#{bid_amount} for #{date} @ #{hour}
            .row
                .four.wide.column
                    with rental
                        a(href="/rental/#{_id}/view")
                            img.ui.centered.rounded.small.image(src="{{c.url image gravity='face' crop='fit'}}")
                .twelve.wide.column
                    a.ui.button(href="/rental/#{_id}/view")
                        |view
                        i.right.chevron.icon

template(name='member_reservations')
    each reservations 
        +profile_reservation_item

template(name='profile_reservation_item')
    .ui.segment.grid
        .row
            .twelve.wide.column
                .ui.header #{rental.title}
        .row
            .four.wide.column
                with rental
                    +image_view key='image' direct=true classes='zoom ui mini image'
            .twelve.wide.column
                a.ui.header.inline.lowercase(href="/reservation/#{_id}/view")
                    small from 
                    |{{cal_time start_datetime}}
                a.ui.header.inline.lowercase(href="/reservation/#{_id}/view")
                    small to 
                    |{{cal_time end_datetime}}
                div
                .ui.grey.inline.header #{hour_duration} hrs
                .ui.grey.inline.header(title='credits')
                    i.coins.icon
                    | #{cost}
                .ui.small.header #{when} by #{_author_username}
                a.ui.large.fluid.button(href="/reservation/#{_id}/view")
                    |view
                    i.right.chevron.icon
                if is_admin
                    +remove_button



template(name='member_rentals')
    .ui.three.cards
        each rentals 
            +rental_card
        
        
template(name='member_handling')
    .ui.small.header rentals that member is facilitating
    .ui.three.cards
        each handling_rentals 
            +rental_card
        
        
        
template(name='rental_card')
    .ui.card
        a.zoom(href="/rental/#{_id}/view")
            img.ui.centered.image(src="{{c.url image height=200 width=200 background='white' crop='pad'}}")
        .content
            a.ui.inline.header(href="/rental/#{_id}/view") #{title} 
                if variable_price
                    |~
                if hourly_dollars
                    .ui.basic.label $#{hourly_dollars}/hr
                if daily_dollars
                    .ui.basic.label $#{daily_dollars}/day
            //- if hourly_karma
            //-     +ismall name='yin-yang'
            //-     |#{hourly_karma}/hr
            //- if daily_karma
            //-     +ismall name='yin-yang'
            //-     | #{daily_karma}/day
            +rental_status
        .content
            span(title='views')
                +ismall name='eye'
                |#{views}
            div
            +ismall name='marker'
            each location_tags
                .ui.basic.label #{this}
            div
            +ismall name='tags'
            each tags
                .ui.basic.label #{this}
            +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='bookmark' remove_label='unbookmark'  big=true
            div
            a.ui.button(href="/rental/#{_id}/view")
                |view
                i.right.chevron.icon
            +reserve_button




template(name='member_people')
    .ui.stackable.grid
        .eight.wide.column
            +member_following
        .eight.wide.column
            +follow_user

                
template(name='member_requests')
    .ui.header requests



template(name='member_messages')
    .ui.inline.header 
        +i name='envelope'
        |user messages
    .active.content
        if currentUser
            .ui.fluid.icon.input
                i.plus.icon
                input#new_message(type='text' placeholder='new message')
        each user_messages
            .ui.secondary.segment
                .ui.small.header #{body}
                each tags
                    .ui.label #{this}
                div
                +notify_message
                +user_list_toggle key='read_by_ids' label='Mark Read' icon='eye'
                if can_edit
                    +remove_button
                div
                +author_info
                +creation_info
                //- +watson_view
        

template(name='notify_message')
    unless notified
        .ui.circular.basic.icon.button.notify(title="notify #{to_username}")
            i.rss.icon
                
                

template(name='member_transactions')
    .ui.segment
        .ui.header sent karma
        each sent_karma
            .ui.segment
                .ui.inline.header #{_author_username}
                |#{description}
                each tags
                    .ui.label #{this}
                .ui.inline.header #{karma_amount}
    +transactions




template(name='member_following')    
    .ui.basic.segment
        .ui.header 
            +i name='alarm'
            |following
        +user_array_list user=user_from_username_param array='following_ids'
          

template(name='follow_user')    
    .ui.basic.segment
        .ui.inline.header
            unless current_user
                a.toggle_follow_user(href='#' title='Follow User')
                    i.renew.icon
            else
                +i name='google-alerts'
            |followed by
        +user_array_list user=user_from_username_param array='followed_by_ids'
                

template(name='member_wall')
    .ui.inline.center.aligned.header 
        +i name='my-topic'
        |wall
    .active.content
        if currentUser
            .ui.fluid.icon.input
                i.plus.icon
                input.new_post(type='text' placeholder='add post...')
        .ui.comments
            each wall_posts
                .comment
                    //- .avatar
                    .active.content
                        a.author(href='#') #{author.first_name} #{author.last_name}
                        .metadata
                            span.date #{when}
                        .text.large120 #{body}
                        .actions
                            +voting_small
                            //- i.remove.link.icon.remove_comment(title='Vote Down')
                            //- i.thumbs.up.link.icon.vote_up_comment(title='Vote Up')
                            //- |#{points}
                            i.message.link.icon.mark_comment_read(title='mark read')        



template(name='member_connections')
    .ui.large.header 
        +i name='handshake'
        |connections
    .ui.header 
        +i name='customer-insights-manager'
        |connected to
    .ui.two.cards
        each connected_to
            +small_horizontal_member_card username
            //- if is_current_user
            //-     +member_connect_button
    .ui.header 
        +i name='customer-insights-manager'
        |connected by
    .ui.two.cards
        each connected_by
            +small_horizontal_member_card username
        
template(name='member_connect_button')
    .ui.compact.small.button.toggle_connection
        if connected
            +ismall name='share-2'
            .ui.inline.blue.small.header 
                |connected
        else
            +ismall name='share-2'
            .ui.inline.small.header
                |connect
            

        
template(name='member_contact')
    .ui.header 
        +i name='contact'
        |contact
    if current_user
        .ui.header whatever info you want people to contact you by
        +textarea_edit key='contact_info' direct=true
    else
        +textarea_view key='contact_info' direct=true

template(name='member_stats')
    .ui.header 
        +i name='line-chart'
        |stats
    with user_from_username_param
        .ui.header #{karma} karma
        .ui.header #{credits} credits
        


template(name='member_feed')
    .ui.basic.segment
        .ui.inline.header 
            +i name='feed'
            |feed
        //- if current_user
        //-     .ui.fluid.input
        //-         input(type='text' placeholder='Share something...')
    +user_wall
                
                
                
template(name='member_bookmarks')
    .ui.header 
        +i name='star'
        |bookmarks
    .ui.four.stackable.cards
        each bookmarks
            .card
                .content
                    a.header(href="/m/#{model}/#{_id}/view") #{title} [#{model}]
                    .description #{when}







template(name='member_notifications')
    .ui.header 
        +i name='appointment-reminders'
        |notifications




template(name='member_tags')
    .ui.header 
        +i name='tags'
        |tags
    //- each tags
    //-     .ui.large.basic.label 
    //-         if is_user
    //-             i.remove.link.icon.remove_tag
    //-         |#{this}
    if is_current_user
        +array_edit key='tags' label='self tags' direct=true
        //- .ui.fluid.input
        //-     input.tag_user(type='text' placeholder='tag yourself...')
    else
        +array_view key='tags' label='self tags' direct=true
        .ui.header 
            +i name='add-tag' classes='ui inline mini image'
            |tag #{user_from_username_param.name}
        unless my_tag_review
            .ui.large.button.new_tag_review
                |tag #{user_from_username_param.first_name}
    each user_tag_reviews
        .ui.secondary.segment
            if can_edit
                +array_edit key='tags' label='your tags' icon='tag-window'  direct=true
            else 
                +array_view key='tags' label='review tags' icon='price-tag' direct=true
            +author_info
