template(name='model_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.row
                .four.wide.column
                    .ui.header(title="model: #{type}")
                        |#{title}
                    +creation_info
                    h1.ui.header Edit Model
                    .ui.form
                        +text_edit key='title' label='Title' direct=true
                        +text_edit key='slug' label='Slug' direct=true
                        +icon_edit key='icon' label='Icon' direct=true
                        +textarea_edit key='description' label='Description' direct=true
                        +array_edit key='tags' label='Tags' direct=true
                        +text_edit key='collection' label='Collection' direct=true
                    a.ui.green.big.circular.icon.button(href="/m/#{slug}")
                        i.big.checkmark.icon
                    #delete_model.ui.red.icon.circular.button
                        i.trash.icon
                            
                .twelve.wide.column
                    //- |#{type}
                    //- each fields
                    //-     +Template.dynamic template=edit_template 
                    //-     // .ui.header #{key} [#{field}] #{label}
                    .ui.inline.header Fields
                    .ui.icon.circular.button.add_field
                        i.plus.icon
                    each fields
                        .ui.segment
                            +field_edit


template(name='model_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .sixteen.wide.column
                    .ui.breadcrumb
                        a.section(href="/m/#{current_model.slug}" title=current_model.plural)
                            .ui.compact.small.button
                                |#{current_model.title}
                        .divider
                            i.chevron.right.icon
                        .active.section
                            if icon
                                i.icon(class=icon)
                            if title
                                |#{title}
                            else
                                | View #{type}
            .row
                .four.wide.column
                    // .ui.header
                    //     a.ui.icon.button(href="/m/#{type}" title=plural)
                    //         i.chevron.left.icon
                    //     |View #{type}
                    if can_edit
                        a.ui.fluid.button(href="/m/#{type}/#{_id}/edit")
                            i.pencil.icon
                            |Edit
                    each model.actions
                        +Template.dynamic template=this data=current_doc
                    // +user_list_toggle key='bookmark_ids' icon='bookmark' label='Bookmark' color='red'
                    +creation_info
                .twelve.wide.column
                    .ui.header
                        each fields
                            if header
                                +Template.dynamic template=view_template 
                        // if icon
                        //     i.icon(class=icon)
                        // |#{title}
                    each fields
                        unless header
                            .item
                                +Template.dynamic template=view_template 
                    div
                    +comments
                    if watson
                        +watson_view
        .ui.stackable.padded.grid
            .four.wide.column
                h1.ui.header #{title}
                .ui.circular.icon.big.green.button.add_child(title="Add #{slug}")
                    i.plus.icon
                a.ui.icon.circular.blue.big.button(href="/model/edit/#{_id}")
                    i.pencil.icon
                .ui.form
                    +text_view key='title'
                    +text_view key='slug'
                    +text_view key='icon'
                    +textarea_view key='description'
                    +array_view key='tags'
                +cloud filter=slug

            .twelve.wide.column
                //- .ui.header Fields
                //- each fields
                //-     .ui.divider
                //-     +field_view
                each model_docs
                    .ui.fluid.card
                        .content
                            +Template.dynamic template=model_doc
                            +array_view key='tags'
                            +edit_button

                    



template(name='field_edit')
    +text_edit key='title' direct=true label='Title'        
    +text_edit key='key'  direct=true label='Key'           
    +text_edit key='field_type' direct=true label='Field Type'              
    +single_doc_edit key='field_type' ref_model='field_type' label='Field Type' direct=true                 
    +number_edit key='rank' label='rank' direct=true                 
    +text_edit key='ref_model' label='Reference Model' direct=true               
    if is_ref  
        +single_doc_edit key='ref_model' ref_model='model' label='Reference Model' direct=true
    div             
    +remove_button
            
//- template(name='view_model')
        
template(name='field_view')
    +text_view key='title'                    
    +text_view key='key'                    
    +text_view key='field_type'                    
    +number_view key='rank' label='rank'                  

        
        
            
template(name='models') 
    .ui.stackable.padded.grid
        .four.wide.column
            h1.ui.center.aligned.header 
                i.icon(class=icon)
                |Models
            #add_model.ui.icon.circular.button
                i.green.plus.icon
            +cloud filter='model'
        .twelve.wide.column 
            .ui.centered.cards
                each models
                    +model
                    
                
template(name='model')
    .ui.card
        .content
            .header 
                i.icon(class=icon)
                |#{title}
            .description
                +text_view key='slug'
            a.ui.icon.circular.button(href="/model/edit/#{_id}") 
                i.pencil.icon
            a.ui.icon.circular.button(href="/m/#{slug}") 
                i.right.arrow.icon
