template(name='dev')
    .ui.container.padded.grid
        .row
            .sixteen.wide.column
                .ui.header global settings
                unless gs
                    .ui.button.make_gs make global settings
                with gs
                    .ui.header rick_mode #{rick_mode}
                    +boolean_edit key='rick_mode' direct=true
                    +text_edit key='icon_theme' label='icon theme' direct=true
                    +text_edit key='nav_color' label='nav color' direct=true
                a.ui.button(href="/owners") owners
                .sixteen.wide.column
                    .ui.input
                        .ui.label key
                        input(type='text' placeholder='key')
                    .ui.input
                        .ui.label value
                        input(type='text' placeholder='value')
                    .ui.input
                        .ui.label operator
                        input(type='text' placeholder='value')
                    each omegas
                        .ui.button.select_omega(class=selected_omega_class)
                            |omega session
                    .ui.header omega config
                    +set_omega_setting label='config mode' key='view_mode' value='config'
                    +set_omega_setting label='docs mode' key='view_mode' value='docs'
                    with omega_doc
                        .ui.header view mode: #{view_mode}
                    .ui.button.print_omega 
                        |print
        .row
            .sixteen.center.aligned.column
                unless omega_doc 
                    .ui.button.make_omega
                        |make omega
        .row
            .sixteen.center.aligned.column
                .ui.button
                    with model_model
                        .ui.header slug: #{slug}
                        .ui.header model: #{model}
                        each keys
                            .ui.label #{this}
                div
                .ui.center.aligned.header relationship #{relationship}
                div
                if selected_child
                    with selected_child_doc
                        .ui.button.active.deselect_child
                            .ui.header #{title}
                            |model: #{model}
                else 
                    each child_docs
                        .ui.button.select_child(class=child_doc_class)
                            +ismall name=icon
                            .ui.inline.header 
                                |#{title}
                            |model: #{model}



template(name='set_omega_setting')
    .ui.button.set_setting
        |#{label}
