template(name='library')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    .ui.padded.stackable.grid.header-wrapper
        //- +Template.dynamic template=kiosk_view
        .row
            .four.wide.center.aligned.column
                a.ui.big.button(href='/healthclub')
                    i.left.chevron.icon
                    |kiosk home
            .eight.wide.center.aligned.column
                h1.ui.massive.header 
                    i.university.icon
                    |library
            .four.wide.center.aligned.column
        .row
            .sixteen.wide.column
                .ui.four.cards
                    each library_items
                        +library_item
template(name='library_item')
    .ui.card
        img(src="{{c.url image_id height=300 width=300 crop='fill'}}")
        .content
            .header #{title}





template(name='shop')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    .ui.padded.stackable.grid.header-wrapper
        //- +Template.dynamic template=kiosk_view
        .row
            .four.wide.center.aligned.column
                a.ui.big.button(href='/healthclub')
                    i.left.chevron.icon
                    |kiosk home
            .eight.wide.center.aligned.column
                h1.ui.massive.header 
                    //- i.shop.icon
                    +i name='shop'
                    |shop
            .four.wide.center.aligned.column
        .row
            .sixteen.wide.column
                .ui.four.cards
                    each shop_items
                        +shop_item
template(name='shop_item')
    a.ui.card(href="/shop_item_page/#{_id}")
        img(src="{{c.url image_id height=300 width=300 crop='fill'}}")
        .content
            .header #{title}
            .ui.tiny.statistic
                .value
                    |$#{price}
template(name='shop_item_page')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    .ui.padded.stackable.grid.header-wrapper
        .row
            .four.wide.column
                a.ui.big.button(href='/healthclub')
                    i.left.chevron.icon
                    |kiosk home
            .twelve.wide.column
                with doc
                    h1.ui.header #{title}
                    h2.ui.header $#{price}
                    img(src="{{c.url image_id height=300 width=300 crop='fill'}}")
                    img(src='/qr.png')





template(name='food')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    .ui.padded.stackable.grid.header-wrapper
        //- +Template.dynamic template=kiosk_view
        .row
            .four.wide.center.aligned.column
                a.ui.big.button(href='/healthclub')
                    i.left.chevron.icon
                    |kiosk home
            .eight.wide.center.aligned.column
                h1.ui.massive.header 
                    i.university.icon
                    |food
            .four.wide.center.aligned.column
        .row
            .sixteen.wide.column
                .ui.four.cards
                    each food_items
                        +food_item
template(name='food_item')
    .ui.card
        img(src="{{c.url image_id height=300 width=300 crop='fit'}}")
        .content
            .header #{title}
            |$#{price}
            
            
            
            
            
            
            
template(name='events')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    .ui.padded.stackable.grid.header-wrapper
        //- +Template.dynamic template=kiosk_view
        .row
            .four.wide.center.aligned.column
                a.ui.big.button(href='/healthclub')
                    i.left.chevron.icon
                    |kiosk home
            .eight.wide.center.aligned.column
                h1.ui.massive.header 
                    +i name='calendar'
                    |events
            .four.wide.center.aligned.column
        .row
            .sixteen.wide.column
                .ui.four.cards
                    each event_items
                        +event_item
template(name='event_item')
    .ui.card
        img(src="{{c.url image_id height=300 crop='fit'}}")
        .content
            .header #{title}
            |!{description}
