template(name='movie_card_template')
    .ui.fluid.segment
        img.ui.inline.image(src="{{c.url image width=400 height=400}}")        
        a.ui.header(href="/m/movie/#{_id}/view")
            |#{first_name} #{last_name}
        a.ui.small.grey.header(href="/m/movie/#{_id}/view")
            |#{title}
        .ui.fluid.styled.accordion
            .title 
                +ismall name='tags' classes='ui inline image'
                |tags
                i.dropdown.icon
            .content 
                each tags
                    .ui.basic.label #{this}
            .title 
                +ismall name='info' classes='ui inline image'
                |plot summary
                i.dropdown.icon
            .content 
                |!{plot_summary}                
            .title 
                +ismall name='list' classes='ui inline image'
                |plot synopsis
                i.dropdown.icon
            .content 
                |!{plot_synopsis}                
            .title 
                +ismall name='business' classes='ui inline image'
                |work history
                i.dropdown.icon
            .content 
                |!{work_history}                
            .title 
                +ismall name='wrench' classes='ui inline image'
                |skills
                i.dropdown.icon
            .content 
                |!{skills}                
        div
        +voting_full
        a.ui.button(href="/m/movie/#{_id}/view")
            |view
            i.right.chevron.icon


template(name='movie_view')
    .ui.fluid.segment
        img.ui.inline.image(src="{{c.url image width=400 height=400}}")        
        a.ui.header(href="/m/movie/#{_id}/view")
            |#{first_name} #{last_name}
        a.ui.small.grey.header(href="/m/movie/#{_id}/view")
            |#{title}
        .ui.fluid.styled.accordion
            .title 
                +ismall name='tags' classes='ui inline image'
                |tags
                i.dropdown.icon
            .content 
                each tags
                    .ui.basic.label #{this}
            .title 
                +ismall name='info' classes='ui inline image'
                |plot summary
                i.dropdown.icon
            .content 
                |!{plot_summary}                
            .title 
                +ismall name='list' classes='ui inline image'
                |plot synopsis
                i.dropdown.icon
            .content 
                |!{plot_synopsis}                
            .title 
                +ismall name='business' classes='ui inline image'
                |work history
                i.dropdown.icon
            .content 
                |!{work_history}                
            .title 
                +ismall name='wrench' classes='ui inline image'
                |skills
                i.dropdown.icon
            .content 
                |!{skills}                
        div
        +voting_full
        a.ui.button(href="/m/movie/#{_id}/view")
            |view
            i.right.chevron.icon
