template(name='nav')
    .ui.inverted.grbrown.borderless.stackable.attached.labeled.icon.menu
        //- a.toggle_sidebar.icon.item
        //-     i.sidebar.icon
        a.icon.item(href='/dashboard' class="{{isActivePath '/dashboard'}}")
            i.bars.icon
            //- | dashboard
        a.icon.item(href='/users' class="{{isActivePath '/users'}}")
            i.users.icon
            //- | users
        each models    
            a.icon.item(href="/m/#{slug}" class="{{isActivePath '/users'}}" title=title)
                i.icon(class=icon)
        a.mobile.hidden.item(href='/checkin' class="{{isActivePath '/checkin'}}")
            i.clinic.medical.icon
            //- | health club
        .ui.mobile.hidden.labeled.icon.right.inverted.grbrown.menu
            if currentUser
                //- .ui.simple.dropdown.icon.item(href="/user/#{currentUser.username}/notifications" class="{{isActivePath '/messages'}}")
                //-     i.alarm.icon
                //-     | alerts
                //-     .menu
                //-         each notifications
                //-             .item #{text}
                a.icon.item(href="/user/#{currentUser.username}/messages" class="{{isActivePath '/messages'}}")
                    i.mail.icon
                    //- | mail
                a.mobile.hidden.item(href='/admin' class="{{isActivePath '/admin'}}")
                    i.user.shield.icon
                    //- | admin
                a.mobile.hidden.item(href="/user/#{currentUser.username}/view" class="{{isActiveRoute regex='user_chat'}}")
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    //- | #{currentUser.username}
                //- a#logout.ui.mobile.hidden.item(href='#') 
                //-     i.sign.out.icon
                    //- | Sign Out
            else
                a.ui.mobile.hidden.item(href='/login') 
                    i.sign.in.icon
                    | log in


template(name='sidebar')
    .ui.left.inline.vertical.sidebar.inverted.grbrown.fixed.menu
        a.header.toggle_sidebar.item(href='/' class="{{isActivePath '/'}}") 
            i.home.icon
            | gold run
        a.toggle_sidebar.item(href='/readings' class="{{isActivePath '/readings'}}")
            i.theme.icon
            | readings
        a.toggle_sidebar.item(href='/lostfound' class="{{isActivePath '/lostfound'}}")
            i.random.icon
            | lost and found
        a.toggle_sidebar.item(href='/bikes' class="{{isActivePath '/bikes'}}")
            i.bicycle.icon
            | bikes
        a.toggle_sidebar.item(href='/frontdesk' class="{{isActivePath '/frontdesk'}}")
            i.circle.info.icon
            | desk staff
        a.toggle_sidebar.item(href='/buildings' class="{{isActivePath '/buildings'}}")
            i.building.icon
            | buildings
        a.toggle_sidebar.item(href='/tasks' class="{{isActivePath '/tasks'}}")
            i.edit.icon
            | tasks
        a.toggle_sidebar.item(href='/keys' class="{{isActivePath '/keys'}}")
            i.key.icon
            | keys
        a.toggle_sidebar.item(href='/people' class="{{isActivePath '/people'}}")
            i.users.icon
            | people
        if currentUser
            a.item(href='/dashboard' class="{{isActivePath '/dashboard'}}")
                i.dashboard.icon
                | dashboard
            .ui.simple.dropdown.icon.item
                i.alarm.icon
                | alerts
            a.item(href='/messages' class="{{isActivePath '/messages'}}")
                i.mail.icon
                | mail
            if is_admin
                a.icon.toggle_sidebar.item(href='/admin/members' class="{{isActivePath '/admin/members'}}")
                    i.configure.icon
                    | admin
            a.item(href="/user/#{currentUser.username}/edit" class="{{isActiveRoute regex='user_edit'}}")
                if currentUser.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                | #{currentUser.username}
            a#logout.ui.item(href='#') 
                i.sign.out.icon
                | log out
        else
            a.ui.item(href='/login') 
                i.sign.in.icon
                | log in




template(name='footer')
    .ui.fluid.inverted.grbrown.attached.segment.footer
        .ui.container.grid
            .twelve.wide.inverted.column
                +health_club_info    
            .four.wide.column
                +role_switcher
        .row
            .ui.center.aligned.header
                i.creative.commons.icon
                |gold run
