template(name='product_day')
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                .ui.header product day #{month}/#{day}/#{year}
                a.ui.header(href="/shop/#{product._id}/view") #{product.title}
            .twelve.wide.column
                each hours
                    .ui.divider
                    .ui.inline.header hour #{this}
                    if reservation_exists
                        with reservation_exists
                            +hour_reservation
                    else
                        .ui.button.new_reservation reserve
                    //- +upcoming_day data=this

template(name='hour_reservation')
    .ui.header res exists
