template(name='rentals')
    .ui.secondary.segment
        .ui.header rentals
        .ui.green.button.rent rent
        each rentals
            +rental
            
            
template(name='rental')
    .ui.segment
        unless confirmed
            //- +datetime_edit key='start_time'
            //- +datetime_edit key='end_time'
            +range_edit
            .ui.button.calculate_diff diff
            .ui.icon.button.delete_rental
                i.remove.icon
                
        .ui.header from {{long_date start_datetime}} to {{long_date end_datetime}}
        +boolean_edit key='confirmed' label='confirmed' direct=true
        .ui.header #{rental_hours} hours at $#{../hourly_rate}/hour totaling $#{hourly_rental_price}
        if rental_days
            .ui.header #{rental_days} days at $#{daily_rental_price}/day
