template(name='services')
    .ui.stackable.padded.grid
        .six.wide.column
            .ui.inline.header 
                +i name='maintenance'
                |services
            .ui.button.add_service
                i.plus.large.green.icon
                | service
            div
            +ismall name='tags'
            .ui.inline.header tags
            +cloud filter='service'
            if is_dev
                +call_method name='calc_service_stats'
            with services_doc
                .ui.header #{total_count} total
                .ui.header #{complete_count} complete
                .ui.header #{incomplete_count} incomplete
                
        .ten.wide.column
            .ui.button my services
            .ui.button my building services
            .ui.button view complete
            .ui.button view incomplete
            .scrolling
                each service
                    +service_card_template
                    
                    
template(name='service_card_template')
    .ui.fluid.segment.grid
        .row
            .sixteen.wide.column
                .ui.inline.header #{title}
        .row
            .four.wide.column
                +image_view key='image' label='image' direct=true
            .twelve.wide.column
                div
                i.grey.marker.icon
                //- .ui.grey.inline.header location
                each location_tags
                    .ui.black.label #{this}
                div
                i.grey.tags.icon
                //- .ui.grey.inline.header tags
                each tags
                    .ui.black.label #{this}
                +single_user_view key='resident' label='resident' direct=true
                div
                +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='bookmark' remove_label='unbookmark'  big=true
    
                +voting
                div
                if currentUser
                    if can_edit
                        a.ui.button(href="/service/#{_id}/edit")
                            i.pencil.icon
                            |edit
                a.ui.button(href="/service/#{_id}/view")
                    |view
                    i.right.chevron.icon
                +author_info





template(name='service_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        +ismall name='add'
                        |add service
                    a.ui.big.icon.fluid.button(href="/service/#{_id}/view" title='save')
                        i.green.checkmark.icon
                    +remove_button
                    +image_edit key='image' label='image' direct=true
                .eight.wide.column 
                    +text_edit key='title' direct=true
                    +textarea_edit key='description' label='content' icon='content' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +single_user_edit key='resident' label='resident' direct=true
                    +text_edit key='contact_info' label='contact info' icon='info' direct=true
                .four.wide.column 
                    +array_edit key='availability_tags' label='availability tags' icon='clock' direct=true
                        
                     
template(name='service_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    a.ui.fluid.button(href="/m/service")
                        i.left.chevron.icon
                        +i name='maintenance' classes='ui avatar image'
                        |services
                    .ui.header view service
                    if currentUser
                        a.ui.big.icon.button(href="/service/#{_id}/edit")
                            i.pencil.icon
                    +image_view key='image' label='image' direct=true
                    +voting_full
                    +viewing
                .eight.wide.column
                    h1.ui.header #{title} 
                    .ui.segment
                        +textarea_view key='content' icon='content' label='content' direct=true
                        |#{body} #{notes}
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +single_user_view key='resident' label='resident' direct=true
                    +text_view key='contact_info' label='contact info' icon='info' direct=true
                    +comments
                .four.wide.column 
                    +service_history
                    +service_subscription
                    +service_time
                    
template(name='service_history')
    +ismall name='rss'
    .ui.inline.header
        |activity
    .ui.list
        each service_events
            .item #{text} #{when}
            
template(name='service_subscription')
    +ismall name='renew-subscription'
    .ui.inline.header
        |subscription settings
    .ui.button.subscribe subscribe to updates
        
    .ui.list
        each subscribers
            .item #{text} #{when}
            
template(name='service_time')
    +ismall name='clock'
    .ui.inline.header
        |time calculations
    .ui.button.subscribe subscribe to updates
    .ui.header #{when}
    .ui.header estimated time to complete
    .ui.header actual service duration
