template(name='tasks')
    //- img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=600 crop='crop'}}")    
    .ui.fluid.accordion
        .title
            .ui.inline.header 
                +i name='tasks' classes='ui avatar image'
                |tasks
                .ui.large.basic.label #{task_stats_doc.total_count} total
                .ui.large.basic.label #{task_stats_doc.complete_count} complete 
                .ui.large.basic.label #{task_stats_doc.incomplete_count} incomplete 
                .ui.large.basic.label #{task_stats_doc.total_updates_count} total updates 
                i.dropdown.large.icon
        .content
            .ui.grid
                .three.column.row
                    .column
                        .ui.icon.button.recalc_tasks(title='recalculate')
                            i.refresh.icon
                        with task_stats_doc
                            .ui.mini.header tasks completed time
                            .ui.mini.header task estimated time
                            .ui.mini.header task monthly completion rate
                            .ui.large.basic.label #{task_stats_doc.total_count} total
                            .ui.large.basic.label #{task_stats_doc.complete_count} complete 
                            .ui.large.basic.label #{task_stats_doc.incomplete_count} incomplete 
                            .ui.large.basic.label #{task_stats_doc.total_updates_count} total updates 
                        
                    .column
                        //- +latest_task_updates
                    .column
                        .ui.header 
                            +i name='comments'
                            |latest comments
                        .ui.large.link.bulleted.list
                            each latest_comments
                                a.active.item(href="/task/#{parent_id}/view") 
                                    strong #{body}
                                |#{when}
    
    .ui.padded.stackable.grid
        .row
            .twelve.wide.column
                .ui.inline.header
                    +i name='tasklist'
                    |tasks
                .ui.inline.grey.header
                    |your unit
                    |##{currentUser.unit_number}
                    |at ##{currentUser.building_number}
            .four.wide.column   
                .ui.button.add_task
                    i.large.plus.icon
                    |task
        .three.column.row
            .column
                +my_unit_tasks
            .column
                +my_building_tasks
            .column
                +all_tasks
        .three.column.row
            .column
                .ui.header
                    +i name='google-alerts'
                    |notifications
                .ui.list
                    each notifications
                        .item #{text}
            .column
                .ui.header
                    +i name='rss'
                    |activity
                .ui.list
                    each event_logs
                        .item #{text}
            .column
                +posts_small
        .three.column.row
            .column
                +model_scroller model='for_rent' header='for rent' icon='business'
        .three.column.row
            .sixteen.wide.column
                +view_chats


template(name='my_unit_tasks')
    .ui.header 
        +i name='room'
        |my unit tasks
    .ui.animated.list
        each my_unit_tasks
            +task_item
        
        
template(name='all_tasks')
    .ui.header 
        +i name='tasklist'
        |tasks
    .ui.animated.list
        each all_tasks
            +task_item
        
        
template(name='my_building_tasks')
    .ui.header 
        +i name='building'
        |building #{my_building.code} tasks
    .ui.animated.list
        each my_building_tasks
            +task_item

template(name='task_item')
    a.item(href="/task/#{_id}/view")
        .ui.small.header #{title}
        .content
            |#{when} by #{_author_username} #{building_number} #{unit_number}
    



template(name='task_edit')
    with current_doc
        .ui.stackable.padded.grid
            .three.column.row
                .column 
                    .ui.header 
                        i.pencil.icon
                        |edit task
                    a.ui.big.icon.fluid.button(href="/task/#{_id}/view" title='save')
                        i.green.checkmark.icon
                    +remove_button
                    +number_edit key='unit_number' label='unit_number' direct=true
                    +number_edit key='building_number' label='building_number' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +boolean_edit key='need_to_schedule' label='need to schedule' direct=true
                    +single_user_edit key='reported_by' label='reported by' direct=true
                .column 
                    +text_edit key='title' label='title' icon='title' direct=true
                    +image_edit key='image' label='image' icon='image' direct=true
                    +html_edit key='description' label='description' icon='content' direct=true
                .column 
                    .ui.header stats
                    .ui.small.header #{views} views
                    .ui.small.header #{points} points
                    .ui.header status
                    .ui.small.header status: #{status}
                    
                     
template(name='task_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    a.ui.fluid.button(href="/tasks")
                        i.left.chevron.icon
                        +i name='tasklist' classes='ui avatar image'
                        |tasks
                    .ui.header view task
                    a.ui.big.icon.button(href="/task/#{_id}/edit")
                        i.pencil.large.icon
                    +voting_full
                    .ui.header submitted #{_timestamp_long}
                    each _timestamp_tags
                        .ui.basic.label #{this}
                    +viewing
                .eight.wide.column 
                    +text_view key='title' label='title' direct=true
                    +number_view key='unit_number' label='unit_number' direct=true
                    +number_view key='building_number' label='building_number' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +boolean_view key='need_to_schedule' label='need to schedule' direct=true
                    +single_user_view key='reported_by' label='reported by' direct=true
                    .large150
                        +html_view key='description' icon='content' label='description' direct=true
                    +image_view key='image' icon='image' label='image' direct=true
                    +boolean_view key='published' label='published' direct=true
                    +comments
                .four.wide.column
                    .ui.header 
                        +i name='line-chart'
                        |stats
                    .ui.small.header #{views} views
                    .ui.small.header #{points} points
                    .ui.small.header status: #{status}
                    .ui.header 
                        +i name='rss'
                        |activity
                    .ui.list
                        each log_items
                            .item #{text}
