template(name='work_orders')
    .ui.stackable.padded.grid
        .six.wide.column
            .ui.inline.header 
                +i name='maintenance'
                |work orders
            .ui.button.add_work_order
                i.plus.large.icon
                | work order
            div
            +ismall name='tags'
            .ui.inline.header tags
            +cloud filter='work_order'
            if is_dev
                +call_method name='calc_work_order_stats'
            with wos_doc
                .ui.header #{total_count} total
                .ui.header #{complete_count} complete
                .ui.header #{incomplete_count} incomplete
                
        .ten.wide.column
            .ui.button my work orders
            .ui.button my building work orders
            .ui.button view complete
            .ui.button view incomplete
            .scrolling
                each work_orders
                    +work_order_card_template
                    
                    
template(name='work_order_card_template')
    .ui.fluid.segment.grid
        .row
            .sixteen.wide.column
                if complete
                    i.large.checkmark.icon
                else
                    i.large.circle.outline.icon
                .ui.inline.header !{content} #{body} #{notes}
        .row
            .four.wide.column
                +image_view key='image' label='image' direct=true
            .twelve.wide.column
                +array_view key='location_tags' label='location tags (eg. pavlion, 3rd floor window)' icon='marker' direct=true
                +array_view key='tags' label='tags' icon='tags' direct=true
                +boolean_view key='response_requested' label='response requested' icon='phone' direct=true
                if response_requested
                    +single_user_view key='resident' label='resident' direct=true
                    +text_view key='contact_info' label='contact info' icon='info' direct=true
                if is_staff
                    +boolean_view key='complete' label='complete' direct=true
                +number_view key='building_number' key='building #' icon='building' direct=true
                +number_view key='unit_number' label='unit #' icon='room' direct=true
                if currentUser
                    if can_edit
                        a.ui.icon.button(href="/work_order/#{_id}/edit")
                            i.pencil.large.icon
                a.ui.icon.button(href="/work_order/#{_id}/view")
                    i.right.chevron.large.icon
                +author_info
                div
                |#{when} #{_timestamp_long}
                .ui.divider
                .ui.header viewed by maintenance #{maintenance_view_timestamp}
                //- +comments





template(name='work_order_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        +ismall name='add'
                        |add work order
                    a.ui.big.icon.fluid.button(href="/work_order/#{_id}/view" title='save')
                        i.checkmark.icon
                    +remove_button
                    if is_staff
                        +date_edit key='date_action_taken' label='date action taken' direct=true
                .eight.wide.column 
                    +textarea_edit key='content' label='content' icon='content' direct=true
                    +image_edit key='image' label='image' direct=true
                    +array_edit key='tags' label='tags (eg. leak, wasps, hot tub)' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags (eg. pavlion, 3rd floor window)' icon='marker' direct=true
                    +boolean_edit key='response_requested' label='response requested' icon='phone' direct=true
                    if response_requested
                        +single_user_edit key='resident' label='user lookup (if you have a health club account)' direct=true
                        +text_edit key='contact_info' label='contact info' icon='info' direct=true
                .four.wide.column 
                    +number_edit key='building_code' key='building code' icon='building' direct=true
                    +number_edit key='building_number' key='building #' icon='building' direct=true
                    +number_edit key='unit_number' label='unit #' icon='room' direct=true
                    
                     
template(name='work_order_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    a.ui.fluid.button(href="/m/work_order")
                        i.left.chevron.icon
                        +i name='maintenance' classes='ui avatar image'
                        |work orders
                    .ui.header view work order
                    if currentUser
                        a.ui.big.icon.button(href="/work_order/#{_id}/edit")
                            i.pencil.icon
                    +voting_full
                    +viewing
                .eight.wide.column 
                    if complete 
                        i.large.checkmark.icon
                        |complete
                    else
                        i.large.circle.outline.icon
                        |incomplete
                    .ui.segment
                        +textarea_view key='content' icon='content' label='content' direct=true
                        |#{body} #{notes}
                    +image_view key='image' label='image' direct=true
                    +array_view key='location_tags' label='location tags (eg. pavilion, 3rd floor window)' icon='marker' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +boolean_view key='response_requested' label='response requested' icon='phone' direct=true
                    if response_requested
                        +single_user_view key='resident' label='resident' direct=true
                        +text_view key='contact_info' label='contact info' icon='info' direct=true
                
                    if is_staff
                        +boolean_view key='complete' label='complete' direct=true
                    +comments
                .four.wide.column 
                    +number_view key='building_number' key='building #' icon='building' direct=true
                    +number_view key='unit_number' label='unit #' icon='room' direct=true
                    +work_order_history
                    +wo_subscription
                    +wo_time
                    
template(name='work_order_history')
    +ismall name='rss'
    .ui.inline.header
        |activity
    .ui.list
        each work_order_events
            .item #{text} #{when}
            
template(name='wo_subscription')
    +ismall name='renew-subscription'
    .ui.inline.header
        |subscription settings
    .ui.button.subscribe subscribe to updates
        
    .ui.list
        each subscribers
            .item #{text} #{when}
            
template(name='wo_time')
    +ismall name='clock'
    .ui.inline.header
        |time calculations
    .ui.button.subscribe subscribe to updates
    .ui.header #{when}
    .ui.header estimated time to complete
    .ui.button.mark_complete mark complete
    if complete
        .ui.header complete date/time {{ long_date complete_timestamp}}
    .ui.header actual work order duration
