template(name='foods')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header 
                    +i name='shop'
                    |gold run market
                if currentUser
                    .ui.large.button.add_market_item
                        i.plus.icon
                        |add
            .twelve.wide.column
                .ui.four.cards
                    each foods
                        +food_card
                        


template(name='food_card')
    .card
        img(src=image_id)
        .content
            .header #{title}
            .ui.header #{price}
            .ui.button.view_food
                |view
                i.right.chevron.icon
                    
template(name='food_stats')
    .ui.header 
        i.line.chart.grey.icon
        |stats
    .ui.small.header #{currentUser.current_food_count} foods
    .ui.small.header #{currentUser.reservation_count} reservations
        
    
                
                
template(name='food_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.button(href="/market") 
                        +i name='shop'
                        |gro market
                    .ui.header #{title}
                    .ui.small.header $#{price}
                    +author_info
                    if can_edit
                        a.ui.fluid.button(href="/food/#{_id}/edit")
                            i.pencil.icon
                            |edit
                    else
                        .ui.big.green.button.request_now
                            |reserve
                .twelve.wide.column
                    img.ui.image(src="{{c.url image_id width=800 height=600 crop='fill'}}")
                    .ui.basic.segment
                        |!{description}
                    +i name='tags'
                    .ui.inline.header tags
                    each tags 
                        .ui.large.basic.label #{this}
                    +i name='food'
                    .ui.inline.header ingredients
                    each ingredients 
                        .ui.large.basic.label #{this}
                    +comments

                    
                    
template(name='food_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.button(href="/market") 
                        +i name='shop'
                        |gro market
                    .ui.header #{title}
                    .ui.small.header $#{price}
                    +author_info
                    if can_edit
                        a.ui.fluid.button(href="/food/#{_id}/edit")
                            i.pencil.icon
                            |edit
                    else
                        .ui.big.green.button.buy_now
                            |buy
                .twelve.wide.column
                    +image_edit key='image_id' label='image' direct=true
                    +html_edit key='description' label='description' direct=true
                    +array_edit key='tags' label='tags' direct=true
