template(name='market')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header 
                    +i name='shop'
                    |gold run market
                if currentUser
                    .ui.large.button.add_market_item
                        i.plus.icon
                        |add
            .twelve.wide.column
                .ui.four.cards
                    each products
                        +product_card
                        



template(name='transaction_view')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                a.ui.button(href="/market") 
                    +i name='shop'
                    |#{product.title}
                .ui.header #{title}
                .ui.small.header $#{price}
                +author_info
                if can_edit
                    a.ui.fluid.button(href="/product/#{_id}/edit")
                        i.pencil.icon
                        |edit
                else
                    .ui.big.green.button.buy_now
                        |buy now
            .twelve.wide.column
                img.ui.image(src="{{c.url image_id width=800 height=600 crop='fill'}}")
                .ui.basic.segment
                    |!{description}
                +i name='tags'
                each tags 
                    .ui.large.basic.label #{this}
                +comments
                +transactions


template(name='add_market_item')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.center.aligned.header add marketplace item
        .two.column.row
            .column
                .ui.big.fluid.icon.button.add_product
                    i.cart.massive.icon
                    .ui.header product
                    |eg. couch, computer, crockpot
            .column
                .ui.big.fluid.icon.button.add_service
                    i.dolly.massive.icon
                    .ui.header service
                    |eg. calculus tutoring, moving help, piano lessons
            .column
                .ui.big.fluid.icon.button.add_food
                    i.food.massive.icon
                    .ui.header food
                    |eg. bowl of chili, burrito, serving of dinner
            .column
                .ui.big.fluid.icon.button.add_rental
                    i.clock.massive.icon
                    .ui.header rental
                    |eg. powertools, boardgames, kitchen appliances, parking spot
                    
        
