template(name='product_card')
    .card
        img(src=image_id)
        .content
            .header #{title}
            .ui.header #{price}
            .ui.button.view_product
                |view
                i.right.chevron.icon
                    
//- 
//- template(name='product_card')                
//-     .ui.card
//-         .content
//-             a(href="/shop/#{_id}/view")
//-                 img.ui.avatar.image(src="{{c.url picture width=100 height=100 gravity='face' crop='crop'}}")
//-                 .ui.small.inline.header
//-                     | #{title}
//-             .ui.small.inline.header #{reader_count}
//-             .ui.small.inline.header #{points} likes
//-             .ui.small.inline.header #{transactions_count} transactions count


template(name='product_stats')
    .ui.header 
        i.line.chart.grey.icon
        |stats
    .ui.small.header #{currentUser.current_product_count} products
    .ui.small.header #{currentUser.reservation_count} reservations
        
    
                
                
template(name='product_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.button(href="/market") 
                        +i name='shop'
                        |gro market
                    .ui.header #{title}
                    .ui.small.header $#{price}
                    +author_info
                    if can_edit
                        a.ui.fluid.button(href="/product/#{_id}/edit")
                            i.pencil.icon
                            |edit
                    else
                        .ui.big.green.button.buy_now
                            |buy
                .twelve.wide.column
                    img.ui.image(src="{{c.url image_id width=800 height=600 crop='fill'}}")
                    .ui.basic.segment
                        |!{description}
                    +i name='tags'
                    each tags 
                        .ui.large.basic.label #{this}
                    +comments
                    
                    
template(name='product_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.button(href="/market") 
                        +i name='shop'
                        |gro market
                    .ui.header #{title}
                    .ui.small.header $#{price}
                    +author_info
                    if can_edit
                        a.ui.fluid.button(href="/product/#{_id}/edit")
                            i.pencil.icon
                            |edit
                    else
                        .ui.big.green.button.buy_now
                            |buy
                .twelve.wide.column
                    +image_edit key='image_id' label='image' direct=true
                    +html_edit key='description' label='description' direct=true
                    +array_edit key='tags' label='tags' direct=true
