template(name='edit_building')
    with building
        .ui.container
            .ui.header Edit Building
            .ui.form
                .field
                    label Building Code
                    input#building_code(type='text' value=building_code)
                .field
                    label Building Address
                    input#building_address(type='text' value=building_address)
                a.ui.green.big.button(href='/buildings') Save Building
                #delete_building.ui.red.icon.button
                    i.trash.icon            
            
template(name='buildings') 
    .ui.text.container
        h1.ui.center.aligned.header Buildings
            i#add_building.green.plus.link.icon 
            // |Add Pool Reading
        table.ui.table
            thead
                tr
                    th Building Code
                    th Building Address
                    th Actions
            tbody
                each buildings
                    tr
                        td #{building_code}
                        td #{building_address}
                        td 
                            a.ui.compact.button(href="/building/edit/#{_id}")
                                i.pencil.icon
                                | Edit

            