template(name='rentals')
    .ui.grid
        .row
            .six.wide.column
                a.ui.big.fluid.button(href='/healthclub')
                    i.left.chevron.icon
                    .ui.inline.header back
                h1.ui.header 
                    |market
                //- .ui.inline.header type
                +set_market_type label='for sale' icon='shopping bag'
                +set_market_type label='free' icon='thumbs up outline'
                +set_market_type label='service' icon='wrench'
                +set_market_type label='rental' icon='clock outline'
                +set_market_type label='seeking' icon='hand holding'
                +set_market_type label='casual encounters' icon='fire alternate'
                +set_market_type label='missed connections' icon='heart broken'
                +set_market_type label='events' icon='calendar'
                div
                +rental_cloud
            .ten.wide.column.scrolling
                .ui.two.cards
                    each rentals
                        +rental_kiosk_card

template(name='set_market_type')
    .ui.large.button 
        if icon
            i.icon(class=icon)
        |#{label}

template(name='rental_kiosk_card')
    .ui.card
        a.image.zoom.log_view(href="/kiosk_rental_view/#{_id}")
            img.ui.image(src="{{c.url image width=200 height=200 crop='lpad'}}")

        //- +image_view key='image' direct=true classes='zoom'
        .content
            a.ui.header.log_view(href="/kiosk_rental_view/#{_id}") #{title} 
                if variable_price
                    |~
                .ui.basic.large.label $#{hourly_rate}/hr
                .ui.basic.large.label $#{daily_rate}/day
            //- a.ui.button.log_view(href="/kiosk_rental_view/#{_id}")
            //-     |view
            //-     i.right.chevron.yellow.icon





template(name='rental_kiosk_segment')
    .ui.fluid.segment.grid
        .row
            .sixteen.wide.column
                a.ui.inline.header(href="/kiosk_rental_view/#{_id}") #{title} 
                    if variable_price
                        |~
                    .ui.basic.label $#{hourly_rate}/hr
                    .ui.basic.label $#{daily_rate}/day
        .row
            .four.wide.column
                a.zoom(href="/kiosk_rental_view/#{_id}")
                    if image
                        +image_view key='image' direct=true classes='zoom'
                    //- if picture
                    //-     +image_view key='picture' direct=true classes='zoom'
            .twelve.wide.column
                div
                //- .ui.grey.inline.header location
                //- each location_tags
                //-     .ui.basic.label #{this}
                //- div
                //- .ui.grey.inline.header tags
                //- each tags
                //-     .ui.basic.label #{this}
                //- +single_user_view key='resident' label='resident' direct=true
                //- div
                //- +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='bookmark' remove_label='unbookmark'  big=true
    
                //- +voting
                div
                //- if currentUser
                //-     if can_edit
                //-         a.ui.button(href="/rental/#{_id}/edit/info")
                //-             i.pencil.blue.icon
                //-             |edit
                a.ui.button(href="/kiosk_rental_view/#{_id}")
                    |view
                    i.right.chevron.yellow.icon
                //- +author_info





template(name='rental_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    a.ui.fluid.button(href="/rentals")
                        i.left.chevron.icon
                        |rentals
                    .ui.header viewing rental
                    if can_edit
                        a.ui.fluid.button(href="/rental/#{_id}/edit")
                            i.pencil.icon
                            |edit
                    +image_view key='image' label='image' direct=true
                    +image_view key='picture' label='image' classes='zoom' direct=true
                    +voting_full
                    +viewing
                    +comments
                .eight.wide.column
                    h1.ui.header #{title} 
                    +textarea_view key='description' icon='content' label='description' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +single_user_view key='resident' label='resident' direct=true
                    +text_view key='contact_info' label='contact info' icon='info' direct=true
                    +rental_transactions
                    +rental_reservations
                .four.wide.column 
                    +boolean_view key='set_duration' label='set duration' direct=true
                    if set_duration
                        +number_view key='duration_hours' label='duration hours' direct=true
                    +number_view key='hourly_rate' label='hourly rate' direct=true
                    +boolean_view key='variable_price' label='variable price' direct=true
                    div
                    +rental_status
                    +rental_finance
                    +rental_stats
                    //- +rental
                    //- +rental_history
                    //- +rental_subscription
                    //- +rental_time


template(name='rental_finance')
    .ui.inline.header 
        i.money.grey.icon
        |rental finance
    i.circular.link.refresh.icon.refresh_rental_finance_stats
    .ui.small.header total earnings
    .ui.small.header upcoming earnings
    .ui.small.header initial cost
    .ui.small.header maintenance costs/payments


template(name='rental_stats')
    div
    .ui.inline.header 
        i.line.chart.grey.icon
        |rental stats
    i.circular.link.refresh.icon.refresh_rental_finance_stats
    .ui.small.header total earnings
    .ui.small.header rental ranking #reservations
    .ui.small.header rental ranking $ earned
    .ui.small.header # different renters
    .ui.small.header avg rental time
    .ui.small.header avg daily earnings
    .ui.small.header avg weekly earnings
    .ui.small.header avg monthly earnings
    .ui.small.header biggest renter
    .ui.small.header predicted payback duration 
    .ui.small.header predicted payback date 
    



template(name='rental_status')
    div
    .ui.inline.header status
    if available 
        .ui.green.label available
        div
        .ui.big.green.fluid.button.new_reservation reserve/rent 


template(name='rental_card_template')
    .ui.fluid.segment.grid
        .row
            .sixteen.wide.column
                a.ui.inline.header(href="/kiosk_rental_view/#{_id}") #{title} 
                    if variable_price
                        |~
                    .ui.basic.label $#{hourly_rate}/hr
                    .ui.basic.label $#{daily_rate}/day
        .row
            .four.wide.column
                a.zoom(href="/rental/#{_id}/view")
                    if image
                        +image_view key='image' direct=true classes='zoom'
                    //- if picture
                    //-     +image_view key='picture' direct=true classes='zoom'
            .twelve.wide.column
                div
                .ui.grey.inline.header location
                each location_tags
                    .ui.basic.label #{this}
                div
                .ui.grey.inline.header tags
                each tags
                    .ui.basic.label #{this}
                +single_user_view key='resident' label='resident' direct=true
                //- div
                //- +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='bookmark' remove_label='unbookmark'  big=true
    
                +voting
                div
                if currentUser
                    if can_edit
                        a.ui.button(href="/rental/#{_id}/edit/info")
                            i.pencil.blue.icon
                            |edit
                //- a.ui.button(href="/kiosk_rental_view/#{_id}")
                a.ui.button(href="/rental/#{_id}/view/info")
                    |view
                    i.right.chevron.yellow.icon
                +author_info


template(name='rental_cloud')
    //- #cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    i.grey.tags.icon
    //- .ui.inline.header tags
    if selected_rental_tags
        #clear_tags.ui.active.icon.tiny.circular.button
            i.remove.icon
        each selected_rental_tags
            .unselect_rental_tag.ui.active.large.circular.kiosk_facet_button.button
                strong #{this}
    each all_rental_tags
        .ui.compact.large.circular.basic.button.kiosk_facet_button.select_rental_tag(class=cloud_tag_class) 
            strong #{this.name}





template(name='rental_cal')
    .ui.header 
        i.clock.icon
        |rentals
    unless is_author
        +view_rental
    //- .ui.green.button.rent Rent
    .ui.celled.grid
        .seven.column.row
            each upcoming_days
                .column
                    +upcoming_day data=this
    .ui.small.header #{current_month} reservations
    .ui.celled.grid
        .seven.column.row
            .header.column sun
            .header.column mon
            .header.column tue
            .header.column wed
            .header.column thu
            .header.column fri
            .header.column sat
        .seven.column.row
            each month_day
                +month_day_template
    each reservations
        .ui.segment
            .ui.small.inline.header 
                i.clock.grey.icon
                |#{hour}:00
            .ui.inline.small.header 
                |#{date} #{notes}
            +author_info
            if is_author
                +remove_button

template(name='month_day_template')
    .column
        a(href="/rental/#{rental._id}/daily_calendar/#{month}/#{day}/#{year}") #{this}
        .ui.basic.label(title='reservations') #{reservation_count}
        //- if reservation_exists
        //-     //- with reservation_exists
        //-         |#{_id}
        //-     .ui.icon.disabled.button
        //-         i.ban.icon(title='unavailable')
        //- else
        //-     .ui.icon.button.new_reservation
        //-         i.checkmark.icon(title='available')
                    
template(name='upcoming_day')
    a.ui.small.grey.header(href="/shop/#{product._id}/daily_calendar/#{month}/#{day}/#{year}") #{this.data.long_form}
    //- if reservation_slot
    //-     //- .ui.header res slot exists
    //-     +reservation_slot_template
    //- else
    //-     if is_product_author
    //-         .ui.button.new_slot
    //-             |new slot
        
template(name='reservation_slot_template')
    if is_grandparent_author
        with slot
            .ui.header $#{price}
            unless reservation
                +boolean_edit key='prepaid' direct=true
                +number_edit key='price' direct=true
                +remove_button
            //- +rental
    else
        .ui.divider
        .ui.header $#{slot.price}
        //- +boolean_edit key='rented' direct=true
        if reservation
            with reservation
                +reservation_template
        else
            //- with slot
            .ui.green.button.rent_item rent item
            
template(name='reservation_template')        
    .ui.header reservation
    +author_info
    .ui.small.header #{_author_username}
    if is_author
        +text_edit key='notes' direct=true
        +remove_button
    
            
template(name='view_rental')            
    .ui.segment
        .ui.header from {{long_date start_datetime}} to {{long_date end_datetime}}
        +boolean_view key='confirmed' label='confirmed' direct=true
        .ui.header #{rental_hours} hours at $#{../hourly_rate}/hour totaling $#{hourly_rental_price}
        if rental_days
            .ui.header #{rental_days} days at $#{daily_rental_price}/day

            
template(name='rental')
    .ui.segment
        //- if is_admin
        //-     +boolean_edit key='completed' label='completed' direct=true
            
        unless confirmed
            +date_edit key='reservation_day' direct=true
            //- +datetime_edit key='start_time'
            //- +datetime_edit key='end_time'
            //- +range_edit
            //- .ui.button.calculate_diff diff
            .ui.icon.button.delete_rental
                i.remove.icon
                
        +author_info
        //- .ui.header from {{long_date start_datetime}} to {{long_date end_datetime}}
        +boolean_edit key='confirmed' label='confirmed' direct=true
        .ui.header {{long_date reservation_day}}
        +date_view key='reservation_day' direct=true    
        //- .ui.header #{rental_hours} hours at $#{../hourly_rate}/hour totaling $#{hourly_rental_price}
        //- if rental_days
            .ui.header #{rental_days} days at $#{daily_rental_price}/day
        //- .ui.header #{rental_days} days at $#{daily_rental_price}/day




template(name='kiosk_rental_view')
    with current_doc
        .ui.padded.grid
            a.ui.fluid.big.button(href="/market")
                i.left.chevron.large.icon
                i.shopping.bag.large.icon
                |market
            .eight.wide.column
                +image_view key='image' direct=true
                a.ui.large.fluid.button(href="/rental/#{_id}/view/info") 
                    i.external.grey.icon
                    |full view
            .eight.wide.column
                h1.ui.header #{title}
                .ui.small.statistic
                    .value $#{hourly_rate}
                    .label /hour
                .ui.small.statistic
                    .value $#{daily_rate}
                    .label /day
                .ui.small.statistic
                    .value #{views}
                    .label views
                .ui.small.statistic
                    .value #{transaction_count}
                    .label transactions
                .ui.large.fluid.accordion
                    .title
                        |description 
                        i.dropdown.icon
                    .content
                        |!{description}
                    .title
                        |reservations 
                        i.dropdown.icon
                    .content
                        +rental_reservations
                    .title
                        |transactions 
                        i.dropdown.icon
                    .content
                        +rental_transactions
                if is_admin
                    +edit_button
                +comments
                +kiosk_send_message                    


template(name='rental_small')
    div
    a.ui.fluid.compact.button(href="/rentals")
        .ui.inline.header
            //- +i name='rent'
            //- i.clock.grey.icon
            |rentals
    //- +rental_cloud
    .ui.relaxed.list.smallscroll
        each rentals 
            .item.log_rental_view
                a(href="/kiosk_rental_view/#{_id}")
                    if image
                        img.ui.mini.inline.image(src="{{c.url image width=300 height=300 gravity='face' crop='fill'}}")
                    if picture
                        img.ui.mini.inline.image(src="{{c.url picture width=300 height=300 gravity='face' crop='fill'}}")
                    .ui.grey.inline.small.header 
                        |#{title}
                        small $#{daily_rate}/day
            //- div
            //- .ui.horizontal.list
            //-     .item
            //-         span(title='transactions')
            //-             i.route.icon
            //-             |#{transaction_count}
            //-     .item
            //-         span(title='money earned')
            //-             i.money.icon
            //-             |#{money_earned}
            


template(name='rental_transactions')
    .ui.header 
        i.exchange.icon
        |transactions
    each transactions
        a.ui.header(href="/transaction/#{_id}/view") #{when} by #{_author_username}
template(name='rental_reservations')
    .ui.header 
        i.clock.icon
        |reservations
    each reservations
        a.ui.header(href="/reservation/#{_id}/view") #{when} by #{_author_username}
