template(name='rental_edit_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        |rental edit
                    a.ui.big.fluid.button(href="/rental/#{_id}/view" title='save')
                        i.checkmark.large.green.icon
                        |save
                    +remove_button
                    .ui.vertical.large.fluid.menu
                        a.item(href="/rental/#{_id}/edit/info" class="{{isActiveRoute 'rental_edit_info'}}")
                            |info
                            i.info.grey.icon
                        a.item(href="/rental/#{_id}/edit/finance" class="{{isActiveRoute 'rental_edit_finance'}}")
                            |finance
                            i.money.grey.icon
                        a.item(href="/rental/#{_id}/edit/availability" class="{{isActiveRoute 'rental_edit_availability'}}")
                            |availability
                            i.clock.grey.icon
                        a.item(href="/rental/#{_id}/edit/audience" class="{{isActiveRoute 'rental_edit_audience'}}") 
                            |audience
                            i.users.grey.icon
                        a.item(href="/rental/#{_id}/edit/chat" class="{{isActiveRoute 'rental_edit_chat'}}")
                            |chat
                            i.chat.outline.grey.icon
                        a.item(href="/rental/#{_id}/edit/tasks" class="{{isActiveRoute 'rental_edit_tasks'}}")
                            |tasks                    
                            i.tasks.grey.icon
                        a.item(href="/rental/#{_id}/edit/ownership" class="{{isActiveRoute 'rental_edit_ownership'}}")
                            |ownership
                            i.pie.chart.grey.icon
                        a.item(href="/rental/#{_id}/edit/stats" class="{{isActiveRoute 'rental_edit_stats'}}")
                            |stats
                            i.line.chart.grey.icon
                        a.item(href="/rental/#{_id}/edit/ads" class="{{isActiveRoute 'rental_edit_ads'}}")
                            |ads
                            i.bullhorn.grey.icon
                .twelve.wide.column 
                    +yield
                    
                    
                    
template(name='rental_edit_info')      
    h1.ui.header 
        i.info.grey.icon
        |info
    +text_edit key='title' direct=true
    .ui.two.column.grid
        .column
            +image_edit key='picture' label='image' direct=true
        .column
            +html_edit key='description' label='content' icon='content' direct=true
    +array_edit key='tags' label='tags' icon='tags' direct=true
    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
    +single_user_edit key='resident' label='resident' direct=true
    +text_edit key='contact_info' label='contact info' icon='info' direct=true
    +link_edit key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true


template(name='rental_edit_finance')  
    h1.ui.header 
        i.money.grey.icon
        |finance
    +number_edit key='hourly_rate' label='hourly rate' direct=true
    +number_edit key='daily_rate' label='daily rate' direct=true
    div
    +boolean_edit key='variable_price' label='variable price' direct=true tooltip='allow system to increase/decrease price based on performance and popularity'
    div
    +boolean_edit key='negotiable_price' label='negotiable price' tooltip='allow people to make bids' direct=true
    div
    +number_edit key='retail_value' label='original retail value' tooltip='general info, helpful to renters to decide, also for price recommendations, and sorting' direct=true
    .ui.header 
        |pricing
    +boolean_edit key='cash_accepted' label='cash accepted' direct=true
    +boolean_edit key='prepay' label='prepayment required' direct=true
    +boolean_edit key='security_deposit_required' label='security deposit required' direct=true
    if security_deposit_required
        +number_edit key='security_deposit_amount' label='security deposit amount' icon='dollar' direct=true
    +boolean_edit key='friend_discount' label='friend discount' direct=true
    if friend_discount
        +number_edit key='friend_discount_amount' label='security deposit amount' icon='dollar' direct=true

            
                  
template(name='rental_edit_audience')
    h1.ui.header 
        i.users.icon
        |audience
    .ui.header visibility
    +boolean_edit key='visible_to_friends' label='friends' direct=true
    +boolean_edit key='visible_to_building' label='building' direct=true
    +boolean_edit key='visible_to_residents' label='residents' direct=true
    +boolean_edit key='visible_to_public' label='public' direct=true

template(name='rental_edit_chat')
    h1.ui.header 
        i.chat.icon
        |chat
    .ui.header visibility
    +boolean_view key='visible_to_friends' label='friends' direct=true
    +boolean_view key='visible_to_building' label='building' direct=true
    +boolean_view key='visible_to_residents' label='residents' direct=true
    +boolean_view key='visible_to_public' label='public' direct=true


    
template(name='rental_edit_tasks')
    h1.ui.header 
        i.tasks.icon
        |rental tasks
    .ui.header visibility
    +boolean_edit key='visible_to_friends' label='friends' direct=true
    +boolean_edit key='visible_to_building' label='building' direct=true
    +boolean_edit key='visible_to_residents' label='residents' direct=true
    +boolean_edit key='visible_to_public' label='public' direct=true

    
    
    
template(name='rental_edit_availability')  
    +array_edit key='availability_tags' label='availability tags' icon='clock' direct=true
    +boolean_edit key='available' label='currently available' direct=true
    +multi_doc_edit key='available_days' label='available days' ref_model='day_of_week' direct=true
    .ui.header
        |delivery
    +boolean_edit key='pickup_delivery' label='pickup' direct=true
    +boolean_edit key='home_dropoff_delivery' label='home dropoff' direct=true
    +boolean_edit key='building_dropoff_delivery' label='building dropoff' direct=true
    +boolean_edit key='healthclub_drop_off_delivery' label='health club drop off' direct=true
    .ui.header
        | visibility
    +boolean_edit key='published' label='published' direct=true
