template(name='rental_card_template')
    .ui.fluid.segment.grid
        .row
            .sixteen.wide.column
                a.ui.inline.header(href="/service/#{_id}/view") #{title} 
                    if variable_price
                        |~
                    .ui.basic.label $#{hourly_rate}/hr
                    .ui.basic.label $#{daily_rate}/day
        .row
            .four.wide.column
                a.zoom(href="/service/#{_id}/view")
                    if image
                        +image_view key='image' direct=true classes='zoom'
                    if picture
                        +image_view key='picture' direct=true classes='zoom'
            .twelve.wide.column
                div
                .ui.grey.inline.header location
                each location_tags
                    .ui.basic.label #{this}
                div
                .ui.grey.inline.header tags
                each tags
                    .ui.basic.label #{this}
                +single_user_view key='resident' label='resident' direct=true
                div
                +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='bookmark' remove_label='unbookmark'  big=true
    
                +voting
                div
                if currentUser
                    if can_edit
                        a.ui.button(href="/service/#{_id}/edit")
                            i.pencil.icon
                            |edit
                a.ui.button(href="/service/#{_id}/view")
                    |view
                    i.right.chevron.icon
                +author_info



template(name='rentals')
    .ui.header 
        i.clock.icon
        |rentals
    unless is_author
        +view_rental
    //- .ui.green.button.rent Rent
    .ui.celled.grid
        .seven.column.row
            each upcoming_days
                .column
                    +upcoming_day data=this
    .ui.small.header #{current_month} reservations
    .ui.celled.grid
        .seven.column.row
            .header.column sun
            .header.column mon
            .header.column tue
            .header.column wed
            .header.column thu
            .header.column fri
            .header.column sat
        .seven.column.row
            each month_day
                +month_day_template
    each reservations
        .ui.segment
            .ui.small.inline.header 
                i.clock.grey.icon
                |#{hour}:00
            .ui.inline.small.header 
                |#{date} #{notes}
            +author_info
            if is_author
                +remove_button

template(name='month_day_template')
    .column
        a(href="/shop/#{product._id}/daily_calendar/#{month}/#{day}/#{year}") #{this}
        .ui.basic.label(title='reservations') #{reservation_count}
        //- if reservation_exists
        //-     //- with reservation_exists
        //-         |#{_id}
        //-     .ui.icon.disabled.button
        //-         i.ban.icon(title='unavailable')
        //- else
        //-     .ui.icon.button.new_reservation
        //-         i.checkmark.icon(title='available')
                    
template(name='upcoming_day')
    a.ui.small.grey.header(href="/shop/#{product._id}/daily_calendar/#{month}/#{day}/#{year}") #{this.data.long_form}
    //- if reservation_slot
    //-     //- .ui.header res slot exists
    //-     +reservation_slot_template
    //- else
    //-     if is_product_author
    //-         .ui.button.new_slot
    //-             |new slot
        
template(name='reservation_slot_template')
    if is_grandparent_author
        with slot
            .ui.header $#{price}
            unless reservation
                +boolean_edit key='prepaid' direct=true
                +number_edit key='price' direct=true
                +remove_button
            //- +rental
    else
        .ui.divider
        .ui.header $#{slot.price}
        //- +boolean_edit key='rented' direct=true
        if reservation
            with reservation
                +reservation_template
        else
            //- with slot
            .ui.green.button.rent_item rent item
            
template(name='reservation_template')        
    .ui.header reservation
    +author_info
    .ui.small.header #{_author_username}
    if is_author
        +text_edit key='notes' direct=true
        +remove_button
    
            
template(name='view_rental')            
    .ui.segment
        .ui.header from {{long_date start_datetime}} to {{long_date end_datetime}}
        +boolean_view key='confirmed' label='confirmed' direct=true
        .ui.header #{rental_hours} hours at $#{../hourly_rate}/hour totaling $#{hourly_rental_price}
        if rental_days
            .ui.header #{rental_days} days at $#{daily_rental_price}/day

            
template(name='rental')
    .ui.segment
        //- if is_admin
        //-     +boolean_edit key='completed' label='completed' direct=true
            
        unless confirmed
            +date_edit key='reservation_day' direct=true
            //- +datetime_edit key='start_time'
            //- +datetime_edit key='end_time'
            //- +range_edit
            //- .ui.button.calculate_diff diff
            .ui.icon.button.delete_rental
                i.remove.icon
                
        +author_info
        //- .ui.header from {{long_date start_datetime}} to {{long_date end_datetime}}
        +boolean_edit key='confirmed' label='confirmed' direct=true
        .ui.header {{long_date reservation_day}}
        +date_view key='reservation_day' direct=true    
        //- .ui.header #{rental_hours} hours at $#{../hourly_rate}/hour totaling $#{hourly_rental_price}
        //- if rental_days
            .ui.header #{rental_days} days at $#{daily_rental_price}/day
        //- .ui.header #{rental_days} days at $#{daily_rental_price}/day




template(name='kiosk_rental_view')
    with current_doc
        .ui.padded.stackable.grid
            a.ui.fluid.big.button(href="/healthclub")
                i.left.chevron.large.icon
                |back
            .eight.wide.column
                +image_view key='image' direct=true
                +image_view key='picture' direct=true
            .eight.wide.column
                h1.ui.header #{title}
                |!{description}
                .ui.header $#{hourly_rate}/hr
                .ui.header $#{daily_rate}/day
                .ui.header #{views} views
                +voting
                div
                .ui.big.fluid.button.send_message 
                    +i name='send-comment' classes='ui inline mini image'
                    |send message
                if sending_message
                    .ui.header sending message
                    .ui.input 
                        input(type='text' placeholder='hi')
                    .ui.big.button.cancel_message cancel
                    


template(name='rental_small')
    .ui.header
        +i name='rent'
        |rentals
    .ui.big.relaxed.list
        each rentals 
            .item.log_rental_view
                a(href="/kiosk_rental_view/#{_id}")
                    if image
                        img.ui.mini.inline.image(src="{{c.url image width=300 height=300 gravity='face' crop='fill'}}")
                    if picture
                        img.ui.mini.inline.image(src="{{c.url picture width=300 height=300 gravity='face' crop='fill'}}")
                    .ui.grey.inline.small.header 
                        |#{title}
            //- div
            //- .ui.horizontal.list
            //-     .item
            //-         span(title='transactions')
            //-             i.route.icon
            //-             |#{transaction_count}
            //-     .item
            //-         span(title='money earned')
            //-             i.money.icon
            //-             |#{money_earned}
            
