template(name='kiosk_rental_view')
    with current_doc
        .ui.padded.grid
            .eight.wide.column
                a.ui.fluid.big.button(href="/market")
                    i.left.chevron.large.icon
                    i.store.large.icon
                    |market
                h1.ui.center.aligned.header #{title}
                +image_view key='image' direct=true
                i.grey.tags.icon
                each tags
                    .ui.basic.label #{this}
                //- if is_admin
                //-     a.ui.large.fluid.button(href="/rental/#{_id}/view/info") 
                //-         i.external.grey.icon
                //-         |full view
            .eight.wide.column
                .ui.inline.header $#{hourly_rate}
                .ui.small.grey.inline.header /hour
                div
                .ui.inline.header $#{daily_rate}
                .ui.small.grey.inline.header /day
                div
                .ui.inline.header #{views}
                .ui.small.grey.inline.header views
                div
                if available 
                    i.green.large.checkmark.icon
                    |available
                else 
                    .ui.grey.header 
                        i.large.grey.ban.icon
                        |available in 2 hours
                div 
                |!{description}
                +rental_reservations
                +rental_transactions
                div
                +number_view key='retail_value' label='original retail value' tooltip='general info, helpful to renters to decide, also for price recommendations, and sorting' direct=true
                .ui.header 
                    |payment
                if cash_accepted
                    i.green.money.icon 
                    |cash accepted
                if prepay
                    .ui.header prepayment required
                if security_deposit_required
                    .ui.header #{security_deposit_amount} security depoist required
                if friend_discount
                    .ui.header #{friend_discount_amount} friend discount
                .ui.header 
                    //- i.marker.grey.icon(title='location')
                    small location
                    |#{location}
                if is_admin
                    +text_edit key='location' direct=true
                +array_view key='availability_tags' label='availability tags' icon='clock' direct=true
                +boolean_view key='available' label='currently available' direct=true
                +multi_doc_view key='available_days' label='available days' ref_model='day_of_week' direct=true
                .ui.grey.header
                    i.dolly.icon
                    |delivery
                if pickup_delivery
                    .ui.basic.large.label 
                        i.dolly.icon
                        |pickup
                if home_dropoff_delivery
                    .ui.basic.big.label
                        i.truck.icon
                        |delivery 
                    if delivery_cost
                        .ui.big.basic.label $#{delivery_cost} delivery cost 
                if healthclub_drop_off_delivery
                    .ui.big.basic.label 
                        i.warehouse.icon
                        |healthclub dropoff/pickup
                    
                +comments
                if is_admin
                    a.ui.icon.button(href="/rental/#{_id}/edit")
                        i.blue.pencil.icon
                    //- +edit_button
                .ui.big.fluid.green.button.new_reservation
                    .ui.inverted.inline.header
                        |reserve
                        i.right.chevron.icon
                +kiosk_send_message                    




template(name='rental_view_info')      
    h1.ui.header 
        i.info.grey.icon
        |info
    +text_view key='title' direct=true
    .ui.two.column.grid
        .column
            +image_view key='image' label='image' direct=true
        .column
            +html_view key='description' label='content' icon='content' direct=true
    +array_view key='tags' label='tags' icon='tags' direct=true
    +array_view key='location_tags' label='location tags' icon='marker' direct=true
    +single_user_view key='resident' label='resident' direct=true
    +text_view key='contact_info' label='contact info' icon='info' direct=true
    +link_view key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true


            
                  
template(name='rental_view_audience')
    h1.ui.header 
        i.users.icon
        |audience
    .ui.header visibility
    +boolean_view key='visible_to_friends' label='friends' direct=true
    +boolean_view key='visible_to_building' label='building' direct=true
    +boolean_view key='visible_to_residents' label='residents' direct=true
    +boolean_view key='visible_to_public' label='public' direct=true

    
template(name='rental_view_ownership')
    h1.ui.header 
        i.pie.chart.icon
        |ownership
    .ui.header visibility
    +boolean_view key='visible_to_friends' label='friends' direct=true
    +boolean_view key='visible_to_building' label='building' direct=true
    +boolean_view key='visible_to_residents' label='residents' direct=true
    +boolean_view key='visible_to_public' label='public' direct=true

    
    
template(name='rental_view_tasks')
    h1.ui.header 
        i.tasks.icon
        |rental tasks
    .ui.header visibility
    +boolean_view key='visible_to_friends' label='friends' direct=true
    +boolean_view key='visible_to_building' label='building' direct=true
    +boolean_view key='visible_to_residents' label='residents' direct=true
    +boolean_view key='visible_to_public' label='public' direct=true

template(name='rental_view_ads')
    h1.ui.header 
        i.bullhorn.icon
        |ads
    .ui.header visibility
    +boolean_view key='visible_to_friends' label='friends' direct=true
    +boolean_view key='visible_to_building' label='building' direct=true
    +boolean_view key='visible_to_residents' label='residents' direct=true
    +boolean_view key='visible_to_public' label='public' direct=true

    
template(name='rental_view_chat')
    h1.ui.header 
        i.chat.icon
        |chat
    .ui.header visibility
    +boolean_view key='visible_to_friends' label='friends' direct=true
    +boolean_view key='visible_to_building' label='building' direct=true
    +boolean_view key='visible_to_residents' label='residents' direct=true
    +boolean_view key='visible_to_public' label='public' direct=true

template(name='rental_view_stats')
    h1.ui.header 
        i.chat.icon
        |stats
    .ui.header visibility
    +boolean_view key='visible_to_friends' label='friends' direct=true
    +boolean_view key='visible_to_building' label='building' direct=true
    +boolean_view key='visible_to_residents' label='residents' direct=true
    +boolean_view key='visible_to_public' label='public' direct=true
