template(name='login')
    .ui.padded.stackable.grid
        .centered.row
            .ten.wide.column
                .ui.center.aligned.basic.segment
                    .ui.header Gold Run Online Login
                    //- i.massive.icons
                    //-     i.home.grey.icon
                    //-     i.corner.right.chevron.icon
                if message
                    h4.ui.center.aligned.header #{message}
                .ui.fluid.input(class=login_class)
                    .ui.inline.grey.small.header 
                        i.user.grey.icon
                        |Username
                    input.username(type='text')
                .ui.fluid.input(class=login_class)
                    .ui.inline.grey.small.header 
                        i.lock.grey.icon
                        | Password
                    input.password(type='password')
                //- if username
                if logging_in
                    .ui.fluid.large.circular.basic.button.enter(title="Login #{username}" class=enter_class)
                        | Login #{username}
                        i.right.chevron.icon
                else
                    if username
                        .ui.center.aligned.basic.segment
                            .ui.small.grey.header no '#{username}' user
                            a.ui.circular.grey.button(href='/register')
                                i.user.plus.icon
                                | Register
                .ui.center.aligned.basic.segment    
                    a.ui.circular.large.basic.button(href='/forgot_password')
                        i.refresh.icon
                        |Forgot Password
                    a.ui.circular.large.basic.button(href='/register') 
                        i.user.plus.icon
                        |Register
