template(name='login')
    .ui.padded.stackable.grid
        .centered.row
            .six.wide.column
                h1.ui.center.aligned.header gro login
                    //- i.massive.icons
                    //-     i.home.icon
                    //-     i.corner.right.chevron.icon
                if message
                    h4.ui.center.aligned.header #{message}
                .ui.inline.small.header 
                    |username
                .ui.fluid.large.input(class=login_class)
                    input.username(type='text')
                .ui.inline.small.header 
                    //- +i name='password'
                    | password
                .ui.fluid.large.input(class=login_class)
                    input.password(type='password')
                //- if username
                if logging_in
                    .ui.fluid.big.basic.button.enter(title="login #{username}" class=enter_class)
                        //- |login
                        strong #{username}
                        i.sign.in.alternate.icon
                        //- +i name='enter-2' classes='ui mini inline image'
                        //- i.right.chevron.icon
                else
                    if username
                        .ui.center.aligned.basic.segment
                            .ui.header no '#{username}' user
                            a.ui.basic.button(href='/register')
                                i.user.plus.icon
                                //- +i name='enter-2' classes='ui mini inline image'                    
                                | register
                .ui.center.aligned.basic.segment    
                    a.ui.button(href='/forgot_password')
                        //- +i name='forgot-password' classes='ui mini inline image'                    
                        //- i.refresh.icon
                        |forgot password
                //- .ui.center.aligned.inline.header see the front desk to register an account
                    //- a.ui.large.basic.button(href='/register') 
                    //-     //- +i name='add-user-male' classes='ui mini inline image'                    
                    //-     i.user.plus.icon
                    //-     |register
